<%= page do |p| %>

  <%= p.breadcrumb do %>
    <%= breadcrumb false, exception=true do |b| %>
      <%= b.item('Каталоги', catalogs_path) %>
      <%= b.item(@brand.name) %>
    <% end %>
  <% end %>

  <%= p.title do %>
    <%= image_tag @brand.image_url, class: 'pull-right img-thumbnail', style: 'margin-top: -60px;' %>
    <%= page_header %>
    <%= discourse_head %>
  <% end %>

  <%= p.content do %>
    <% if @models.exists? %>
      <%= panel 'primary', class: 'by-car' do |p| %>
        <%= p.heading do %>
          <%= p.title do %>
            Выберите модель автомобиля <%= @brand.name %>
          <% end %>
        <% end %>
        <%= p.body do %>
          <ol id="catalogs-brands-show-models">
            <% @models.each do |model| %>
              <li data-clickable-object> <%= link_to safe_join([hidden("Запчасти на #{@brand.name} "), content_tag(:strong, model.name)]), catalogs_model_path(model), 'data-clickable-href' => '' %> <%= "<small class='text-muted'>(#{model.count}&nbsp;шт.)</small>".html_safe %></li>
            <% end %>
          </ol>
        <% end %>
      <% end %>
    <% else %>
      <% @meta_robots = 'noindex' %>
    <% end %>

    <% if false %>
    <br />
    <% if @current_user.seller? %>
      <%= link_to edit_admin_brand_path(@brand, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
        <%= icon 'edit' %>
        Редактировать
      <% end %>
    <% end %>
    <% end %>

  <% end %>

<% end %>

<%= discourse_body %>
