<%= somebody_tabs do %>
  <% b = Breadcrumb.new(self) %>

  <ol class="breadcrumb">
    <%= b.item('Каталоги', catalogs_path) %>
    <%= b.item(@brand.name) %>
  </ol>

  <% @meta_title = "ЗАПЧАСТИ НА #{@brand.name}" %>
  <% @meta_title_lead = image_tag @brand.image_url %>
  <% @meta_title_small = "(рус. #{@brand.slang})" if @brand.slang.present? %>
  <%= page_header %>

  <hr />

  <ol id="catalogs-brand-models">
    <% @models.each do |model| %>
      <li> <%= link_to "ЗАПЧАСТИ НА #{@brand.name} #{model.cached_model}", catalogs_model_path(model.to_model_param) %> </li>
    <% end %>
  </ol>

  <hr />

  <%= render partial: 'best_parts_list', layout: 'paginator'  %>

  <div id="catalogs-brand-preview"><%==  @brand.preview %></div>
  <div id="catalogs-brand-content"><%== @brand.content %></div>

  <br />

  <% if @current_user.seller? %>
    <%= link_to edit_admin_brand_path(@brand, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
      <%= icon 'edit' %>
      Редактировать
    <% end %>
  <% end %>

<% end %>
