<% b = Breadcrumb.new(self) %>

<%= b1 do %>

  <ol class="breadcrumb">
    <%= b.item('Каталог', catalogs_path) %>
    <%= b.item(@brand.name) %>
  </ol>

  <% @meta_title = "#{@brand.name}" %>
  <% @meta_title_lead = image_tag @brand.image_url %>
  <% @meta_title_small = "(рус. #{@brand.slang})" if @brand.slang.present? %>
  <%= page_header %>

  <div id="catalogs-models">
    <% @models.each do |model| %>
      <div> <%= link_to model.cached_model, catalogs_model_path(model.to_model_param) %> </div>
    <% end %>
  </div>

  <hr />
  <div id="catalogs-brand-preview">
    <%==  @brand.preview %>
  </div>
  <br />
  <br />
  <div id="catalogs-brand-content">
    <%== @brand.content %>
  </div>

<% end %>
