<%= row do %>

  <div class="col-md-8">

    <%= twbs_form_for @resource, :url => polymorphic_path([:admin, @resource], return_path: params[:return_path]) do |f| %>

      <%= f.twbs_text_field :path, asterisk: true %>
      <%= f.twbs_text_field :title %>
      <%= f.twbs_text_field :robots %>
      <%= f.twbs_text_area :keywords %>
      <%= f.twbs_text_area :description %>
      <%= f.twbs_text_area :content, class: 'ckeditor-extended' %>

      <%# TODO f.association :creator, :disabled => true %>

      <%= f.twbs_submit %>

    <% end %>

  </div>

<% end %>
