<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', link_to(root_path) %>
    <%= b.item 'Каталоги' %>
  <% end %>

  <%= p.title do %>
    <%= page_header %>
    <%= discourse_head %>
  <% end %>

  <%= p.content do %>
    <% if @brands.exists? %>
      <%= panel 'primary' do |p| %>
        <%= p.heading do %>
          <%= p.title do %>
            Выберите марку автомобиля
          <% end %>
        <% end %>
        <%= p.body do %>
          <div id="catalogs-show-brands" class="brands bottom-space-lg clearfix">
            <% @brands.each do |brand| %>
              <%= brands_decorator(lambda{|brand| catalogs_brand_path(brand)}, brand, lambda{|brand| "#{hidden('Запчасти на ')}#{brand.name} <br><small class='text-muted'>(#{brand.count} шт.)</small>".html_safe}) %>
            <% end %>
          </div>
        <% end %>
      <% end %>


    <% end %>
  <% end %>

<% end %>

<%= discourse_body %>
