<%= somebody_tabs do %>

  <% b = Breadcrumb.new(self) %>

  <ol class="breadcrumb">
    <%= b.item('Каталоги', catalogs_path) %>
    <%= b.item(@brand.name, catalogs_brand_path(@brand)) %>
    <%= b.item(@model.name) %>
  </ol>

  <%= image_tag @brand.image_url, class: 'pull-right', style: 'margin-top: -30px;' %>

  <% @meta_title = "ЗАПЧАСТИ НА #{@brand.name} #{@model.name}" %>
  <% @meta_title_small = "(рус. #{@model.slang})" if @model.slang.present? %>
  <% @meta_title_lead = @model.preview %>
  <%= page_header %>

  <div class="clearfix"></div>

  <% if @spare_infos.exists? %>
    <%= panel 'info', class: 'by-car' do |p| %>
      <%= p.heading do %>
        <%= p.title do %>
          Выберите группу запчастей <%= @brand.name %> <%= @model.name %>
        <% end %>
      <% end %>
      <%= p.body do %>
        <ol id="catalog-spare-catalogs">
          <% @spare_infos.each do |spare_info| %>
            <li> <%= link_to spare_info.cached_spare_catalog, category_model_path(spare_info.to_category_param, @model) %> </li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  <% end %>

  <% if @model.content.present? %>
    <div id="model-content"><%== @model.content %></div>
  <% end %>

  <% if @current_user.seller? %>
    <%= link_to edit_admin_model_path(@model, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
      <%= icon 'edit' %>
      Редактировать
    <% end %>
  <% end %>
<% end %>
