<% b = Breadcrumb.new(self) %>

<%= b1 do %>

  <ol class="breadcrumb">
    <%= b.item('Каталоги', catalogs_path) %>
    <%= b.item(@brand.name, catalogs_brand_path(@brand)) %>
    <%= b.item(@model.name) %>
  </ol>

  <% @meta_title = "#{@brand.name} #{@model.name}" %>
  <% @meta_title_small = "(рус. #{@model.slang})" if @model.slang.present? %>
  <%= page_header %>

  <ol id="catalogs-model-generations">
    <% @generations.each do |generation| %>
      <li> <%= link_to generation.cached_generation, catalogs_generation_path(generation.to_generation_param) %> </li>
    <% end %>
  </ol>

  <%= render 'best_parts_list' %>

  <% if @model.content.present? %>
    <hr />
    <div id="catalogs-model-content"><%== @model.content %></div>
  <% end %>

  <% if @current_user.seller? %>
    <%= link_to edit_admin_model_path(@model, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
      <%= icon 'edit' %>
      Редактировать
    <% end %>
  <% end %>

<% end %>
