<%= f.form_group nil, rel: "collapse-next" do %>
  <button class="btn btn-default btn-xs" type="button" data-toggle="collapse-next">
    <span>Подтверждение</span>
  </button>
<% end %>

<div rel='acceptance-test' class="collapse">
  <%= f.twbs_check_box :confirmed %>
  <%= f.twbs_date_select :confirmation_datetime %>

  <% if f.object.persisted? %>
    <%= f.form_group do %>
      <%= link_to "Отправить PIN код для подтверждения", smart_route({prefix: [:ask], postfix: [:confirm, f.object.class.name.underscore]}, user_id: params[:user_id], id: f.object.id), method: :post, remote: :true %>
    <% end %>
  <% end %>
</div>
