<%= row do %>

  <div class="col-sm-8">

    <%= twbs_form_for @session, url: login_with_path(with: params[:with]), :method => :post do |f| %>

      <%= f.alert_danger do %>
        <%= @session.errors[:base].join %> Забыли пароль? 
        <%= alert_link_to 'Восстановление пароля.', contacts_password_reset_path(password_reset: { with: params[:with] }) %>
      <% end %>

      <% if params[:with] == 'email' %>
        <%= f.twbs_text_field :value, label: 'E-mail', asterisk: true %>
      <% end %>

      <% if params[:with] == 'phone' %>
        <%= f.phone :value, label: 'phone', asterisk: true %>
      <% end %>

      <%= f.twbs_password_field :password, asterisk: true %>

      <div class="checkbox">
        <label>
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          Запомнить меня на этом компьютере
        </label>
      </div>

      <%= f.twbs_submit %>

    <% end %>

  </div>

<% end %>
