<%= page_header 'Вход на сайт' %>

<div class="col-sm-8">
  <%= render 'variants' %>
  <hr>
  <%= render 'form' %>
</div>

<div class="col-sm-4">
  <div class="well">
    <%= render 'shared/forgot_password' %>
    <%= render 'shared/not_registered_yet' %>
    <%= render 'shared/auth_log_in' %>
  </div>
</div>
