<div class='col-sm-4'>
  <%= panel 'primary' do |p| %>
    <%= p.body do %>
      <%= render 'remember_password' %>
      <%= render 'shared/not_registered_yet' %>
      <%= render 'application/auth/log_in' %>
    <% end %>
  <% end %>
</div>
