<%= somebody_tabs do %>

  <%= row do %>

    <div class="col-sm-16 bottom-space-lg">

      <% @meta_title = "Ввод PIN кода" %>

      <%= page_header %>

      <%= render 'pin_form' %>

    </div>

    <%= render 'auth_right' %>

  <% end %>

<% end %>
