<%= panel 'default' do |p| %>
  <%= p.heading do %>
    <%= p.title do %>

      <%= link_to "ЗАПЧАСТИ", categories_path %> <%= icon 'angle-right' %>
      <%= link_to part.spare_catalog.name, category_path(part.spare_catalog) %> <%= icon 'angle-right' %>
      <%= link_to part.to_label, new_user_product_path(catalog_number: part.catalog_number) %>

    <% end %>
  <% end %>
  <%= p.body do %>
    <%= row do %>
      <div class="col-md-8 text-center">
        <%= render 'spare_info_images', info: part %>
        <h4 class="top-space bottom-space"><%= part.warehouses.map{|wh| number_to_currency(wh.price)}.join(', ') %></h4>
        <%= link_to "Купить", "#", class: "btn btn-lg btn-success bottom-space" %>
        <%# resource_class.human_attribute_name(:spare_info) %>
        <%# accumulator.spare_info %>
        <%# link_to 'Show', accumulator %>
        <%# link_to 'Edit', edit_accumulator_path(accumulator) %>
        <%# link_to 'Destroy', accumulator, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="col-md-16">
        <%= render "#{resource_class.name.underscore.pluralize}/chars", part: part, resource_class: resource_class if part.accumulator %>
      </div>
    <% end %>
  <% end %>
<% end %>
