<h1>Listing add_requst_id_to_cars</h1>

<table>
  <tr>
    <th>Request</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @add_requst_id_to_cars.each do |add_requst_id_to_car| %>
  <tr>
    <td><%= add_requst_id_to_car.request %></td>
    <td><%= link_to 'Show', add_requst_id_to_car %></td>
    <td><%= link_to 'Edit', edit_add_requst_id_to_car_path(add_requst_id_to_car) %></td>
    <td><%= link_to 'Destroy', add_requst_id_to_car, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Add requst id to car', new_add_requst_id_to_car_path %>
