<div class="col-sm-4">
  <%= panel 'primary' do |p| %>
    <%= p.body do %>
      <%= render 'registered' %>
      <%= render 'shared/forgot_password' %>
      <%= render 'application/auth/log_in' %>
    <% end %>
  <% end %>
</div>
