<%= somebody_tabs do %>

  <%= row do %>

    <div class="col-sm-8 bottom-space-lg">

      <%= render 'variants' %>
      <hr />
      <%= render 'form' %>

    </div>

    <%= render 'auth_right' %>

  <% end %>

<% end %>
