<% b = Breadcrumb.new(self) %>

<%= b1 do %>

  <ol class="breadcrumb">
    <%= b.item('Запчасти', categories_path) %>
    <%= b.item(@resource.name, category_brands_path(params[:category_id])) %>
    <%= b.item(@brand.name, category_brand_path(params[:category_id], @brand.to_param)) %>
    <%= b.item(@model.name, category_model_path(params[:category_id], @model.to_param)) %>
    <%= b.item(@generation.name) %>
  </ol>

  <% @meta_title = "#{@resource.name} #{@brand.name} #{@model.name} #{@generation.name}" %>
  <%= page_header %>

  <ol id="category-modifications">
    <% @modifications.each do |modification| %>
      <li> <%= link_to modification.cached_modification, category_modification_path(params[:category_id], modification.to_modification_param) %> </li>
    <% end %>
  </ol>

  <%= render 'best_parts_list' %>

<% end %>

