<%= somebody_tabs do %>

  <% b = Breadcrumb.new(self) %>

  <ol class="breadcrumb">
    <% if @resource.opt %>
    <%= b.item('Запчасти', categories_path) %>
    <%= b.item(@resource.name, category_path(params[:category_id])) %>
    <%= b.item(@brand.name, category_brand_path(params[:category_id], @brand.to_param)) %>
    <%= b.item(@model.name, category_model_path(params[:category_id], @model.to_param)) %>
    <%= b.item(@generation.name) %>
    <% else %>
    <%= b.item('Каталоги', catalogs_path) %>
    <%= b.item(@brand.name, catalogs_brand_path(@brand)) %>
    <%= b.item(@model.name, catalogs_model_path(@model)) %>
    <%= b.item(@resource.name, category_model_path(params[:category_id], @model.to_param)) %>
    <%= b.item(@generation.name) %>
    <% end %>
  </ol>

  <%= image_tag @brand.image_url, class: 'pull-right', style: 'margin-top: -30px;' %>

  <% @meta_title = "#{@resource.name} НА #{@brand.name} #{@model.name} #{@generation.name}" %>
  <%= page_header %>

  <div class="clearfix"></div>

  <% if @spare_applicabilities.exists? %>
    <%= panel 'info', class: 'by-car' do |p| %>
      <%= p.heading do %>
        <%= p.title do %>
          Подбор <%= @resource.name %> для <%= @brand.name %> <%= @model.name %> <%= @generation.name %>
        <% end %>
      <% end %>
      <%= p.body do %>
        <ol id="category-modifications">
          <% @spare_applicabilities.each do |spare_applicability| %>
            <li> <%= link_to spare_applicability.cached_modification, category_modification_path(params[:category_id], spare_applicability.to_modification_param) %> </li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  <% end %>

  <% if @resource_class %>
    <%= render partial: "#{@resource_class.name.underscore.pluralize}/index" %>
  <% else %>
    <%= render partial: 'best_parts_list', layout: 'paginator'  %>
  <% end %>

  <% if @current_user.seller? %>
    <%= link_to edit_admin_generation_path(@generation, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
      <%= icon 'edit' %>
      Редактировать
    <% end %>
  <% end %>

<% end %>
