<%= somebody_tabs do %>
  <%= row do %>
    <%= c2 do %>
      <% @meta_title_lead = "Выберите интересующий вас вопрос. Если ваш вопрос отсутствует, то можете задать его менеджеру или на <a href='http://forum.avtorif.ru/c/kompaniya/chastye-voprosy'>нашем форуме, в разделе частые вопросы</a>.".html_safe %>
      <% @meta_title = 'Частые вопросы' %>
      <%= page_header %>

      <div class="panel-group" id="faqs">
        <% @topics.each do |topic| %>
          <%= panel 'primary' do |p| %>
            <%= p.heading :"data-clickable-object" => '' do %>
              <%= p.title do %>
                <a data-toggle="collapse" data-clickable-href data-parent="#faqs" href="#faq-<%= topic['id'] %>">
                  <%= topic['title'] %>
                  <%= icon 'caret-down pull-right' %>
                </a>
              <% end %>
            <% end %>
            <div id="faq-<%= topic['id'] %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%== topic['post'] %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
