<%= somebody_tabs do %>

  <%= image_tag @brand.image_url, class: 'pull-right', style: 'margin-top: -30px;' %>

  <% @meta_title = "Производитель запчастей #{@brand.name}" %>
  <% @meta_title_lead = @brand.preview %>
  <% @meta_title_small = "(рус. #{@brand.slang})" if @brand.slang.present? %>
  <%= page_header %>

  <div class="clearfix"></div>

  <h2>Основные направления деятельности компании <%= @brand.name %></h2>
  <ul>
    <% @brand.opts.each do |opt| %>
      <%# TODO Посмотреть потом почему тут пустой иногда бывает %>
      <% if opt.present? %>
        <li>
        <%= link_to "Каталог #{t opt} компании #{@brand.name}", category_path(SpareCatalog.find_by(opt: opt), q: {spare_info_brand_id_eq_any: {"" => "#{@brand.id}"}}) %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <% @parts = @spare_infos %>
  <%= render partial: 'best_parts_list', layout: 'paginator'  %>

  <%# TODO тут должен быть дополнительный preview и content? Например NISSAN, выпускает и автомобили, и запчасти%>
  <div id="brand-preview"><%== @brand.preview %></div>
  <div id="brand-content"><%== @brand.content %></div>

  <% if @current_user.seller? %>
    <%= link_to edit_admin_brand_path(@brand, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
      <%= icon 'edit' %>
      Редактировать
    <% end %>
  <% end %>

<% end %>
