<% @meta_title = "Смена пароля" %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', root_path %>
    <%= b.item 'Личный кабинет', user_path %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title :auth do %>
    <%= page_header %>
  <% end %>

  <%= p.content :auth do %>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, return_path: params[:return_path]), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Ожидается подтверждение e-mail адреса: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", label: 'Новый пароль', placeholder: 'Придумайте новый пароль не короче 8 символов', required: true %>
      <%= f.input :password_confirmation, label: 'Подтверждение пароля', placeholder: 'Повторите ввод нового пароля', required: true %>
      <%= f.input :current_password, autocomplete: "off", placeholder: 'Введите ваш текущий пароль', label: 'Текущий пароль', required: true %>
      <br />
      <%= f.buttons 'Сохранить' %>

    <% end %>
  <% end %>

<% end %>
