<%= simple_form_for [:admin, @account], :html => { :class => 'form-horizontal dirtyforms' } do |f| %>
  <%= f.input :debit %>
  <%= f.input :credit %>
  <%= f.input :accountable_id %>
  <%= f.input :accountable_type %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_accounts_path, :class => 'btn' %>
  </div>
<% end %>
