<footer class="clearfix text-xs" style="margin-top: 50px; padding-top: 30px; color: #555; background: #F8F8F8; border-top: 1px solid #e7e7e7">
  <div class="container bottom-space">
    <% if Rails.configuration.x.common['display_counters'] %>
      <%== ckpart('yandex') %>
      <%== ckpart('mail') %>
      <%== ckpart('rambler') %>
      <%== ckpart('google') %>
      <%== ckpart('openstat') %>
      <%== ckpart('liveinternet') %>
    <% end %>
    <span class="pull-right">© 1997–<%= Time.zone.now.year %> Авториф</span>
  </div>
</footer>
