<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible" />
    <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport" /> -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <% if @meta_title.present? %>
      <title> <%= @meta_title %> <%= @meta_title_small %> </title>
    <% end %>

    <% if @meta_author.present? %>
      <meta name="author" content="<%= @meta_author %>" />
    <% end %>

    <% if @meta_keywords.present? %>
      <meta name="keywords" content="<%= @meta_keywords %>" />
    <% end %>

    <% if @meta_description.present? %>
      <meta name="description" content="<%= @meta_description %>" />
    <% end %>

    <% if @meta_robots.present? %>
      <meta name="robots" content="<%= @meta_robots %>" />
    <% end %>

    <% if @meta_canonical.present? %>
      <link rel="canonical" href="<%== @meta_canonical %>" />
    <% end %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true, :media => "all" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!--[if lt IE 9]>
      <%= javascript_include_tag 'ltie9' %>
    <![endif]-->

    <%= favicon_link_tag '/favicon.ico' %>
    <%= favicon_link_tag "/apple-touch-icon.png", :rel => "apple-touch-icon", :type => "image/png" %>
    <%= favicon_link_tag "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57", :type => "image/png" %>
    <%= favicon_link_tag "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72", :type => "image/png" %>
    <%= favicon_link_tag "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114", :type => "image/png" %>
    <%= favicon_link_tag "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144", :type => "image/png" %>

  </head>

<body>
