<%= icon 'arrow-circle-o-up fa-4x', id: "slide-top" %>

<div class="panel-group hidden" id="accordion">

  <%= panel 'info' do |p| %>
    <%= p.heading do %>
      <%= p.title do %>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#CONFIG">
          CONFIG
        </a>
      <% end %>
    <% end %>
  <% end %>

  <%= panel 'info' do |p| %>
    <%= p.heading do %>
      <%= p.title do %>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#XXX">
          XXX
        </a>
      <% end %>
    <% end %>
    <%= p.collapse do %>
      <%= p.body do %>
        <div id="XXX"></div>
      <% end %>
    <% end %>
  <% end %>

</div>

</body>

</html>
