<%= icon 'arrow-circle-o-up fa-4x', id: "slide-top" %>

<div class="panel-group hidden" id="accordion">

  <%= panel 'info' do |p| %>
    <%= p.heading do %>
      <%= p.title do %>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#CONFIG">
          CONFIG
        </a>
      <% end %>
    <% end %>
  <% end %>

  <%= panel 'info' do |p| %>
    <%= p.heading do %>
      <%= p.title do %>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#XXX">
          XXX
        </a>
      <% end %>
    <% end %>
    <%= p.collapse do %>
      <%= p.body do %>
        <div id="XXX"></div>
      <% end %>
    <% end %>
  <% end %>

  <%= panel 'info' do |p| %>
    <%= p.heading do %>
      <%= p.title do %>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#map-config-child">
          Map config
        </a>
      <% end %>
    <% end %>
    <%= p.collapse id: 'map-config-child', class: 'in' do %>
      <%= p.body do %>
        <p>
          <b> initial_map_zoom </b>
          <div id="initial_map_zoom"><%= Rails.configuration.map['initial_zoom'] %></div>
        </p>
        <p>
          <b> initial_map_lat </b>
          <div id="initial_map_lat"><%= Rails.configuration.map['initial_lat'] %></div>
        </p>
        <p>
          <b> initial_map_lng </b>
          <div id="initial_map_lng"><%= Rails.configuration.map['initial_lng'] %></div>
        </p>
        <p>
          <b> warehouse_address </b>
          <div id="warehouse_address"><%= Rails.configuration.map['warehouse_address'] %></div>
        </p>
        <p>
          <b> delivery_minute_cost </b>
          <div id="delivery_minute_cost"><%= Rails.configuration.map['delivery_minute_cost'] %></div>
        </p>
        <p>
          <b> google_maps_key </b>
          <div id="google_maps_key"><%= Rails.configuration.map['google_maps_key'] %></div>
        </p>
        <p>
          <b> travel_mode </b>
          <div id="travel_mode"><%= Rails.configuration.map['travel_mode'] %></div>
        </p>
        <p>
          <b> max_automatic_calculated_cost </b>
          <div id="max_automatic_calculated_cost"><%= Rails.configuration.map['max_automatic_calculated_cost'] %></div>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>

</div>

</body>

</html>
