<h3>Здравствуйте <%= @order.user.to_label %></h3>

<%= render 'order_products' %>

<p> Мы автоматически создали для вас учетную запись. Вы можете использовать их для дальнейшего входа на сайт. </p>

<b>E-mail: <%= @order.user.email %></b> <br />
<b>Пароль: <%= @password %></b>

<br />
<br />

<p>
  При необходимости вы можете <%= link_to "сменить пароль", edit_user_registration_url, class: 'link1' %> на более привычный.
</p>
