<%= simple_form_for [:admin, @delivery], :html => { :class => 'form-horizontal dirtyforms' } do |f| %>
  <%= f.input :name %>
  <%= f.input :notes, :input_html => {:rows => 3} %>
  <%= f.input :available %>
  <%= f.input :sequence %>
  <%= f.input :full_prepayment_required %>
  <%= f.input :name_required %>
  <%= f.input :phone_required %>
  <%= f.input :metro_required %>
  <%= f.input :postal_address_required %>
  <%= f.input :delivery_cost_required %>
  <%= f.association :delivery_category %>
  <%= f.input :image %>
  <%= f.input :notes_invisible, :input_html => {:rows => 3}  %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_deliveries_path, :class => 'btn' %>
  </div>
<% end %>
