<% title_index %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', root_path %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>

    <%= search_form_for(@q, url: admin_bots_path, html: {class: 'form-inline'}) do |f| %>
      <%= f.input :title_cont, placeholder: "Название правила", label: false %>
      <%= f.input :user_agent_cont, placeholder: "User-Agent", label: false %>
      <%= f.input :inet_contained_within_or_equals, placeholder: "Диапазон IP", label: false %>
      <%= f.input :block_true, as: :select, label: false %>
      <%= f.button :submit, "Поиск" %>
    <% end %>

    <br />

    <%= paginate @resources %>

    <div class="table-responsive top-space bottom-space">
      <table class="table">
        <thead>
          <tr>
            <th> <%= @resource_class.human_attribute_name :id %> </th>
            <th> <%= @resource_class.human_attribute_name :title %> </th>
            <th> <%= @resource_class.human_attribute_name :user_agent %> </th>
            <th> <%= @resource_class.human_attribute_name :inet %> </th>
            <th> <%= @resource_class.human_attribute_name :block %> </th>
            <th> <%= @resource_class.human_attribute_name :created_at %> </th>
            <th> <%= @resource_class.human_attribute_name :updated_at %> </th>
          </tr>
        </thead>
        <tbody>
          <% @resources.each do |r| %>
            <tr>
              <td>
                <%= r.id %> <br />
                <%= link_to "Просмотр", admin_bot_path(r, return_path: request.fullpath) %> <br />
                <%= link_to "Редактирование", edit_admin_bot_path(r, return_path: request.fullpath) %> <br />
                <%= link_to "Удалить", polymorphic_path([:admin, resource], return_path: request.fullpath), method: :delete %>
                <%= link_to 'Предпросмотр правила', preview_admin_bot_path(r, return_path: request.fullpath) %>
              </td>
              <td> <%= r.title %> </td>
              <td> <%= r.user_agent %> </td>
              <td> <%= r.inet %> </td>
              <td> <%= r.block %> </td>
              <td> <%= l r.created_at %> </td>
              <td> <%= l r.updated_at %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @resources %>

    <%= link_to url_for(action: :new, return_path: request.fullpath), class: 'btn btn-primary' do %>
      Новое правило
    <% end %>

  <% end %>
<% end %>
