<% title_show %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', root_path %>
    <%= b.item 'Администрирование', admin_root_path %>
    <%= b.item 'Правила ботов', admin_bots_path %>
    <%= b.item @resource.to_label, admin_bot_path(@resource) %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>

    <%= link_to "Редактировать", url_for(action: :edit, return_path: request.fullpath), class: "btn btn-warning" %>

    <br />
    <br />


    <h2>Пользователи, попадающие под данное правило</h2>

    <%= paginate @resources %>

    <div class="table-responsive top-space bottom-space">
      <table class="table">
        <thead>
          <tr>
            <th> <%= @resource_class.human_attribute_name :id %> </th>
            <th> <%= @resource_class.human_attribute_name :user_agent %> </th>
            <th> <%= @resource_class.human_attribute_name :current_sign_in_ip %> </th>
            <th> <%= @resource_class.human_attribute_name :created_at %> </th>
            <th> <%= @resource_class.human_attribute_name :updated_at %> </th>
          </tr>
        </thead>
        <tbody>
          <% @resources.each do |r| %>
            <tr>
              <td> <%= link_to r.id, url_for(action: :edit, return_path: request.fullpath) %> </td>
              <td> <%= r.user_agent %> </td>
              <td> <%= r.current_sign_in_ip %> </td>
              <td> <%= l r.created_at %> </td>
              <td> <%= l r.updated_at %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @resources %>

  <% end %>
<% end %>

