<% title_index %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', root_path %>
    <%= b.item 'Администрирование', admin_root_path %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>

    <%= paginate @resources %>

    <div class="table-responsive">
      <table class="table">
        <tr>
          <th> <%= @resource_class.human_attribute_name :id %> </th>
        </tr>

        <% @resources.each do |resource| %>
          <tr>
            <td> 
              <%= resource.id %> <br />
              <%= link_to "Просмотр", polymorphic_path([:admin, resource], return_path: request.fullpath) %> <br />
              <%= link_to "Редактирование", polymorphic_path([:edit, :admin, resource], return_path: request.fullpath) %> <br />
              <%= link_to "Удалить", polymorphic_path([:admin, resource], return_path: request.fullpath), method: :delete %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <br />
    <%= paginate @resources %>
    <br />
    <br />

    <%= link_to url_for(action: :new, return_path: request.fullpath), class: 'btn btn-primary' do %>
      Новое поколение
    <% end %>
    <br />
    <br />

  <% end %>
<% end %>
