<div class="clearfix">

  <%= render "grid_toolbar_check_uncheck" %>

  <%= render 'grid_toolbar_new2' %>

  <%= render 'grid_toolbar_remove' %>

  <%= render "grid_toolbar_selected" %>

  <%= render 'grid_toolbar_actions' %>

  <div class="pull-right">

    <%= render 'grid_toolbar_per_page' %>

    <%= render "grid_toolbar_columns" %>

  </div>

</div>

