<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:god) %>:</strong></dt>
  <dd><%= @car.god %></dd>
  <dt><strong><%= model_class.human_attribute_name(:marka) %>:</strong></dt>
  <dd><%= @car.marka %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @car.model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dvigatel) %>:</strong></dt>
  <dd><%= @car.dvigatel %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tip) %>:</strong></dt>
  <dd><%= @car.tip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:moschnost) %>:</strong></dt>
  <dd><%= @car.moschnost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:privod) %>:</strong></dt>
  <dd><%= @car.privod %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tip_kuzova) %>:</strong></dt>
  <dd><%= @car.tip_kuzova %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kpp) %>:</strong></dt>
  <dd><%= @car.kpp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kod_kuzova) %>:</strong></dt>
  <dd><%= @car.kod_kuzova %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kod_dvigatelya) %>:</strong></dt>
  <dd><%= @car.kod_dvigatelya %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rinok) %>:</strong></dt>
  <dd><%= @car.rinok %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vin) %>:</strong></dt>
  <dd><%= @car.vin %></dd>
  <dt><strong><%= model_class.human_attribute_name(:frame) %>:</strong></dt>
  <dd><%= @car.frame %></dd>
  <dt><strong><%= model_class.human_attribute_name(:komplektaciya) %>:</strong></dt>
  <dd><%= @car.komplektaciya %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @car.user_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_cars_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_car_path(@car), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_car_path(@car),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
