<ul id='auth-buttons' class='list-inline'>
  <li>
    <a id='google_oauth2' href='/auth/google_oauth2' data-width='700' data-height='410'>
      <img src="<%= image_url('auth/google_oauth2.png') %>">
    </a>
  </li>
  <li>
    <a id='facebook' href='/auth/facebook' data-width='600' data-height='380'>
      <img src="<%= image_url('auth/facebook.png') %>">
    </a>
  </li>
  <li>
    <a id='twitter' href='/auth/twitter' data-width='500' data-height='600'>
      <img src="<%= image_url('auth/twitter.png') %>">
    </a>
  </li>
  <li>
    <a id='yandex' href='/auth/yandex' data-width='850' data-height='650'>
      <img src="<%= image_url('auth/yandex.png') %>">
    </a>
  </li>
  <li>
    <a id='vkontakte' href='/auth/vkontakte' data-width='700' data-height='600'>
      <img src="<%= image_url('auth/vkontakte.png') %>">
    </a>
  </li>
  <li>
    <a id='odnoklassniki' href='/auth/odnoklassniki' data-width='750' data-height='450'>
      <img src="<%= image_url('auth/odnoklassniki.png') %>">
    </a>
  </li>
  <li>
    <a id='mailru' href='/auth/mailru' data-width='600' data-height='450'>
      <img src="<%= image_url('auth/mailru.png') %>">
    </a>
  </li>
</ul>
