<a data-toggle="modal" data-target="#<%=auth.provider%>" role="button" href="#">
  <%= image_tag "auth/#{auth.provider}.png" %>
</a>

<%= modal id: "#{auth.provider}"  do |m| %>

  <%= m.header do |h| %>
    <%= h.close %>
    <%= h.title { auth.provider } %>
  <% end %>

  <%= m.body do %>

    <pre><%= auth.data %></pre>

    <dl class="dl-horizontal">

      <dt>id</dt>
      <dd><%= auth.id %></dd>

      <dt>uid</dt>
      <dd><%= auth.uid %></dd>

      <dt>somebody_id</dt>
      <dd><%= auth.somebody_id %></dd>

      <dt>created_at</dt>
      <dd><%= auth.created_at %></dd>

      <dt>updated_at</td>
      <dd><%= auth.updated_at %></dd>

    </dl>

  <% end %>

  <%= m.footer do |f| %>
    <%= f.close %>
  <% end %>

<% end %>
