<%= row do %>

  <div class="col-sm-5">

    <%= twbs_form_for @resource, :url => polymorphic_path([:admin, @resource], return_path: params[:return_path]) do |f| %>

      <%= f.twbs_hidden_field :brand_id %>

      <%= f.twbs_text_field :name %>

      <%= f.twbs_text_field :slang %>

      <%= f.twbs_date_select :from %>

      <%= f.twbs_date_select :to %>

      <%= f.twbs_text_area :content, :class => "ckeditor-extended" %>

      <%= f.twbs_submit %>

    <% end %>

  </div>

<% end %>
