<%= twbs_form_for [:admin, @resource] do |f| %>

  <%= row do %>

    <%= c1 do %>

      <%= f.twbs_text_field :name, asterisk: true%>

      <%= f.fields_for :brand, f.object.brand || f.object.build_brand, include_id: false do |b| %>

        <%= f.form_group :brand do %>
          <%= b.twbs_select2 :name, rel: 'select2-brand', data: {"true-id" => f.object.brand_id}, :label => 'Родительский производитель', :hint => 'Все найденные результаты для этого производителя будут переадресованы родительскому' %>
          <%= f.error(:brand) %>
        <% end %>
      <% end %>

      <%= f.twbs_file_field :image %>
      <%= f.twbs_text_field :rating %>
      <%= f.twbs_check_box :catalog %>

    <% end %>

  <% end %>

  <%= row do %>
    <div class="col-md-12">
      <%= f.twbs_text_area :content, :class => "ckeditor-extended" %>
      <%= f.twbs_submit %>
    </div>
  <% end %>

<% end %>
