<div class="clearfix">

  <%= render 'grid_toolbar_new2' %>

  <%= render "grid_toolbar_selected" %>

  <div class="pull-right">

    <%= render 'grid_toolbar_per_page' %>

    <%= render "grid_toolbar_columns" %>

    <%= render "grid_toolbar_transactions" %>

  </div>


</div>
