<% title_index %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', root_path %>
    <%= b.item 'Администрирование', admin_root_path %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>

    <%= paginate @resources %>
    <br />
    <br />

    <div class="table-responsive">
      <table class="table">
        <tr>
          <th> <%= @resource_class.human_attribute_name :id %> </th>
          <th> <%= @resource_class.human_attribute_name :name %> </th>
          <th> <%= @resource_class.human_attribute_name :brand_id %> </th>
          <th> <%= @resource_class.human_attribute_name :image %> </th>
          <th> <%= @resource_class.human_attribute_name :rating %> </th>
          <th> <%= @resource_class.human_attribute_name :content %> </th>
          <th> <%= @resource_class.human_attribute_name :creator_id %> </th>
          <th> <%= @resource_class.human_attribute_name :phantom %> </th>
          <th> <%= @resource_class.human_attribute_name :is_brand %> </th>
          <th> <%= @resource_class.human_attribute_name :created_at %> </th>
          <th> <%= @resource_class.human_attribute_name :updated_at %> </th>
          <th> <%= @resource_class.human_attribute_name :preview %> </th>
          <th> <%= @resource_class.human_attribute_name :default_display %> </th>
          <th> <%= @resource_class.human_attribute_name :opts %> </th>
          <th> <%= @resource_class.human_attribute_name :sign %> </th>
        </tr>

        <% @resources.each do |resource| %>
          <tr>
            <td> 
              <%= resource.id %>
              <%= link_to "Просмотр", admin_brand_path(resource.id, return_path: request.fullpath) %>
              <%= link_to "Редактирование", edit_admin_brand_path(resource.id, return_path: request.fullpath) %>
            </td>
            <td> <%= resource.name %> </td>
            <td> <%= resource.brand_id %> </td>
            <td> <%= resource.image %> </td>
            <td> <%= resource.rating %> </td>
            <td> <%= resource.content %> </td>
            <td> <%= resource.creator_id %> </td>
            <td> <%= resource.phantom %> </td>
            <td> <%= resource.is_brand %> </td>
            <td> <%= resource.created_at %> </td>
            <td> <%= resource.updated_at %> </td>
            <td> <%= resource.preview %> </td>
            <td> <%= resource.default_display %> </td>
            <td> <%= resource.opts %> </td>
            <td> <%= resource.sign %> </td>
          </tr>
        <% end %>
      </table>
    </div>

    <br />
    <%= paginate @resources %>
    <br />
    <br />

    <%= link_to url_for(action: :new, return_path: request.fullpath), class: 'btn btn-primary' do %>
      Новый бренд
    <% end %>

  <% end %>
<% end %>
