<% title_index %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', [:root] %>
    <%= b.item 'Администрирование', [:admin, :root] %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>
    <%= search_form_for(@q, url: url_for(action: :index), html: {class: 'form-inline'}) do |f| %>
      <%= f.input :spare_info_catalog_number_eq, label: false, placeholder: "Каталожный номер" %>
      <%= f.input :brand_name_eq, label: false, placeholder: "Марка" %>
      <%= f.input :model_name_eq, label: false, placeholder: "Модель" %>
      <%= f.input :generation_name_eq, label: false, placeholder: "Поколение" %>
      <%= f.input :modification_name_eq, label: false, placeholder: "Модификация" %>
      <%= f.input :notes_cont, label: false, placeholder: 'Комментарий содержит' %>
      <%= f.input :notes_invisible_cont, label: false, placeholder: 'Служебный комментарий содержит' %>

      <%= f.button :submit, 'Поиск' %>
    <% end %>
  <% end %>

  <br />

  <%= p.content do %>

    <%= paginate @resources %>
    <br />
    <br />

    <div class="table-responsive">
      <table class="table">
        <tr>
          <th> <%= @resource_class.human_attribute_name :id %> </th>
          <th> <%= @resource_class.human_attribute_name :spare_info %> </th>
          <th> <%= @resource_class.human_attribute_name :brand %> </th>
          <th> <%= @resource_class.human_attribute_name :model %> </th>
          <th> <%= @resource_class.human_attribute_name :generation %> </th>
          <th> <%= @resource_class.human_attribute_name :modification %> </th>
          <th> <%= @resource_class.human_attribute_name :notes %> </th>
          <th> <%= @resource_class.human_attribute_name :notes_invisible %> </th>
          <th> <%= @resource_class.human_attribute_name :created_at %> </th>
          <th> <%= @resource_class.human_attribute_name :updated_at %> </th>
        </tr>

        <% @resources.each do |resource| %>
          <tr>
            <td> 
              <%= resource.id %> <br />
              <%= link_to "Просмотр", polymorphic_path([:admin, resource], return_path: request.fullpath) %> <br />
              <%= link_to "Редактирование", polymorphic_path([:edit, :admin, resource], return_path: request.fullpath) %>
              <%= link_to "Удалить", polymorphic_path([:admin, resource], return_path: request.fullpath), method: :delete %>
            </td>
            <td> 
              <%= resource.spare_info_id %> <br />
              <%= resource.spare_info.to_label %>
            </td>
            <td> 
              <%= resource.brand_id %> <br />
              <%= resource.brand.to_label %>
            </td>
            <td> 
              <%= resource.model_id %> <br />
              <%= resource.model.to_label %>
            </td>
            <td> 
              <%= resource.generation_id %> <br />
              <%= resource.generation.try(:to_label) %>
            </td>
            <td> 
              <%= resource.modification_id %> <br />
              <%= resource.modification.try(:to_label) %>
            </td>
            <td> <%= resource.notes %> </td>
            <td> <%= resource.notes_invisible %> </td>
            <td> <%= resource.created_at %> </td>
            <td> <%= resource.updated_at %> </td>
          </tr>
        <% end %>
      </table>
    </div>

    <br />
    <%= paginate @resources %>
    <br />
    <br />

    <%= link_to url_for(action: :new, return_path: request.fullpath), class: 'btn btn-primary' do %>
      Новая применимость 
    <% end %>

    <br />
    <br />

  <% end %>
<% end %>
