<%= simple_form_for(@admin_company, :html => {:class => "dirtyforms"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :inn %>
    <%= f.input :kpp %>
    <%= f.input :name %>
    <%= f.input :bank_account %>
    <%= f.input :account %>
    <%= f.input :correspondent_account %>
    <%= f.input :bic %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
