<h1>Listing admin_companies</h1>

<table>
  <tr>
    <th>Inn</th>
    <th>Kpp</th>
    <th>Name</th>
    <th>Bank account</th>
    <th>Account</th>
    <th>Correspondent account</th>
    <th>Bic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_companies.each do |admin_company| %>
  <tr>
    <td><%= admin_company.inn %></td>
    <td><%= admin_company.kpp %></td>
    <td><%= admin_company.name %></td>
    <td><%= admin_company.bank_account %></td>
    <td><%= admin_company.account %></td>
    <td><%= admin_company.correspondent_account %></td>
    <td><%= admin_company.bic %></td>
    <td><%= link_to 'Show', admin_company %></td>
    <td><%= link_to 'Edit', edit_admin_company_path(admin_company) %></td>
    <td><%= link_to 'Destroy', admin_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_admin_company_path %>
