<%- model_class = Phone -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:confirmed_by_human) %></th>
      <th><%= model_class.human_attribute_name(:human_confirmation_datetime) %></th>
      <th><%= model_class.human_attribute_name(:confirmed_by_robot) %></th>
      <th><%= model_class.human_attribute_name(:robot_confirmation_datetime) %></th>
      <th><%= model_class.human_attribute_name(:can_receive_sms) %></th>
      <th><%= model_class.human_attribute_name(:invisible) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= link_to phone.id, admin_phone_path(phone) %></td>
        <td><%= phone.phone %></td>
        <td><%= phone.notes %></td>
        <td><%= phone.confirmed_by_human %></td>
        <td><%= phone.human_confirmation_datetime %></td>
        <td><%= phone.confirmed_by_robot %></td>
        <td><%= phone.robot_confirmation_datetime %></td>
        <td><%= phone.can_receive_sms %></td>
        <td><%= phone.invisible %></td>
        <td><%= phone.user_id %></td>
        <td><%=l phone.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_phone_path(phone), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_phone_path(phone),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_phone_path,
            :class => 'btn btn-primary' %>
