<%= page do |p| %>

  <%= p.breadcrumb do %>
  <% end %>

  <%= p.title do %>
    <% @meta_title = "Страница не найдена. Ошибка 404" %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>
    <p class="text-danger">Извините, запрошенная вами страница не найдена. Её не существовала или она была удалена. Сообщите нам если считаете, что эта ошибка не должна была возникнуть или попробуйте перейти на главную страницу и попробовать еще раз.</p>

    <div class="top-space"> <%= debug params %> </div>
    <h3 class="top-space"> <%= @exception.to_s.force_encoding("UTF-8") %> </h3>

    <% if current_user && current_user.seller? %>
      <%= link_to ckpages.new_page_path(path: request.original_fullpath), class: 'btn btn-lg btn-primary top-space-lg bottom-space-lg' do %>
        <%= icon 'plus' %>
        Создать страницу
      <% end %>
    <% end %>

    <%= render 'exception' %>

  <% end %>
<% end %>
