<%= simple_form_for(@resource, :url => polymorphic_path([:user, @resource], return_path: params[:return_path]), html: { class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>

  <%= f.error_notification %>

  <%= f.input :is_moscow, input_html: {rel: 'checkbox', :"data-toggle" => 'optional-attributes', :"data-target" => '.postal_address_postcode, .postal_address_region, .postal_address_city' } %>

  <%= f.input :postcode, required: true %>
  <%= f.input :region, required: true %>
  <%= f.input :city, required: true %>
  <%= f.input :street %>
  <%= f.input :house %>

  <%= f.input :stand_alone_house, input_html: {rel: 'checkbox', :"data-toggle" => 'optional-attributes', :"data-target" => '.postal_address_room'} %>
  <%= f.input :room %>

  <%= f.input :notes, input_html: {rows: 5} %>

  <div class="col-sm-offset-6">
    <%= f.buttons 'Сохранить' %>
  </div>

<% end %>
