<%= f.text_input :postcode %>
<%= f.text_input :region %>
<%= f.text_input :city %>
<%= f.text_input :street %>
<%= f.text_input :house %>

<div rel="stand-alone-group">

  <%= f.form_group do %>
    <div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-7 col-sm-8">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" rel="button-stand-alone-house">
          <%= f.check_box :stand_alone_house, rel: "checkbox checkbox-stand-alone-house" %> Отдельно стоящее здание
        </label>
      </div>
    </div>
  <% end %>

  <div rel="room">
    <%= f.text_input :room %>
  </div>

</div>
