<%= simple_form_for [:admin, @product_transaction], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :catalog_number %>
  <%= f.input :manufacturer %>
  <%= f.input :status %>
  <%= f.input :notes %>
  <%= f.input :notes_invisible %>
  <%= f.input :user_id %>
  <%= f.input :order_id %>
  <%= f.input :supplier_id %>
  <%= f.input :quantity_ordered %>
  <%= f.input :quantity_available %>
  <%= f.input :probability %>
  <%= f.input :min_days %>
  <%= f.input :max_days %>
  <%= f.input :buy_cost %>
  <%= f.input :sell_cost %>
  <%= f.input :short_name %>
  <%= f.input :long_name %>
  <%= f.input :product_id %>
  <%= f.input :transaction_product_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_product_transactions_path, :class => 'btn' %>
  </div>
<% end %>
