<%= twbs_form_for @resource, url: [(admin_zone? ? :admin : nil), (admin_zone? ? @somebody : :user), @resource], remote: true do |f| %>

  <div class='hidden'>
    <%= f.twbs_text_field :addressee_id %>
  </div>

  <% unless admin_zone? %>

    <% if current_user.role == 'guest' %>

      <fieldset id="talk-details" class="well well-sm">

        <%= f.simple_fields_for :somebody do |somebody| %>

          <% if somebody.object.profiles.empty? %>
            <% somebody.object.profiles.new %>
          <% end %>

          <%= somebody.simple_fields_for :profiles do |profile| %>

            <% if profile.object.names.empty? %>
              <% profile.object.names.new %>
            <% end %>

            <%= profile.simple_fields_for :names do |name| %>
              <%= name.twbs_text_field :name, label: false, placeholder: 'Имя', hint: false %>
              <%= name.standard_recreate %>
            <% end %>

            <%= row do %>

              <div class="col-xs-5">

                <% if profile.object.emails.empty? %>
                  <% profile.object.emails.new %>
                <% end %>

                <%= profile.simple_fields_for :emails do |email| %>
                  <%= email.twbs_text_field :value, label: false, placeholder: 'E-mail адрес', hint: false %>
                <% end %>

              </div>

              <div class="col-xs-2 text-center">

                <div class="form-horizontal">
                  <%= f.form_group do %>
                    <p class="form-control-static text-muted"><small>и / или</small></p>
                  <% end %>
                </div>

              </div>

              <div class="col-xs-5">

                <% if profile.object.phones.empty? %>
                  <% profile.object.phones.new %>
                <% end %>

                <%= profile.simple_fields_for :phones do |phone| %>
                  <%= phone.twbs_text_field :value, label: false, placeholder: 'Мобильный телефон', hint: false, rel: 'mobile-mask-on' %>
                <% end %>

              </div>

            <% end %>

            <% if profile.object.errors[:base].present? %>
              <%= profile.form_group :base do  %>
                <%= profile.error :base %>
              <% end %>
            <% end %>

          <% end %>
        <% end %>
      </fieldset>

    <% end %>

  <% end %>

  <%= f.twbs_hidden_field :somebody_id %>
  <%= f.twbs_hidden_field :talkable_type %>

  <% case @resource.talkable_type %>
  <% when 'Talkables::Letter' %>
  <% when 'Talkables::Chat' %>

    <%= f.fields_for :talkable do |chat| %>

      <%= chat.fields_for :chat_parts do |part| %>

        <% case part.object.chat_partable_type %>
        <% when 'Talkables::ChatPartables::Text' %>
          <%= render 'content/groups/text_fields', f: part %>
        <% when 'Talkables::ChatPartables::Title' %>
          <%= render 'content/groups/title_fields', f: part %>
        <% when 'Talkables::ChatPartables::Link' %>
          <%= render 'content/groups/link_fields', f: part %>
        <% when 'Talkables::ChatPartables::File' %>
          <%= render 'content/groups/file_fields', f: part %>
        <% end %>

      <% end %>

      <div class="part">

        <div class="btn-group dropup pull-left">

          <%= f.button :button, id: "talk-submit", class: "btn btn-primary", rel: "tooltip", data: {container: '#myModal', disable_with: 'Отправить'}, title: "Ctrl+Enter для отправки" do %>
            Отправить
          <% end %>

          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu">
            <% @user.profiles.each do |profile| %>
              <% profile.emails.each do |email| %>
                <li>
                  <a href="#">
                    Отправить уведомление письмом на <%= email.to_label %>
                  </a>
                </li>
              <% end %>
              <% profile.phones.each do |phone| %>
                <li>
                  <a href="#">
                    Отправить уведомление SMS на <%= phone.to_label %>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <%= f.form_group do %>

          <div class="btn-group pull-right dropup">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <%= icon 'cloud-upload' %>
            </button>

            <ul class="dropdown-menu" role="menu">

              <li> <%= link_to_add_association 'Добавить заголовок', chat, :chat_parts, :wrap_object => Proc.new { |part| part.chat_partable = Talkables::ChatPartables::Title.new; part }, partial: 'content/groups/title_fields', :data => {"association-insertion-node" => ".part", "association-insertion-traversal" => "closest"} %> </li>

              <li> <%= link_to_add_association 'Добавить текст', chat, :chat_parts, :wrap_object => Proc.new { |part| part.chat_partable = Talkables::ChatPartables::Text.new; part }, partial: 'content/groups/text_fields', :data => {"association-insertion-node" => ".part", "association-insertion-traversal" => "closest"} %> </li>

              <li> <%= link_to_add_association 'Добавить ссылку', chat, :chat_parts, :wrap_object => Proc.new { |part| part.chat_partable = Talkables::ChatPartables::Link.new; part }, partial: 'content/groups/link_fields', :data => {"association-insertion-node" => ".part", "association-insertion-traversal" => "closest"} %> </li>

              <li> <%= link_to_add_association 'Добавить файл', chat, :chat_parts, :wrap_object => Proc.new { |part| part.chat_partable = Talkables::ChatPartables::File.new; part }, partial: 'content/groups/file_fields', :data => {"association-insertion-node" => ".part", "association-insertion-traversal" => "closest"} %> </li>
            </ul>

          </div>

        <% end %>

      </div>


    <% end %>

  <% end %>

<% end %>

<%= javascript_tag do %>

  (function() {
    var App;

    App = typeof exports !== "undefined" && exports !== null ? exports : this;

    $(function() {

      Realtime.render_sellers();

    })

  }).call(this);

<% end %>
