<%= twbs_form_for @talk, url: polymorphic_path([*jaba3, @talk]), remote: true, method: :post, multipart: true do |f| %>

  <% if current_user.role == 'guest' %>

    <fieldset id="talk-details" class="well">

      <%= f.fields_for :somebody do |somebody| %>

        <%= somebody.fields_for :profile do |profile| %>

          <%= profile.fields_for :names do |name| %>
            <%= name.twbs_text_field :name, label: false, placeholder: 'Имя', hint: false %>
            <%= name.standard_recreate %>
          <% end %>


          <%= profile.fields_for :emails do |email| %>
            <%= email.twbs_text_field :value, label: false, placeholder: 'E-mail адрес', hint: false %>
            <%= email.standard_recreate %>
          <% end %>


          <div class="text-center">
            <%= f.form_group do %>
              <p class="form-control-static text-xs text-muted">и / или</p>
            <% end %>
          </div>


          <%= profile.fields_for :phones do |phone| %>
            <%= phone.twbs_text_field :value, label: false, placeholder: 'Мобильный телефон', hint: false, rel: 'mobile-mask-on' %>
            <%= phone.standard_recreate %>
          <% end %>


          <% if profile.object.errors[:base].present? %>
            <%= profile.form_group :base do  %>
              <%= profile.error :base %>
            <% end %>
          <% end %>

        <% end %>

      <%= somebody.twbs_hidden_field :profile_id %>

      <% end %>


    </fieldset>

  <% end %>

  <%= f.twbs_hidden_field :somebody_id %>

  <fieldset id="talk-text" class="well">
    <%= f.twbs_text_area :text, label: false, class: "bottom-space-xs", placeholder: "Текст сообщения", rows: '1' %>
  </fieldset>

  <%= f.submit 'Отправить', id: "talk-submit", class: "btn btn-xs btn-primary" %>

  <span class="btn btn-xs btn-unstyled btn-file pull-right" style="color: white">
    файл <%= f.file_field :file %>
  </span>

<% end %>
