<%= twbs_form_for @talk, url: [:user, @talk], remote: true, method: :post, multipart: true do |f| %>

  <div class='hidden'>
    <%= f.twbs_text_field :addressee_id %>
  </div>

  <% if current_user.role == 'guest' %>

    <fieldset id="talk-details" class="well">

      <%= f.fields_for :somebody do |somebody| %>

        <%= somebody.fields_for :profile do |profile| %>

          <%= profile.fields_for :names do |name| %>
            <%= name.twbs_text_field :name, label: false, placeholder: 'Имя', hint: false %>
            <%= name.standard_recreate %>
          <% end %>


          <%= profile.fields_for :emails do |email| %>
            <%= email.twbs_text_field :value, label: false, placeholder: 'E-mail адрес', hint: false %>
            <%= email.standard_recreate %>
          <% end %>


          <div class="text-center">
            <%= f.form_group do %>
              <p class="form-control-static text-xs text-muted">и / или</p>
            <% end %>
          </div>


          <%= profile.fields_for :phones do |phone| %>
            <%= phone.twbs_text_field :value, label: false, placeholder: 'Мобильный телефон', hint: false, rel: 'mobile-mask-on' %>
            <%# phone.twbs_hidden_field :mobile %>
            <%= phone.standard_recreate %>
          <% end %>


          <% if profile.object.errors[:base].present? %>
            <%= profile.form_group :base do  %>
              <%= profile.error :base %>
            <% end %>
          <% end %>

        <% end %>
      <%= somebody.twbs_hidden_field :profile_id %>
      <% end %>


    </fieldset>

  <% end %>

  <%= f.twbs_hidden_field :somebody_id %>
  <%= f.twbs_hidden_field :talkable_type %>

  <% case @talk.talkable_type %>
  <% when 'Talkables::Letter' %>
  <% when 'Talkables::Chat' %>

    <%= f.fields_for :talkable do |chat| %>

      <%= chat.fields_for :chat_parts do |part| %>

        <% case part.object.chat_partable_type %>
        <% when 'Talkables::ChatPartables::Text' %>
          <%= render 'content/groups/text_fields', f: part %>
        <% when 'Talkables::ChatPartables::Title' %>
          <%= render 'content/groups/title_fields', f: part %>
        <% when 'Talkables::ChatPartables::Link' %>
          <%= render 'content/groups/link_fields', f: part %>
        <% when 'Talkables::ChatPartables::File' %>
          <%= render 'content/groups/file_fields', f: part %>
        <% end %>

      <% end %>

      <%= f.submit 'Отправить', id: "talk-submit", class: "btn btn-xs btn-primary" %>
      <span class="btn btn-xs btn-unstyled btn-file pull-right" style="color: white">
        файл <%= file_field_tag :file, onchange: "$(this).closest('form').submit()" %>
      </span>

    <% end %>

  <% end %>

<% end %>
