<%= javascript_async 'uploads' %>
<%= stylesheet_async 'uploads' %>

<%= modal id: 'myModal' do |modal| %>

  <%= modal.header do |header| %>
    <%= render 'talks/buttons/close' %>
    <div class="sound-placeholder"> </div>
    <%= header.title do %>
      Служба поддержки. 
      <span class="text-muted" style="white-space: nowrap">
        <%= current_user.to_label %>
      </span>
    <% end %>
  <% end %>

  <%= modal.body do %>

    <% unless admin_zone? %>

      <div id="talk-sellers"> 

        <div id="we-are-online-note">
          [Онлайн]
        </div>

        <div id="we-are-offline-note">
          Извините, сейчас нет ни одного менеджера за рабочим местом, оставьте пожалуйста сообщение и мы обязательно с вами свяжемся, либо возвращайтесь позже.
        </div>


        <div id="i-want-to-choose-seller-block">
          На ваше сообщение ответит случайный менеджер или Вы можете <a id="i-want-to-choose-seller" href="#" class="dashed">выбрать получателя сообщения</a>.
        </div>

        <div id="i-dont-want-to-choose-seller-block">
          Вы можете <a id="i-dont-want-to-choose-seller" href="#" class="dashed">не указывать получателя</a> и тогда на ваше сообщение ответит случайный менеджер.
          <div id='talk-recipients'> </div>
        </div>

      </div>

    <% else %>
      <div class="text-xs well well-sm">
        <%= (parsed_cached_main_profile(@somebody.cached_main_profile))  || @somebody.to_label %>
      </div>
    <% end %>

    <div id="talk-log" class="content">

      <%= render 'load_older_talks' %>
      
    </div>

    <div id="reply" style="width: 100%; position: relative; display: inline-block" class="bottom-space">
      <%= render 'talks/form' %>
    </div>


  <% end %>

<% end %>

<%= javascript_tag do %>

  (function() {

    App = typeof exports !== "undefined" && exports !== null ? exports : this;

    $(function() {

      //window.bootstrapperize();

      // Кнопка звука

      $('.sound-placeholder').html($('#sound-standard').html())

      $('#myModal').modal('show');

      if ( $('#talk_addressee_id').val() )
      {
        $('#i-want-to-choose-seller-block').hide();
      } else {
        $('#i-dont-want-to-choose-seller-block').hide();
      }
      Realtime.render_sellers();

    })

  }).call(this);

<% end %>
