<div class="seller-talk-controls pull-right top-space-xs bottom-space-xs">

  <fieldset>

    <%= form_for resource, url: "/admin/talks/#{resource.id}", remote: true, html: { class: 'pull-right' } do |f| %>
      <% if f.object.received? %>
        <%= icon 'check-square-o' %>
      <% else %>
        <%= icon 'square-o' %>
      <% end %>

      <div class="btn-group right-space-xs" data-toggle="buttons">
        <label class="btn btn-default btn-sm">
          <%= f.check_box :read, rel: "radio talk-read", class: "talk_read", id: "talk_read_#{f.object.id}" %>
          <%= icon "eye" %>
        </label>
      </div>

    <% end %>

    <!--
    <a href="#" class="btn btn-warning btn-sm pull-right right-space-xs">
      <%= icon 'edit' %>
    </a>
    -->

  </fieldset>

</div>

<div class="talk-body clearfix"> 

  <!--
  <div class="top-space-sm text-muted">
    <small>
      id: <%= resource.id %>
      <br />
      somebody: <%= resource.somebody.try(:to_label) %> - <%= resource.somebody_id %>
      <br />
      creator: <%= resource.creator.try(:to_label) %> - <%= resource.creator_id %>
      <br />
      addressee: <%= resource.addressee.try(:to_label) %> - <%= resource.addressee_id %>
    </small>
  </div>
  -->

  <% case resource.talkable_type %>
  <% when 'Talkables::Letter' %>
    <p></p>
    <p>
    <%= link_to 'Просмотреть письмо', resource.talkable.letter.url %>
    </p>
    <p></p>
  <% when 'Talkables::Chat' %>
    <% resource.talkable.chat_parts.order(:order).each do |part| %>
      <% case part.chat_partable_type %>
      <% when "Talkables::ChatPartables::Title" %>
        <<%= part.chat_partable.size %>> <%= part.chat_partable.title %> </<%= part.chat_partable.size %>>
      <% when "Talkables::ChatPartables::Text" %>
        <%= simple_format part.chat_partable.text %>
      <% when "Talkables::ChatPartables::Link" %>
        <p></p>
        <p><a href="<%= part.chat_partable.url %>" target="<%= part.chat_partable.target %>"> <%= part.chat_partable.title %> </a></p>
        <p></p>
      <%# TODO %>
      <% when "Talkables::ChatPartables::File" %>
        <a href="<%= part.chat_partable.file.url %>" target="_blank"> <%= part.chat_partable.title %> </a>
      <% end %>
    <% end %>
  <% end %>
</div>
