<%= horizontal_simple_form_for(@resource, url: user_path(return_path: params[:return_path]), html: { method: :put }) do |f| %>

  <%= f.error_notification %>

  <%= f.input :name, autofocus: true %>
  <%= f.input :email, required: true %>
  <%= f.input :phone, input_html: {data: {'mobile-mask' => ''}} %>
  <%= f.input :notes, :input_html => { :rows => 5 } %>

  <div class="col-sm-offset-6">
    <%= f.buttons 'Сохранить' %>
  </div>

<% end %>

