<%= somebody_tabs do %>

  <% @meta_title = 'Личный кабинет' %>

  <%= breadcrumb false, exception=true do |b| %>
    <%= b.item @meta_title %>
  <% end %>

  <%= page_header %>

  <%= row do %>
    <div class="col-md-6 bottom-space-lg">
      <ul class="list-unstyled">
        <li><h4><%= link_to 'Движение средств', transactions_user_accounts_path(return_path: request.fullpath) %></h4></li>
        <li><h4><%= link_to 'Выйти со всех компьютеров', logout_from_all_places_user_path, method: :delete, data: {confirm: 'Вы уверены что хотите выйти?'} %></h4></li>
        <li><h4><%= link_to 'Сменить пароль', edit_user_password_path(return_path: request.fullpath) %></h4></li>
        <li><h4><%= link_to 'Настройки', edit_user_path(return_path: request.fullpath), id: @resource.id %></h4></li>
      </ul>
    </div>
    <div class="col-md-6 bottom-space-lg">
    </div>
  <% end %>

  <%= render 'profileables/right' %>

<% end %>
