<% @meta_title = 'Личный кабинет' %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', root_path %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= page_header %>
  <% end %>

  <%= container do %>
    <%= row do %>

      <div class="col-lg-8 col-md-10 col-sm-12">

        <% array = [ 
          {title: 'Адреса', icon: 'home', assoc: 'postal_address'},
          {title: 'Автомобили', icon: 'truck', assoc: 'car'} ] %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="active">
                <th colspan="2">
                  <%= icon 'user' %>
                  Профиль
                </th>
              </tr>
              <tr>
                <td>
                  <%= [current_user.name, current_user.phone, current_user.email].reject{|value| value.blank?}.join(', ') %>
                </td>
                <td>
                  <div class="left-space">
                    <%= link_to edit_user_path(return_path: request.fullpath) do %>
                      <small>редакт.</small>
                    <% end %>
                  </div>
                </td>
              </tr>
            </thead>
            <%= safe_join(array.map{|item| render 'assoc', item: item}) %>
          </table>
        </div>

        <%= row class: "top-space-lg" do %>
          <div class="col-lg-24">
            <%= link_to edit_user_registration_path(return_path: request.fullpath) do %>
              Сменить пароль
            <% end %>
            <br />
            <%# TODO что с этим. Либо окончательно убрать? Закрыть route %>
            <%# link_to "Удалить свой аккаунт", user_registration_path, data: { confirm: "Вы действительно хотите удалить свой аккаунт?" }, method: :delete %>
          </div>
        <% end %>

      </div>

      <div class="col-lg-16 col-md-14 col-sm-12">
        <%= render 'orders_list' %>
      </div>

    <% end %>

  <% end %>
    
<% end %>
