<% title_index %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= title_index %>
  <% end %>

  <%= p.content do %>

    <%= link_to url_for(action: :new, return_path: request.fullpath), class: 'btn btn-primary', style: "vertical-align: top" do %>
      <%= icon 'plus' %>
    <% end %>

    <%= paginate @resources %>

    <div class="table-responsive top-space bottom-space">
      <table class="table">
        <thead>
          <tr>
            <th> <%= @resource_class.human_attribute_name :id %> </th>
            <th> <%= @resource_class.human_attribute_name :ancestry %> </th>
            <th> <%= @resource_class.human_attribute_name :name %> </th>
            <th> <%= @resource_class.human_attribute_name :created_at %> </th>
            <th> <%= @resource_class.human_attribute_name :updated_at %> </th>
          </tr>
        </thead>
        <tbody>
          <% @resources.each do |r| %>
            <tr>
              <td> <%= link_to r.id, edit_admin_spare_catalog_group_path(r, return_path: request.fullpath) %> </td>
              <td> <%= nice_tree(r.path) %> </td>
              <td> <%= r.name %> </td>
              <td> <%= r.created_at %> </td>
              <td> <%= r.updated_at %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @resources %>

  <% end %>
<% end %>
