<%= simple_form_for @attachment, :html => { :class => 'form-horizontal dirtyforms' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :email %>
    <%= f.input :attachment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
