<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @attachment.email %>
</p>

<p>
  <b>Attachment:</b>
  <%= @attachment.attachment %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
