<% @meta_title = ckpart('welcome.index.title') %>
<% @meta_description = ckpart('welcome.index.description') %>

<%= content_tag :div, style: "padding: 80px 0px; background: #5A5A5A url('#{asset_url 'parts.jpg'}') 0px 0px;" do %>

  <div class="container">

    <%= row do %>

      <div class="col-md-12 col-lg-offset-2 col-lg-10">
        <h1 style="color: white; margin-bottom: 40px; font-size: 36px;" class="text-left shadowed">Добро пожаловать!</h1>
        <h4 style="color: white; line-height: 190%" class="text-justify shadowed"><%= ckpart('welcome.index.description') %></h4>
      </div>

      <div class="col-md-12 col-lg-10">
        <div class="col-lg-20 col-lg-offset-2 top-space-lg bottom-space-lg">
          <%= form_tag new_user_product_path, :method => :get, class: 'bottom-space-lg' do %>
            <div class="input-group">
              <input type="text" name="catalog_number" class="form-control input-lg" placeholder="Артикул детали">
              <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="submit">Найти</button>
              </span>
            </div><!-- /input-group -->
          <% end %>
          <span style="color: white;" class="shadowed"> Если вы уже знаете артикул запчасти, так же его называют каталожный номер, то можете сразу воспользоваться поиском. </span>
        </div>
      </div>

    <% end %>

  </div>

<% end %>

<%= content_tag :div, style: "background: white; padding: 40px 0; border-top: 3px solid #333" do %>

  <div class="container">

    <%= row do %>

      <div class="col-md-10 col-lg-offset-2 col-lg-8">
        <h1 style="margin-bottom: 40px; font-size: 36px">Каталоги</h1>
        <h4 class="text-justify" style="line-height: 190%">Если вы не знаете артикула детали и разбираетесь в устройстве автомобиля, то можете самостоятельно подобрать себе необходимую деталь. По вашему запросу менеджер проверит совместимость заказанных деталей с вашим автомобилем.</h4>
      </div>
      <div class="col-md-14 col-lg-12">
        <div id="brands">
          <%= row do %>
            <div class="col-lg-20 col-lg-offset-2 top-space-lg">
              <%= form_tag search_brands_path, remote: true, method: 'get' do %>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><%= icon 'search' %></span>
                  <%= text_field_tag "q[name_cont]", nil, class: "form-control", "brands-fast-search"=>"", placeholder: "Быстрый поиск" %>
                  <%= hidden_field_tag :manufacturer, '1' %>
                </div>
              <% end %>
            </div>
          <% end %>
          <ul class="clearfix brands list-inline" id="brands-fast-search-list" style="background: #FFF; padding: 10px 0;">
            <% @brands = Brand.where(:default_display => true).order(:name => :asc).limit(15) %>
              <%= render partial: 'brands_fast_search_list', collection: @brands %>
          </ul>
        </div>
      </div>

    <% end %>

  </div>

<% end %>


<%= content_tag :div, style: "padding: 0; background: #eee; height: 450px; overflow: hidden; border-top: 3px solid #333" do %>

  <div class="container">

    <%= row do %>

      <div class="col-lg-24" style="position: relative">
        <% @topics.each do |topic| %>
          <p class="text-muted unselectable" style="color: #CECECE; font-size: <%= 20 + Random.rand(20) %>px; font-weight: bold; position: absolute; top: <%= Random.rand(340) - 40 %>px ; left: <%= Random.rand(800) - 100 %>px; padding: 0; display: block; white-space: nowrap"><%= topic['title'] %></p>
        <% end %>

        <div style="top: 200px; position: absolute; left: 0; right: 0; width: 300px" class="center-block">
          <a href="/faqs" class="btn btn-primary btn-lg btn-block"> Полезная информация </a>
        </div>

      </div>

    <% end %>

  </div>

<% end %>

<%= content_tag :div, style: "padding: 80px 0; background: #3c5868; border-top: 3px solid #333" do %>

  <div class="container">

    <%= row do %>

      <div class="col-md-12 col-lg-offset-2 col-lg-10 bottom-space-lg">
        <h1 style="margin-bottom: 40px; font-size: 36px; color: white">Онлайн консультант</h1>
        <h4 class="text-justify" style="line-height: 190%; color: white">Нет желания, опыта или времени разбираться в премудростях автомобиля и запчастях? Обратитесь в нашу службу поддержки и вам обязательно помогут наши специалисты. </h4>

        <%= row class: 'top-space-lg' do %>
          <div class="col-sm-14 col-md-24">
            <%= render 'support_buttons' %>
          </div>
        <% end %>

      </div>

      <div class="col-md-12 col-lg-10">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

          <% images = Gallery.all %>

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @first = nil %>
            <% (0..images.count-1).each do |i| %>
              <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" <%= (i == 0) ? "class='active'".html_safe : '' %> ></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">

            <% images.each do |image| %>

              <div class="item <%= mark_first_as_active %>">
                <%= image_tag image.image.welcome.url %>
                <div class="carousel-caption" style="padding: 0; left: 15%; right: 15%; bottom: 0; top: 0">
                  <div style="display: table; height: 100%; width: 100%">
                    <div style="display: table-cell; vertical-align: middle">
                      <div style="background: rgba(0,0,0,0.3); border-radius: 3px;">
                        <h3 style="color: white"><%= image.title %></h3>
                        <p style="color: white;"><%== image.content %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>

          </div>

          <!-- Controls -->
          <a href="#carousel-example-generic" class="left carousel-control" data-slide="prev">
            <span class="icon-prev">
            </span>
          </a>
          <a href="#carousel-example-generic" class="right carousel-control" data-slide="next">
            <span class="icon-next">
            </span>
          </a>

        </div>

      </div>

    <% end %>

  </div>

<% end %>

<%= render 'partners' %>
