<!-- Main hero unit for a primary marketing message or call to action -->


<div class="hero-unit">
  <%= render(:partial => "blocks/show", :locals => {:block_name => 'hero_unit'}) %>
</div>


<div class="jumbotron">

  <h1>Добро пожаловать!</h1>
  <p>Мы занимаемся продажей оригинальных и неоригинальных запчастей для японских автомобилей. Для вашего удобства мы принимаем оплату всеми современными способами. Приобретенный товар вы можете самостоятельно забрать в пункте выдачи в Москве или заказать доставку. Так же мы отправляем почтовыми и транспортными компаниями по России.</p>
  <hr />
  На рынке автозапчастей с 2003 года. Вы пришли в правильное место!

</div>




<%= row style: "padding: 40px 0;" do %>

  <div class="col-lg-5 col-lg-offset-1 col-md-6">
    <h1 style="margin-bottom: 40px; font-size: 36px;" class="text-left">Поиск по номеру запчасти</h1>

    <h4 style="line-height: 190%" class="text-justify">Если вы уже знаете артикул запчасти, так же его называют каталожный номер, то можете сразу воспользоваться поиском. Обычно производители запасных частей пишут их на упаковках, лейблах, самих запчастях. Стоит отметить что разные компании могут выпускать деталь под одним и тем же артикулом, поэтому так же обратите внимание на производителя компании при заказе детали.</h4>

    <div class="col-lg-10 col-lg-offset-1 top-space-lg bottom-space-lg">
      <%= form_tag polymorphic_path([:new, *jaba3, :product]), remote: true, :method => :get do %>
        <div class="input-group">
          <input type="text" name="catalog_number" class="form-control input-lg" placeholder="Артикул детали">
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg" type="submit">Найти</button>
          </span>
        </div><!-- /input-group -->
      <% end %>
    </div>

  </div>

  <div class="col-lg-5 col-md-6">
    <div style="padding: 40px;">
      <%= image_tag 'part.gif', class: 'img-responsive center-block' %>
    </div>
  </div>

<% end %>


<hr />


<%= row style: "padding: 40px 0;" do %>

  <div class="col-lg-5 col-lg-offset-1 col-md-6">
    <h1 style="margin-bottom: 40px; font-size: 36px;">Автомобильные каталоги</h1>
    <h4 class="text-justify" style="line-height: 190%">Если вы не знаете артикула детали и разбираетесь в устройстве автомобиля, то можете самостоятельно подобрать себе необходимую деталь. По вашему запросу менеджер проверит совместимость заказанных деталей с вашим автомобилем.</h4>
  </div>
  <div class="col-lg-5 col-md-6">
    <div id="brands" class="bottom-space-lg">
      <%= row do %>
        <div class="col-lg-10 col-lg-offset-1 top-space-lg bottom-space-lg">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><%= icon 'search' %></span>
            <input type="text" class="form-control search" placeholder="Быстрый поиск">
          </div>
        </div>
      <% end %>
      <ul class="clearfix list brands list-inline">
        <% Brand.where("brand_id is NULL").where(:manufacturer => true).order(:name => :asc).each do |a, b| %>
          <li>
            <%= brands_decorator(a, {:title => true}) %>
          </li>
        <% end %>
      </ul>
      <ul class="pagination" style="margin: 20px 0 20px 20px !important"></ul>
    </div>
  </div>

<% end %>


<hr />

<%= row style: "padding: 40px 0;" do %>

  <div class="col-lg-5 col-lg-offset-1 col-md-6">
    <h1 style="margin-bottom: 40px; font-size: 36px;">Онлайн консультант</h1>
    <h4 class="text-justify" style="line-height: 190%">Нет желания, опыта или времени разбираться в премудростях автомобиля и запчастях? Обратитесь в нашу службу поддержки и вам обязательно помогут наши специалисты. Позвоните ли вы нам с телефона, с браузера используя микрофон и наушники, пришлете письмо на e-mail или напишете в чат, история переписки всегда будет сохраняться в одном месте для быстрого доступа.</h4>
  </div>

  <div class="col-lg-5 col-md-6">
    <div style="padding: 40px;">
      <%= image_tag 'support.gif', class: 'img-responsive center-block' %>
    </div>
  </div>

<% end %>


<div class="row" style="margin-left: 0; margin-bottom: 0px">
  <div class="col-lg-12">
    <%= render(:partial => "blocks/show", :locals => {:block_name => 'blockquote'}) %>
  </div>
</div>
