<%= somebody_tabs do %>

  <% @meta_title = 'Новости' %>
  <%= page_header %>

  <% @news.each do |item| %>

    <span class="pull-right text-sm text-muted top-space-xs"><%= l item.date, format: :news %></span>
    <h2 class="top-space-none">
      <%= link_to item.title, news_path(item) %>
    </h2>

    <div class="clearfix">
      <%== item.intro %>
    </div>
    <hr class="bottom-space top-space" />

  <% end %>

  <div class="top-space-lg bottom-space-lg">
    <%= paginate @news %>
  </div>


<% end %>
