<%= simple_form_for [:admin, @delivery_category], :html => { :class => 'form-horizontal dirtyforms' } do |f| %>
  <%= f.input :name %>
  <%= f.input :notes, :input_html => {:rows => 3} %>
  <%= f.input :notes_invisible, :input_html => {:rows => 3} %>
  <%= f.input :image %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_delivery_categories_path, :class => 'btn' %>
  </div>
<% end %>
