<h1>Listing pings</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pings.each do |ping| %>
  <tr>
    <td><%= ping.user %></td>
    <td><%= link_to 'Show', ping %></td>
    <td><%= link_to 'Edit', edit_ping_path(ping) %></td>
    <td><%= link_to 'Destroy', ping, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ping', new_ping_path %>
