<%= panel 'primary' do |p| %>
  <%= p.heading do %>
    <%= p.title do %>
      <%= title %>
    <% end %>
  <% end %>
  <%= p.body do %>
    <%= f.nested_fields do %>

      <% assoc_type = "#{assoc}_type".to_sym %>
      <% assoc_id = "#{assoc}_id".to_sym %>
      <% type = eval("f.object.#{assoc_type}") %>

      <div rel="type-store" id="<%= assoc %>">

        <%# TODO Задействовать label: false и label: nil %>
        <%= f.twbs_collection_radio_buttons assoc_type, [['new', 'Добавить новый'] ,['old', 'Выбрать из списка']], :first, :last, {variation: :vertical, label: false}, rel: 'radio radio-postal-address-switcher' %>

        <div rel="old">
          <% options = @somebody.postal_addresses.map{|pa| [pa.to_label, pa.id]} + [[opposite, '-1']] %>
          <%# TODO Задействовать label: false и label: nil %>
          <%= f.twbs_select(assoc_id, options, {include_blank: true, label: false}) %>
        </div>

        <div rel="new">
          <%= f.fields_for assoc.to_sym, type == 'new' ? eval("f.object.#{assoc}") : eval("f.object.build_#{assoc}") do |la| %>
            <%= render 'postal_addresses/fields', :f => la %>
          <% end %>
        </div>

      </div>

    <% end %>

  <% end %>

<% end %>
