<%= image_tag 'logo.png' %>
<br />
<br />

<% if @talk.text.present? %>
  <h3>Текст сообщения:</h3>
  <%= @talk.text %>
  <br />
<% end %>

<% if @talk.file_name.present? %>
  <h3>Прикрепленный файл:</h3>
  <%= link_to @talk.file_name, @talk.file_url %><br />
  <br />
<% end %>

<% if @talk.creator.profiles.any? %>
  <h3>Контакты:</h3>
  <% @talk.creator.profiles.each do |profile| %>
    <%= render 'profile', profile: profile %>
  <% end %>
<% end %>

<% if @talk.creator.cars.any? %>
  <h3>Автомобили клиента:</h3>
  <% @talk.creator.cars.each do |car| %>
    <%= car.to_label %><br />
  <% end %>
<% end %>

<h3>Шпион:</h3>
Населенный пункт: <%= @talk.creator.ipgeobase_name %><br />
Регион: <%= @talk.creator.ipgeobase_names_depth_cache %><br />
Версия браузера: <%= @talk.creator.user_agent %><br />
Язы браузера: <%= @talk.creator.accept_language %><br />
Часовой пояс: <%= @talk.creator.cached_russian_time_zone_auto_id %><br />
IP адрес: <%= @talk.creator.remote_ip %><br />
Просмотров страниц: <%= @talk.creator.stats_count %><br />
Текущее расположение: <%= @talk.creator.cached_location %><br />
Заголовок страницы: <%= @talk.creator.cached_title %><br />
Пришел со страницы: <%= @talk.creator.cached_referrer %><br />
Откуда пришел впервые: <%= @talk.creator.first_referrer %><br />

<br />
<%= link_to 'Просмотреть сообщение', admin_user_url(@talk.creator) %>
