<% b = Breadcrumb.new(self) %>

<%= b1 do %>

  <ol class="breadcrumb">
    <%= b.item('Запчасти', categories_path) %>
    <%= b.item(@resource.name) %>
  </ol>

  <% @meta_title = @resource.name %>
  <%= page_header %>

  <ol id="category-brands">
    <% @brands.each do |brand| %>
      <li> <%= link_to brand.cached_brand, category_brand_path(params[:category_id], brand.to_brand_param) %> </li>
    <% end %>
  </ol>

  <hr />

  <% if false %>
    <div id="category-intro"><%==  @resource.intro %></div>
  <% end %>

  <div id="category-page"><%== @resource.page %></div>

  <% if @current_user.seller? %>
    <%= link_to edit_admin_spare_catalog_path(@resource), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
      <%= icon 'edit' %>
      Редактировать
    <% end %>
  <% end %>


<% end %>
