<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', root_path %>
    <%= b.item('Запчасти', categories_path) %>
    <%= b.item(@spare_catalog.name, category_path(params[:category_id])) %>
    <%= b.item(@brand.name) %>
  <% end %>


  <%= p.title do %>
    <%= image_tag @brand.image_url, class: 'pull-right img-thumbnail', style: 'margin-top: -60px;' %>
    <%= page_header %>
    <%= discourse_head %>
  <% end %>

  <%= p.content do %>
    <% if @models.exists? %>
      <%= panel 'primary', class: 'by-car' do |p| %>
        <%= p.heading "data-clickable-object" => true do %>
          <%= p.title do %>
            <a data-toggle="collapse" href="#by-car-collapse" data-clickable-href>Подбор <%= @spare_catalog.name %> по автомобилю </a>
            <%= icon 'caret-down pull-right' %>
          <% end %>
        <% end %>
        <%= content_tag :div, 'id' => 'by-car-collapse', 'class' => 'panel-collapse collapse' do %>
          <%= p.body do %>
            <ol id="categories-brands-show-models">
              <% @models.each do |model| %>
                <li data-clickable-object> <%= link_to safe_join([hidden("#{@spare_catalog.name} на #{@brand.name} "), content_tag(:strong, model.name)]), category_model_path(params[:category_id], model), 'data-clickable-href' => '' %> <%= "<small class='text-muted'>(#{model.count}&nbsp;шт.)</small>".html_safe %></li>
              <% end %>
            </ol>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render 'tmp' %>

    <% if false %>
    <% if @current_user.seller? %>
      <%= link_to edit_admin_brand_path(@brand, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
        <%= icon 'edit' %>
        Редактировать
      <% end %>
    <% end %>
    <% end %>

  <% end %>

<% end %>

<%= discourse_body %>
