<%= somebody_tabs do %>

  <% b = Breadcrumb.new(self) %>

  <ol class="breadcrumb">
    <%= b.item('Запчасти', categories_path) %>
    <%= b.item(@resource.name, category_path(params[:category_id])) %>
    <%= b.item(@brand.name) %>
  </ol>

  <%= image_tag @brand.image_url, class: 'pull-right', style: 'margin-top: -30px;' %>

  <% @meta_title = "#{@resource.name} НА #{@brand.name}" %>
  <% @meta_title_small = "(рус. #{@brand.slang})" if @brand.slang.present? %>
  <%= page_header %>

  <div class="clearfix"></div>

  <% if @spare_applicabilities.exists? %>
    <%= panel 'info', class: 'by-car' do |p| %>
      <%= p.heading do %>
        <%= p.title do %>
          Подбор <%= @resource.name %> по автомобилю
        <% end %>
      <% end %>
      <%= p.body do %>
        <ol id="category-models">
          <% @spare_applicabilities.each do |spare_applicability| %>
            <li data-clickable-object> <%= link_to spare_applicability.cached_model, category_model_path(params[:category_id], spare_applicability.to_model_param), 'data-clickable-href' => '' %> </li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  <% end %>

  <% if @resource_class %>
    <%= render partial: "#{@resource_class.name.underscore.pluralize}/index" %>
  <% end %>

  <% if @current_user.seller? %>
    <%= link_to edit_admin_brand_path(@brand, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
      <%= icon 'edit' %>
      Редактировать
    <% end %>
  <% end %>

<% end %>
