<%= container do %>

  <%= row class: 'top-space' do %>

    <div class="col-lg-12">

      <% title_new %>

      <%= breadcrumb true do |b| %>
        <%= b.item @meta_title %>
      <% end %>

      <%= title_new %>

      <%= render 'form' %>

    </div>

  <% end %>

<% end %>

