<h1>Поиск автозапчастей</h1>
<%= render :partial => "form" %>

<% if @status[:offers] %>

  <% render :partial => "pages/add_menu_elements" %>

  <% if params[:replacements] == '1' %>
    <%= render :partial => "replacements" %>
  <% else %>
    <%= render :partial => "results" %>
  <% end %>

  <%= image_tag "spare_parts.png", :style => "z-index: 11; position: absolute; display: none", :id => "wishes-logo" %>

<% else %>

  <% unless params.key? :skip %>
    <% if params[:catalog_number].blank? %>
      <h3>Вы не указали искомый каталожный номер</h3>
    <% else %>
      <h3>Ничего не найдено <%= (catalog_number = params[:catalog_number]).present? ? "по каталожному номеру #{catalog_number}" : "" %> <%= (manufacturer = params[:manufacturer]).present? ? "и производителю #{manufacturer}" : ""%> <%= params[:replacements].present? ? "с учетом аналогов" : "без учета аналогов"  %> <br />
        <%= "Повторить поиск #{ link_to 'с учетом аналогов', search_searches_path(params[:catalog_number], params[:manufacturer], '1'), :class => 'ajax-search' } <br />".html_safe if (params[:replacements].to_i != 1) %>
        <%= "Повторить поиск #{ link_to 'без указания производителя', search_searches_path(params[:catalog_number], "", params[:replacements]), :class => 'ajax-search' } <br />".html_safe if params[:manufacturer].present? %></h3>
    <% end %>
  <% end %>
<% end %>

<%= raw @page.default_content if @status[:page] %>
