<% if @formatted_data.present? %>

  <%= panel 'primary' do |p| %>
    <%= p.heading do %>
      <%= p.title { 'Замены' } %>
    <% end %>

    <table id="result-prices" class="table table-striped">
      <thead>
        <tr>
          <th style="width: 55px">  <a href="#" rel="tooltip" title="Рейтинг производителя">Рейт.</a> </th>
          <th style="width: 80px">  <a href="#" rel="tooltip" title="Производитель">Произв.</a> </th>
          <th style="width: 80px"> <a href="#" rel="tooltip" title="Каталожный номер">Кат.&nbsp;ном.</a> </th>
          <th style="width: 55px">  <a href="#" rel="tooltip" title="Информация">Инфо</a> </th>
          <th> <a href="#" rel="tooltip" title="Название">Название</a> </th>
          <th style="width: 90px">  <a href="#" rel="tooltip" title="Дней">Дней</a> </th>
          <th style="width: 120px">  <a href="#" rel="tooltip" title="Цена">Цена</a> </th>
        </tr>
      </thead>
      <tbody>
        <% @formatted_data.each do |catalog_number, cn_scope| %>
          <% cn_scope.each_with_index do |(manufacturer, mf_scope), i| %>
            <tr> 
              <td> <%= brand_rating mf_scope[:brand] %> </td>
              <td> <%= manufacturer %> </td>
              <td> 
                <% if !@resource %>
                  <%= link_to catalog_number, polymorphic_path([:search, (admin_zone? ? :admin : :user), (admin_zone? ? @somebody : nil), :searches], :catalog_number => catalog_number, :anchor => manufacturer ), :class => 'ajax-search' %> 
                <% else %>
                  <%= catalog_number %>
                <% end %>
              </td>

              <td>
                <% # Если есть хотя бы какая-то информация, то показываем, что есть информация %>
                <% if mf_scope[:info].any?{|key, value| value[:status] == 'avaliable'} %>
                  <%= icon 'info-circle fa-lg' %>
                <% end %>
              </td>
              <td> <%= mf_scope[:title] %> </td>
              <td> <%= mf_scope[:min_days]%> - <%= mf_scope[:max_days] %> дн. </td>
              <td> <%= mf_scope[:min_cost] %> - <%= mf_scope[:max_cost] %> руб. </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

<% end %>
