<% if @status[:offers] %>

  <div id="is_search"></div>

  <% @formatted_data.each do |catalog_number, cn_scope| %>

    <% cn_scope.each_with_index do |(manufacturer, mf_scope), i| %>

      <div id="<%= manufacturer %>" itemscope itemtype="http://schema.org/Product">

        <%= panel 'primary' do |p| %>

          <% short_name = mf_scope[:title] %>

          <%= p.heading do %>
            <%= p.title do %>
              <span itemprop="name"><span style="display: none"><%= catalog_number %> (<%= manufacturer%>)</span> <%= short_name %></span>
            <% end %>
          <% end %>

          <%= p.body do %>

            <%= row do %>
              <div class="col-md-2">

                <h4 style="text-align: center">
                  <span itemprop="brand"><%= manufacturer %></span>
    
                  <br />
                  <small> <%= catalog_number %> </small>
                </h4>

                <div class="brands" style="clear: both; display: block; margin: 0 auto; width: 96px; height: 100px"> 
                  <%= brands_decorator mf_scope[:brand], {:title => false} %>
                </div>

                <div class="stars" style="clear: both; text-align: center; margin-bottom: 20px">
                  <%= brand_rating mf_scope[:brand] %>
                </div>

              </div>

              <div class="col-md-10">

                <div itemprop="description">
                  <% if mf_scope[:titles].size > 0 %>
                    <em>Прочие названия детали:</em><br />
                    <% long_name = mf_scope[:titles].keys.map{|val| h(val)}.join(', ') %>
                    <p style="word-wrap: break-word;"><%= raw long_name %></p>
                  <% end %>
                  <% if mf_scope[:manufacturer_origs].size > 0 %>
                    <em>Прочие написания производителя детали:</em><br />
                    <p style="word-wrap: break-word;"><%= raw mf_scope[:manufacturer_origs].keys.map{|val| h(val)}.join(', ') %></p>
                  <% end %>
                  <% if mf_scope[:catalog_number_origs].size > 0 %>
                    <em>Прочие написания артикула детали:</em><br />
                    <p style="word-wrap: break-word;"><%= raw mf_scope[:catalog_number_origs].keys.map{|val| h(val)}.join(', ') %></p>
                  <% end %>
                  <% if mf_scope[:weights].size > 0 %>
                    <em>Веса:</em>
                    <p style="word-wrap: break-word;"><%= raw mf_scope[:weights].keys.map{|val| h("#{val} кг.")}.join(', ') %></p>
                  <% end %>
                </div>

                <span style="display: none">
                  <div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                    <meta itemprop="priceCurrency" content="RUB" />
                    Не устраивают цена или срок доставки? Взгляните на <span itemprop="offerCount"><%= mf_scope[:offers].size %></span> лучших предложений от наших поставщиков с ценами от <span itemprop="lowPrice"><%= number_to_currency(mf_scope[:min_cost]) %></span> до <span itemprop="highPrice"><%= number_to_currency(mf_scope[:max_cost]) %></span>
                  </div>
                </span>

                <div class="text-lg table-responsive" rel="offers">
                  <table class="table table-hover">

                    <thead>
                      <tr>
                        <th> <b href="#" rel="tooltip" title="Расположение склада поставщика">Расп.</b></th>
                        <th> <b href="#" rel="tooltip" title="Способ доставки на наш склад">Дост.</b></th>
                        <th> <b href="#" rel="tooltip" title="Минимальный срок поставки на наш склад">Мин.</b></th>
                        <th> <b href="#" rel="tooltip" title="Максимальный срок поставки на наш склад">Макс.</b></th>
                        <th> <b href="#" rel="tooltip" title="Вероятность наличия детали у поставщика">Вер.</b></th>
                        <th> <b href="#" rel="tooltip" title="Количество на складе поставщика">Кол-во</b></th>
                        <th> <b href="#" rel="tooltip" title="Зайдите на сайт под своим аккаунтом, чтобы увидеть вашу цену со скидками, если таковые имеются">Цена</b></th>
                        <% if current_user.seller? %>
                          <th> <b href="#" rel="tooltip" title="Служебная информация, отображается только менеджеру сайта">Служ.</b></th>
                        <% end %>
                      </tr>
                    </thead>

                    <tbody>
                      <% mf_scope[:offers].each do |offer| %>
                        <tr class="<%= offer[:min_days] == 0 && offer[:max_days] == 0 && offer[:probability] == 100 ? 'success' : '' %>">
                          <td> <%= raw country_decorator offer[:country] %> </td>
                          <td> <%= raw offer[:delivery] %> </td>
                          <td> <%= raw days_decorator offer[:min_days] %> </td>
                          <td> <%= raw days_decorator offer[:max_days] %> </td>
                          <td> <%= raw offer[:probability] %>% </td>
                          <td> <%= raw count_decorator offer[:count] %> </td>
                          <td>
                            <%= buy_button offer, catalog_number, manufacturer, short_name, long_name, class: "btn btn-success btn-xs buy-button" do %>
                              Купить <%= number_to_currency(offer[:retail_cost], precision: 0) %>
                            <% end %>
                          </td>
                          <% if current_user.seller? %>
                            <td>
                              <%= offer[:tech] %> 
                            </td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>

                  </table>
                </div>

                <% new_or_edit = @resource.try(:persisted?) ? :edit : :new %>
                <p>А так же рекомендуем посмотреть <%= link_to  "аналоги и замены, \"#{catalog_number} - #{manufacturer}\"", polymorphic_path([new_or_edit, *jaba3, :product], :id => @resource, :catalog_number => catalog_number, :manufacturer => manufacturer, :replacements => '1', :product_id => @resource.try(:product_id), :return_path => params[:return_path]), :class => 'replacement-button' %>, т.к. возможно существуют детали по более низкой цене и не хуже качеством. </p>

                <p>Есть вопросы? <a href="#">Менеджер готов проконсультировать вас прямо сейчас</a>.</p>

                <hr />

                <% benchmark("Bayes") do %>

                  <% nbayes = NBayes::Base.new %>

                  <% SpareCatalog.all.each do |spare_catalog| %>
                    <% nbayes.train( spare_catalog.content.split(/\s+/), spare_catalog.name ) %>
                    <%# nbayes.train( [spare_catalog.content], spare_catalog.name ) %>
                  <% end %>

                  <%# tokens = mf_scope[:titles].keys.map{|val| h(val)}.join(', ').to_s.split(/\s+/) %>
                  <%# tokens = mf_scope[:titles].keys.map{|val| h(val)}.join('###').to_s.split(/###/) %>
                  <% tokens = mf_scope[:titles].keys.map{|val| h(val)}.join(', ').to_s.split(/[[:punct:][:space:]]/).reject{|item| item.length < 3}.map{|item| item.gsub(/[^[:word:]]/, '')} %>
                  <% tokens = tokens.reject{|item| ['ДЕТАЛЬ', 'ЗАПЧАСТЬ'].include? item} %>

                  <% if tokens.any? %>

                    <%# tokens %>

                    <% result = nbayes.classify(tokens) %>

                    <% if false %>
                      <h4>
                        <a href="#"> <%= result.max_class %> </a>
                      </h4>
                    <% end %>

                    <%= row do %>
                      <div class="col-sm-1">
                        <%= icon 'book fa-3x', style: 'margin-top: 10px' %>
                      </div>
                      <div class="col-sm-11">
                        <h4> Близкие по теме материалы энциклопедии автомобиля:</h4>

                        <ul class="list-unstyled">
                          <% result.sort_by {|k, v| -v}.take(2).each do |item, rate| %>
                            <li><a href="#"><%= item %></a></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>

                  <% end %>

                <% end %>


                <% if @current_user.seller? %>

                  <hr />

                  <%# if false %>
                  <%# c = BayesMotel::Corpus.new('parts') %>

                  <%# SpareCatalog.all.each do |spare_catalog| %>
                    <%# c.train({:text => spare_catalog.text}, spare_catalog.title) %>
                  <%# end %>
                  <%# tokens = mf_scope[:titles].keys.map{|val| h(val)}.join(', ') %>
                  <%# binding.pry %>
                  <%# results = c.classify({:text => tokens}) %>
                  <%# debug results %>
                  <%# end %>

                  <%# if false %>
                    <%# cls = StuffClassifier::Bayes.new("test", :stemming => false) %>

                    <%# SpareCatalog.all.each do |spare_catalog| %>
                      <%# cls.train(Russian.translit(spare_catalog.title), Russian.translit(spare_catalog.text)) %>
                    <%# end %>

                    <%# tokens = Russian.translit(mf_scope[:titles].keys.map{|val| h(val)}.join(', ')) %>

                    <%# if tokens.size > 0 %>

                      <%# result = cls.classify(tokens) %>

                      <%# debug result %>
                    <%# end %>
                  <%# end %>

                  <%= twbs_form_for SpareCatalog.new(:name => '', :content => long_name), :remote => true, :url => polymorphic_path([:admin, :spare_catalogs], :return_path => request.fullpath) do |f| %>

                    <%= f.twbs_text_area :content, rows: 4 %>

                    <%= f.twbs_select2 :name, rel: 'select2-spare-catalog' %>

                    <%= f.twbs_submit %>

                  <% end %>
                  

                  <% if mf_scope[:info][:own][:data].blank? %>
                    <%= link_to 'Новая статья', new_admin_spare_info_path(:spare_info => { :catalog_number => catalog_number, :brand_attributes => { :name => manufacturer } }, :return_path => request.fullpath), :class => "btn btn-default pull-right btn-xs" %>
                  <% else %>
                    <%= link_to 'Редактировать статью', edit_admin_spare_info_path(mf_scope[:info][:own][:data], :return_path => request.fullpath), :class => "btn btn-default pull-right btn-xs" %>
                  <% end %>
                <% end %>

                <% if mf_scope[:info][:own][:status] == 'avaliable' %>
                  <hr />
                  <%= mf_scope[:info][:own][:data].content.html_safe %>
                <% end %>



              </div>

            <% end %>

          <% end %>

        <% end %>

      </div>

    <% end %>

  <% end %>

  <% new_or_edit = @resource.try(:persisted?) ? :edit : :new %>
  <h4>Вы так же можете попробовать посмотреть <%= link_to "замены номера #{@c9} без указания производителя", polymorphic_path([new_or_edit, *jaba3,  :product], :id => @resource, :catalog_number => @c9, :manufacturer => nil, :replacements => '1', :product_id => @resource.try(:product_id), :return_path => params[:return_path]), :class => 'replacement-button' %>.</h4>

<% end %>
