<% if @status[:offers] %>

  <div id="is_search"></div>

  <% @formatted_data.each do |catalog_number, cn_scope| %>

    <% cn_scope.each_with_index do |(manufacturer, mf_scope), i| %>

      <div id="<%= manufacturer %>" itemscope itemtype="http://schema.org/Product">

        <%= panel 'primary' do |p| %>

          <% short_name = mf_scope[:title] %>

          <%= p.heading do %>
            <%= p.title do %>
              <span itemprop="name"><span style="display: none"><%= catalog_number %> (<%= manufacturer%>)</span> <%= short_name %></span>
            <% end %>
          <% end %>

          <%= p.body do %>

            <%= row do %>
              <div class="col-md-2">

                <h4 style="text-align: center">
                  <span itemprop="brand"><%= manufacturer %></span>
    
                  <br />
                  <small> <%= catalog_number %> </small>
                </h4>

                <div class="brands" style="clear: both; display: block; margin: 0 auto; width: 96px; height: 100px"> 
                  <%= brands_decorator lambda{|brand| brand_parts_path brand}, mf_scope[:brand], {:title => false} %>
                </div>

                <div class="stars" style="clear: both; text-align: center; margin-bottom: 20px">
                  <%= brand_rating mf_scope[:brand] %>
                </div>

                <div class="brand-preview text-xs text-justify">
                  <%= brand_preview mf_scope[:brand] %>
                </div>

              </div>

              <div class="col-md-10">

                <div itemprop="description">
                  <% if mf_scope[:titles].size > 0 %>
                    <em>Прочие названия детали:</em><br />
                    <% long_name = mf_scope[:titles].keys.map{|val| h(val)}.join(', ') %>
                    <p class="other-names"><%= raw long_name %></p>
                  <% end %>
                  <% if mf_scope[:manufacturer_origs].size > 0 %>
                    <em>Прочие написания производителя детали:</em><br />
                    <p class="other-brands"><%= raw mf_scope[:manufacturer_origs].keys.map{|val| h(val)}.join(', ') %></p>
                  <% end %>
                  <% if mf_scope[:catalog_number_origs].size > 0 %>
                    <em>Прочие написания артикула детали:</em><br />
                    <p class="other-catalog-numbers"><%= raw mf_scope[:catalog_number_origs].keys.map{|val| h(val)}.join(', ') %></p>
                  <% end %>
                  <% if mf_scope[:weights].size > 0 %>
                    <em>Веса:</em>
                    <p style="word-wrap: break-word;"><%= raw mf_scope[:weights].keys.map{|val| h("#{val} кг.")}.join(', ') %></p>
                  <% end %>
                </div>

                <span style="display: none">
                  <div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                    <meta itemprop="priceCurrency" content="RUB" />
                    Не устраивают цена или срок доставки? Взгляните на <span itemprop="offerCount"><%= mf_scope[:offers].size %></span> лучших предложений от наших поставщиков с ценами от <span itemprop="lowPrice"><%= number_to_currency(mf_scope[:min_cost]) %></span> до <span itemprop="highPrice"><%= number_to_currency(mf_scope[:max_cost]) %></span>
                  </div>
                </span>

                <div class="text-lg table-responsive top-space" rel="offers">
                  <table class="table">

                    <thead class="hidden-xs">
                      <tr>
                        <th> <b href="#" rel="tooltip" title="Расположение склада поставщика">Расположение<br />склада</b></th>
                        <th> <b href="#" rel="tooltip" title="Минимальный срок поставки на наш склад">Мин.<br />срок</b></th>
                        <th> <b href="#" rel="tooltip" title="Максимальный срок поставки на наш склад">Макс.<br />срок</b></th>
                        <th> <b href="#" rel="tooltip" title="Количество на складе поставщика">Кол-во на<br />складе</b></th>
                        <th> <b href="#" rel="tooltip" title="Зайдите на сайт под своим аккаунтом, чтобы увидеть вашу цену со скидками, если таковые имеются">Цена</b></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% mf_scope[:offers].each do |offer| %>
                        <%# Это очень не хороший способ Что будет если у всех предложений будет 0?! Upd. А ничего просто не будет предложений с ценами. TODO!%>
                        <%# Но пока выйти из ситуации по легкому по-другому не получится. А забивать сюда заоблочные цены и сроки херово для представления покупателю %>
                        <% next if offer[:probability] == 0 %>
                        <% offer[:min_days] == 0 && offer[:max_days] == 0 && offer[:probability] == 100 ? presence = true : presence = false %>
                        <tr class="<%= presence ? 'active' : '' %>">
                          <td> <span class="visible-xs"> Расположение склада: </span> <%= raw country_decorator offer[:country] %> </td>
                          <td> <span class="visible-xs"> Минимальный срок: </span> <%= raw days_decorator offer[:min_days] %> </td>
                          <td> <span class="visible-xs"> Максимальный срок: </span> <%= raw days_decorator offer[:max_days] %> </td>
                          <td> <span class="visible-xs"> Количество на складе: </span> <%= raw count_decorator offer[:count] %> </td>
                          <td>
                            <%= buy_button offer, catalog_number, manufacturer, short_name, long_name, rel: "tooltip", title: (offer[:tech] if current_user.seller?), class: "btn  btn-success buy-button" do %>
                              Купить <%= number_to_currency(offer[:retail_cost], precision: 0) %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>

                  </table>
                </div>

                <% new_or_edit = @resource.try(:persisted?) ? :edit : :new %>
                <p>А так же рекомендуем посмотреть <%= link_to  "аналоги и замены, \"#{catalog_number} - #{manufacturer}\"", polymorphic_path([new_or_edit, *jaba3, :product], :id => @resource, :catalog_number => catalog_number, :manufacturer => manufacturer, :replacements => '1', :product_id => @resource.try(:product_id), :return_path => params[:return_path]), :class => 'replacement-button' %>, т.к. возможно существуют детали по более низкой цене и не хуже качеством. </p>

                <% if mf_scope[:info][:own][:data].present? && mf_scope[:info][:own][:data][:cached_spare_catalog].present? %>
                  <% zzz = mf_scope[:info][:own][:data][:cached_spare_catalog] %>

                  <% if mf_scope[:info][:own][:data].spare_replacements.present? %>
                    <h4>Замены</h4>
                    <div class="spare-replacements">
                      <% mf_scope[:info][:own][:data].spare_replacements.each do |replacement| %>
                        <%= link_to replacement.to_spare_info.to_label, polymorphic_path([new_or_edit, *jaba3, :product], :id => @resource, :catalog_number => catalog_number, :manufacturer => manufacturer, :replacements => '1', :product_id => @resource.try(:product_id), :return_path => params[:return_path]), :class => 'replacement-button' %>
                        <br />
                      <% end %>
                    </div>
                    <hr />
                  <% end %>

                <% elsif mf_scope[:image_url].present? %>
                  <% zzz = mf_scope[:image_url] %>
                <% else %>
                  <% zzz = SpareApplicabilityMate.guess_spare_catalog(mf_scope[:titles], catalog_number, manufacturer) %>
                <% end %>


                <% if zzz %>
                  <div class="spare-category">
                    <% spare_catalog = SpareCatalog.find_by(name: zzz) %>
                    <% if spare_catalog %>
                      <h4>Категория товара</h4>
                      <%= link_to spare_catalog.name, category_brands_path(spare_catalog) %>
                      <div class="text-muted">

                        <% if spare_catalog.intro? %>
                          <hr />
                          <%== spare_catalog.intro %>
                        <% end %>

                        <%# "КСПЕРИМЕНТ %>
                        <%# TODO TODO TODO %>
                        <% si = SpareInfo.find_by(catalog_number: catalog_number, cached_brand: manufacturer) %>
                        <% if si %>
                          <% si.update(spare_catalog_id: spare_catalog.id) %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>



                <% if @current_user.seller? %>

                  <hr />

                  <%# if false %>
                  <%# c = BayesMotel::Corpus.new('parts') %>

                  <%# SpareCatalog.all.each do |spare_catalog| %>
                    <%# c.train({:text => spare_catalog.text}, spare_catalog.title) %>
                  <%# end %>
                  <%# tokens = mf_scope[:titles].keys.map{|val| h(val)}.join(', ') %>
                  <%# binding.pry %>
                  <%# results = c.classify({:text => tokens}) %>
                  <%# debug results %>
                  <%# end %>

                  <%# if false %>
                    <%# cls = StuffClassifier::Bayes.new("test", :stemming => false) %>

                    <%# SpareCatalog.all.each do |spare_catalog| %>
                      <%# cls.train(Russian.translit(spare_catalog.title), Russian.translit(spare_catalog.text)) %>
                    <%# end %>

                    <%# tokens = Russian.translit(mf_scope[:titles].keys.map{|val| h(val)}.join(', ')) %>

                    <%# if tokens.size > 0 %>

                      <%# result = cls.classify(tokens) %>

                      <%# debug result %>
                    <%# end %>
                  <%# end %>

                  <% if mf_scope[:info][:own][:data].blank? %>
                    <%= link_to 'Новая статья', new_admin_spare_info_path(:spare_info => { :catalog_number => catalog_number, :brand_attributes => { :name => manufacturer } }, :return_path => request.fullpath), :class => "btn btn-default pull-right btn-xs" %>
                  <% else %>
                    <%= link_to 'Редактировать статью', edit_admin_spare_info_path(mf_scope[:info][:own][:data], :return_path => request.fullpath), :class => "btn btn-default pull-right btn-xs" %>
                  <% end %>

                  <div rel="collapse-next" class="pull-right right-space">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="collapse-next">
                      Каталогизатор
                    </button>
                  </div>

                  <div class="collapse top-space" style="clear: both">
                    <%= twbs_form_for SpareCatalog.new(:name => '', :content => long_name), :remote => true, :url => polymorphic_path([:admin, :spare_catalogs], :return_path => request.fullpath) do |f| %>

                      <%= f.twbs_text_area :content, rows: 4 %>

                      <%= f.twbs_select2 :name, rel: 'select2-spare_catalog' %>

                      <%= f.twbs_submit %>

                    <% end %>
                  </div>


                <% end %>

                <% if mf_scope[:info][:own][:status] == 'avaliable' %>

                  <%== mf_scope[:info][:own][:data].content %>

                  <% if mf_scope[:info][:own][:data].spare_applicabilities.present? %>
                    <div class="spare-applicability table-responsive ">
                      <h4> Применимость детали </h4>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Производитель</th>
                            <th>Модель</th>
                            <th>Поколение</th>
                            <th>Модификация</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% mf_scope[:info][:own][:data].spare_applicabilities.each do |spare_applicability| %>
                            <tr>
                              <td><%= link_to spare_applicability.cached_brand, catalogs_brand_path(spare_applicability.to_brand_param) if spare_applicability.cached_brand %></td>
                              <td><%= link_to spare_applicability.cached_model, catalogs_model_path(spare_applicability.to_model_param) if spare_applicability.cached_model %></td>
                              <td><%= link_to spare_applicability.cached_generation, catalogs_generation_path(spare_applicability.to_generation_param) if spare_applicability.cached_generation %></td>
                              <td><%= link_to spare_applicability.cached_modification, catalogs_modification_path(spare_applicability.to_modification_param) if spare_applicability.cached_modification %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  <% end %>

                <% end %>



              </div>

            <% end %>

          <% end %>

        <% end %>

      </div>

    <% end %>

  <% end %>

  <% new_or_edit = @resource.try(:persisted?) ? :edit : :new %>
  <h3 class="top-space-lg bottom-space-lg">Вы так же можете попробовать посмотреть <%= link_to "замены номера #{@c9} без указания производителя", polymorphic_path([new_or_edit, *jaba3,  :product], :id => @resource, :catalog_number => @c9, :manufacturer => nil, :replacements => '1', :product_id => @resource.try(:product_id), :return_path => params[:return_path]), :class => 'replacement-button' %>.</h3>

<% end %>
