<div id="is_search"></div>

<%= row do %>

  <div class="col-lg-4 col-md-5 col-sm-6">
    <div class="list-group bottom-space-lg">
      <% @formatted_data.map{|k, v| v.map{|k, v| k}}[0].each do |brand| %>
        <a href="#<%=brand %>" class="list-group-item"><%=brand %></a>
      <% end %>
    </div>

    <%= render 'sidebar' %>
  </div>

  <div class="col-lg-20 col-md-19 col-sm-18">

    <% @formatted_data.each do |catalog_number, cn_scope| %>

      <% cn_scope.each_with_index do |(manufacturer, mf_scope), i| %>

        <% long_name = mf_scope[:titles].keys.map{|val| h(val)}.join(', ') %>

        <div id="<%= manufacturer %>" itemscope itemtype="http://schema.org/Product">

          <%= panel 'primary' do |p| %>

            <% short_name = mf_scope[:title] %>
            <%= p.heading do %>
              <%= p.title itemprop: 'name' do %>
                <%= link_to "Запчасти", categories_path %> <%= icon 'angle-right' %>
                <% if mf_scope[:catalog] %>
                  <%= link_to mf_scope[:catalog].name, category_path(mf_scope[:catalog]) %> <%= icon 'angle-right' %>
                <% end %>

                <%= link_to("#{mf_scope[:keyword]} (#{manufacturer})", "##{manufacturer}") %>
              <% end %>
            <% end %>

            <%= p.body do %>

              <%= row do %>
                <div class="col-md-8">

                  <div style="text-align: center">

                    <h4 class="bottom-space-none" itemprop="brand"><%= manufacturer %></h4>

                    <% if mf_scope[:manufacturer_origs].size > 0 %>
                      <p class="other-brands text-muted text-xs"><%= raw mf_scope[:manufacturer_origs].keys.map{|val| h(val)}.join(', ') %></p>
                    <% end %>

                    <h4 class="bottom-space-none text-warning"> <%= mf_scope[:keyword] %> </h4>

                    <% if mf_scope[:catalog_number_origs].size > 0 %>
                      <p class="other-catalog-numbers text-muted text-xs"><%= raw mf_scope[:catalog_number_origs].keys.map{|val| h(val)}.join(', ') %></p>
                    <% end %>

                  </div>

                  <%= render 'spare_info_images', info: mf_scope[:info] %>

                  <div class="stars top-space-sm bottom-space-lg clearfix text-center">
                    <%= brand_rating mf_scope[:brand] %>
                  </div>

                  <%= link_to "Купить в 1 клик", '#', class: 'btn btn-lg btn-success bottom-space top-space-lg center-block callback-link', style: 'max-width: 200px' %>

                </div>

                <div class="col-md-16">

                  <%= render 'spare_catalog_intro', catalog: mf_scope[:catalog] %>

                    <div data-expandable-table>

                    <% shown_counter = 0 %>

                    <div class="text-lg bottom-space table-responsive">
                      <table class="table bottom-space-none table-hover">

                        <thead>
                          <tr>
                            <th> <b href="#" rel="tooltip" title="Расположение склада поставщика">Магазин</b></th>
                            <!-- <th> <b href="#" rel="tooltip" title="Минимальный срок поставки на наш склад">Мин.<br />срок</b></th> -->
                            <th> <b href="#" rel="tooltip" title="Максимальный срок поставки на наш склад">Ожидание</b></th>
                            <th> <b href="#" rel="tooltip" title="Количество на складе поставщика">В&nbsp;наличии</b></th>
                            <th> <b href="#" rel="tooltip" title="Зайдите на сайт под своим аккаунтом, чтобы увидеть вашу цену со скидками, если таковые имеются">Цена</b></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% mf_scope[:offers].each do |offer| %>
                            <% nalichie = true if offer[:min_days] == 0 && offer[:max_days] == 0 && offer[:probability] == 100%>
                            <% if nalichie %>
                              <script type="text/javascript">
                                window.onload = function() {
                                  window.yaCounter14980414.reachGoal('nalichie', { shop: '<%= offer[:tech] %>' } );
                                }
                              </script>
                              <% shown_counter += 1 %>
                              <% default_show = true %>
                            <% else %>
                              <% if shown_counter < 3 %>
                                <% shown_counter += 1 %>
                                <% default_show = true %>
                              <% else %>
                                <% default_show = false %>
                              <% end %>
                            <% end %>
                            <tr class="<%= default_show ? 'active' : 'hidden' %>">
                              <td> <%= raw country_decorator offer[:country] %> </td>
                              <!-- <td> <%= raw days_decorator offer[:min_days] %> </td> -->
                              <td> <%= raw days_decorator offer[:max_days] %> </td>
                              <td> <%= raw count_decorator offer[:count] %> </td>
                              <td>
                                <% options = {rel: "tooltip", title: (offer[:tech] if current_user && current_user.seller?), class: "btn btn-#{default_show ? 'success' : 'success'} buy-button"} %>
                                <% options.merge!(disabled: 'disabled') if nalichie %>
                                <%= buy_button offer, catalog_number, manufacturer, short_name, long_name, options do %>
                                  <%= nalichie ? 'Звоните' : 'Купить' %>
                                  <%= number_to_currency(offer[:retail_cost], precision: 0) %>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>

                    <div class="text-sm" itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                      <meta itemprop="priceCurrency" content="RUB" />
                      <a href="#" data-expandable-link>
                        <%= alert "info #{'hidden' if mf_scope[:offers].size <= shown_counter}" do %>
                          Не устраивает цена или нужно быстрее? Взгляните на все <span itemprop="offerCount"><%= mf_scope[:offers].size %></span> <%= I18n.translate :offers, count: mf_scope[:offers].size %> от наших поставщиков с ценами от <span itemprop="lowPrice"><%= number_to_currency(mf_scope[:min_cost]) %></span> до <span itemprop="highPrice"><%= number_to_currency(mf_scope[:max_cost]) %></span> и сроками от <%= mf_scope[:min_days] %> до <%= mf_scope[:max_days] %> дней.
                        <% end %>
                      </a>
                    </div>
                    </div>

                </div>
              <% end %>

              <% characteristics = capture do %>
                <%= render 'spare_info_chars', info: mf_scope[:info] %>
                <%= render 'spare_info_hstore', info: mf_scope[:info] %>
                <%= render 'spare_info_files', info: mf_scope[:info] %>
                <%= render 'spare_info_content', info: mf_scope[:info] %>
                <div itemprop="description">
                  <% if long_name.present? %>
                    <h3>Названия запчасти у поставщиков</h3>
                    <p class="other-names" style="word-wrap: break-word"><%== long_name %></p>
                  <% end %>
                </div>
                <% if mf_scope[:weights].size > 0 %>
                  <h3>Сколько весит</h3>
                  Масса: <%= raw mf_scope[:weights].keys.map{|val| h("#{val} кг.")}.join(', ') %>
                <% end %>
              <% end %>

              <% replacements = capture do %>
                <%= render 'spare_info_replacements', info: mf_scope[:info] %>
              <% end %>

              <% phrases = capture do %>
                <%= render 'spare_info_phrases', phrases: mf_scope[:phrases] %>
              <% end %>

              <% applicabilities = capture do %>
                <%= render 'spare_info_applicabilities', info: mf_scope[:info] %>
              <% end %>

              <% brand = capture do %>
                <% if mf_scope[:brand].preview.present? %>
                  <div class="brand-preview text-justify">
                    <%= brand_preview mf_scope[:brand] %>
                  </div>
                  <div class="brands" style="clear: both; display: block; margin: 0 auto; width: 96px; height: 100px"> 
                    <%= brands_decorator lambda{|brand| brand_path brand}, mf_scope[:brand], lambda{|brand| brand.name} %>
                  </div>
                  <% if false %><%= link_to manufacturer, brand_parts_path(mf_scope[:brand]) %><% end %>
                <% end %>
              <% end %>

              <div role="tabpanel" class="top-space">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <% if characteristics.present? %>
                    <li role="presentation" class="active"><a href="#characteristics-<%= mf_scope[:brand].to_label.parameterize %>" aria-controls="characteristics-<%= mf_scope[:brand].to_label.parameterize %>" role="tab" data-toggle="tab">Характеристики</a></li>
                  <% end %>
                  <% if replacements.present? %>
                    <li role="presentation"><a href="#replacements-<%= mf_scope[:brand].to_label.parameterize %>" aria-controls="replacements-<%= mf_scope[:brand].to_label.parameterize %>" role="tab" data-toggle="tab">Замены</a></li>
                  <% end %>
                  <% if applicabilities.present? %>
                    <li role="presentation"><a href="#applicabilities-<%= mf_scope[:brand].to_label.parameterize %>" aria-controls="applicabilities-<%= mf_scope[:brand].to_label.parameterize %>" role="tab" data-toggle="tab">Применимость</a></li>
                  <% end %>
                  <% if phrases.present? %>
                    <li role="presentation"><a href="#phrases-<%= mf_scope[:brand].to_label.parameterize %>" aria-controls="phrases-<%= mf_scope[:brand].to_label.parameterize %>" role="tab" data-toggle="tab">Индекс популярности</a></li>
                  <% end %>
                  <% if brand.present? %>
                    <li role="presentation"><a href="#brand-<%= mf_scope[:brand].to_label.parameterize %>" aria-controls="brand-<%= mf_scope[:brand].to_label.parameterize %>" role="tab" data-toggle="tab">Производитель</a></li>
                  <% end %>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <% if characteristics.present? %>
                    <div role="tabpanel" class="tab-pane active" id="characteristics-<%= mf_scope[:brand].to_label.parameterize %>">
                      <%= characteristics %>
                    </div>
                  <% end %>
                  <% if replacements.present? %>
                    <div role="tabpanel" class="tab-pane" id="replacements-<%= mf_scope[:brand].to_label.parameterize %>">
                      <%= replacements %>
                    </div>
                  <% end %>
                  <% if applicabilities.present? %>
                    <div role="tabpanel" class="tab-pane" id="applicabilities-<%= mf_scope[:brand].to_label.parameterize %>">
                      <%= applicabilities %>
                    </div>
                  <% end %>
                  <% if phrases.present? %>
                    <div role="tabpanel" class="tab-pane" id="phrases-<%= mf_scope[:brand].to_label.parameterize %>">
                      <%= phrases %>
                    </div>
                  <% end %>
                  <% if brand.present? %>
                    <div role="tabpanel" class="tab-pane" id="brand-<%= mf_scope[:brand].to_label.parameterize %>">
                      <%= brand %>
                    </div>
                  <% end %>
                </div>

              </div>

              <% if current_user && current_user.seller? %>
                <div class="top-space-lg">
                  <% if mf_scope[:info].present? %>
                    <%# Описание %>
                    <%= link_to icon('file-text-o'), edit_admin_spare_info_path(mf_scope[:info], :return_path => request.fullpath), :class => "btn btn-warning" %>
                    <%= link_to icon('file-text-o'), admin_spare_info_path(mf_scope[:info], :return_path => request.fullpath), :class => "btn btn-danger", method: :delete, data: {confirm: 'Уверены, что хотите удалить?'} %>

                    <%# Каталогизируемый %>
                    <% if mf_scope[:catalog].opt %>
                      <% if mf_scope[:info].send(mf_scope[:catalog].opt) %>
                        <%= link_to icon('cogs'), polymorphic_path([:edit, :admin, :opts, mf_scope[:catalog].opt], :id => mf_scope[:info].send(mf_scope[:catalog].opt).id, :return_path => request.fullpath), :class => "btn btn-warning" %>
                      <% else %>
                        <%= link_to icon('cogs'), polymorphic_path([:new, :admin, :opts, mf_scope[:catalog].opt], "opts_#{mf_scope[:catalog].opt}[spare_info_id]" => mf_scope[:info].id, :return_path => request.fullpath), :class => "btn btn-warning" %>
                      <% end %>
                    <% end %>

                    <%# Замены %>
                    <%= link_to icon('random'), new_admin_spare_replacement_path(spare_replacement: {from_spare_info_attributes: { name: mf_scope[:info].name}}, :return_path => request.fullpath), :class => "btn btn-warning" %>

                    <%# Применимость %>
                    <%= link_to icon('automobile'), new_admin_spare_applicability_path(spare_applicability: {spare_info_attributes: {name: mf_scope[:info].name}}, :return_path => request.fullpath), :class => "btn btn-warning" %>
                  <% else %>
                    <%= link_to icon('file-text-o'), new_admin_spare_info_path(:spare_info => { :catalog_number => catalog_number, :brand_attributes => { :name => manufacturer } }, :return_path => request.fullpath), :class => "btn btn-warning" %>
                  <% end %>
                  <%= link_to icon('building'), edit_admin_brand_path(mf_scope[:brand], :return_path => request.fullpath), :class => "btn btn-warning" %>
                </div>

              <% end %>

            <% end %>
          <% end %>
        </div>
      <% end %>

    <% end %>

    <% replacements_link = capture do %>
      <% if @replacements.map{|obj| obj['replacements'].map{|obj2| obj2['catalog_number']}}.flatten.length >= 1 %>
        <% new_or_edit = @resource.try(:persisted?) ? :edit : :new %>
        <h5>Возможно вас так же могут заинтересовать <%= link_to "аналоги и замены номера #{@c9}", polymorphic_path([new_or_edit, :user,  :product], :id => @resource, :catalog_number => @c9, :manufacturer => nil, :replacements => '1', :product_id => @resource.try(:product_id), :return_path => params[:return_path]), :class => 'replacement-button' %>.</h5>
      <% end %>
    <% end %>

    <% if replacements_link %>
      <%= alert 'warning' do %>
        <%= replacements_link %>
      <% end %>
    <% end %>

  </div>
<% end %>
