  <% content_for :sidebar do %>
    <div class="list-group top-space-lg bottom-space-lg">
      <% @formatted_data.map{|k, v| v.map{|k, v| k}}[0].each do |brand| %>
        <a href="#<%=brand %>" class="list-group-item"><%=brand %></a>
      <% end %>
    </div>
    <hr />
  <% end %>

  <div id="is_search"></div>

  <% @formatted_data.each do |catalog_number, cn_scope| %>

    <% cn_scope.each_with_index do |(manufacturer, mf_scope), i| %>

      <div id="<%= manufacturer %>" itemscope itemtype="http://schema.org/Product">

        <%= panel 'primary' do |p| %>

          <% short_name = mf_scope[:title] %>
          <%= p.heading do %>
            <%= p.title do %>
              <span>
              <%= link_to "ЗАПЧАСТИ", categories_path %> <%= icon 'angle-right' %>
              </span>
              <span itemprop="name">
                <% if mf_scope[:catalog] %>
                  <%= link_to mf_scope[:catalog].name, category_brands_path(mf_scope[:catalog]) %> <%= icon 'angle-right' %>
                <% end %>
                <%= link_to("#{catalog_number} (#{manufacturer})", "##{manufacturer}") %>
              </span>

            <% end %>
          <% end %>

          <%= p.body do %>

            <%= row do %>
              <div class="col-sm-4">

                <div style="text-align: center">

                  <h4 class="bottom-space-none" itemprop="brand"><%= link_to manufacturer, brand_parts_path(mf_scope[:brand]) %></h4>

                  <% if mf_scope[:manufacturer_origs].size > 0 %>
                    <p class="other-brands text-muted text-xs"><%= raw mf_scope[:manufacturer_origs].keys.map{|val| h(val)}.join(', ') %></p>
                  <% end %>

                  <h4 class="bottom-space-none text-warning"> <%= catalog_number %> </h4>

                  <% if mf_scope[:catalog_number_origs].size > 0 %>
                    <p class="other-catalog-numbers text-muted text-xs"><%= raw mf_scope[:catalog_number_origs].keys.map{|val| h(val)}.join(', ') %></p>
                  <% end %>

                </div>

                <%= render 'spare_info_images', info: mf_scope[:info] %>

                <div class="brands" style="clear: both; display: block; margin: 0 auto; width: 96px; height: 100px"> 
                  <%= brands_decorator lambda{|brand| brand_parts_path brand}, mf_scope[:brand], {:title => false} %>
                </div>

                <div class="stars top-space-sm bottom-space-lg clearfix text-center" style="color: #ffcc33">
                  <%= brand_rating mf_scope[:brand] %>
                </div>

                <div class="brand-preview text-xs text-justify">
                  <%= brand_preview mf_scope[:brand] %>
                </div>

              </div>

              <div class="col-sm-8">


                <span class="hidden">
                  <div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                    <meta itemprop="priceCurrency" content="RUB" />
                    Не устраивают цена или срок доставки? Взгляните на <span itemprop="offerCount"><%= mf_scope[:offers].size %></span> лучших предложений от наших поставщиков с ценами от <span itemprop="lowPrice"><%= number_to_currency(mf_scope[:min_cost]) %></span> до <span itemprop="highPrice"><%= number_to_currency(mf_scope[:max_cost]) %></span>
                  </div>
                </span>

                <div class="text-lg table-responsive" rel="offers">
                  <table class="table">

                    <thead>
                      <tr>
                        <th> <b href="#" rel="tooltip" title="Расположение склада поставщика">Магазин</b></th>
                        <!-- <th> <b href="#" rel="tooltip" title="Минимальный срок поставки на наш склад">Мин.<br />срок</b></th> -->
                        <th> <b href="#" rel="tooltip" title="Максимальный срок поставки на наш склад">Ожидание</b></th>
                        <th> <b href="#" rel="tooltip" title="Количество на складе поставщика">В&nbsp;наличии</b></th>
                        <th> <b href="#" rel="tooltip" title="Зайдите на сайт под своим аккаунтом, чтобы увидеть вашу цену со скидками, если таковые имеются">Цена</b></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% mf_scope[:offers].each do |offer| %>
                        <%# Это очень не хороший способ Что будет если у всех предложений будет 0?! Upd. А ничего просто не будет предложений с ценами. TODO!%>
                        <%# Но пока выйти из ситуации по легкому по-другому не получится. А забивать сюда заоблочные цены и сроки херово для представления покупателю %>
                        <% next if offer[:probability] == 0 %>
                        <% offer[:min_days] == 0 && offer[:max_days] == 0 && offer[:probability] == 100 ? presence = true : presence = false %>
                        <tr class="<%= presence ? 'active' : '' %>">
                          <td> <%= raw country_decorator offer[:country] %> </td>
                          <!-- <td> <%= raw days_decorator offer[:min_days] %> </td> -->
                          <td> <%= raw days_decorator offer[:max_days] %> </td>
                          <td> <%= raw count_decorator offer[:count] %> </td>
                          <td>
                            <%= buy_button offer, catalog_number, manufacturer, short_name, long_name, rel: "tooltip", title: (offer[:tech] if current_user.seller?), class: "btn btn-#{presence ? 'success' : 'success'} buy-button", style: 'min-width: 150px' do %>
                              Купить <%= number_to_currency(offer[:retail_cost], precision: 0) %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>

                  </table>
                </div>

                <div class="spare-info">
                  <% if mf_scope[:info].present? %>
                    <div class="bottom-space">
                      <%== mf_scope[:info].content %>
                      <%= render 'spare_info_hstore', info: mf_scope[:info] %>
                      <%= render 'spare_info_files', info: mf_scope[:info] %>
                    </div>
                  <% end %>
                </div>

                <div class="spare-catalog">
                  <% if mf_scope[:catalog].present? %>
                    <div class="bottom-space text-muted">
                      <%== mf_scope[:catalog].intro %>
                    </div>
                  <% end %>
                </div>


                <% if mf_scope[:catalog].presence && mf_scope[:catalog].opt.presence && mf_scope[:info].presence %>
                  <%= render 'opts/accumulators/part', part: mf_scope[:info], resource_class: "Opts::#{mf_scope[:catalog].opt.classify}".constantize %>
                <% end %>


                <div class="spare-replacements">
                  <% if mf_scope[:replacements].present? %>
                    <ul class="bottom-space">
                      <% mf_scope[:replacements].each do |replacement| %>
                        <li><%= replacement.to_spare_info.to_label %> <%= replacement.status %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>


                <div class="spare-applicabilities">
                  <% if mf_scope[:applicabilities].present? %>
                    <div class="bottom-space table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Производитель</th>
                            <th>Модель</th>
                            <th>Поколение</th>
                            <th>Модификация</th>
                            <% if current_user.seller? %>
                              <th></th>
                            <% end %>
                          </tr>
                        </thead>
                        <tbody>
                          <% mf_scope[:applicabilities].each do |spare_applicability| %>
                            <tr>
                              <td><%= link_to spare_applicability.cached_brand, catalogs_brand_path(spare_applicability.to_brand_param) if spare_applicability.cached_brand %></td>
                              <td><%= link_to spare_applicability.cached_model, catalogs_model_path(spare_applicability.to_model_param) if spare_applicability.cached_model %></td>
                              <td><%= link_to spare_applicability.cached_generation, catalogs_generation_path(spare_applicability.to_generation_param) if spare_applicability.cached_generation %></td>
                              <td><%= link_to spare_applicability.cached_modification, catalogs_modification_path(spare_applicability.to_modification_param) if spare_applicability.cached_modification %></td>
                              <% if current_user.seller? %>
                                <td>
                                  <%= link_to edit_admin_spare_applicability_path(spare_applicability, return_path: request.fullpath), class: 'btn btn-warning' do %>
                                    <%= icon 'edit' %>
                                  <% end %>
                                </td>
                              <% end %>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  <% end %>
                </div>


                <% if @current_user.seller? %>
                  <% if mf_scope[:info].present? %>

                    <%# Описание %>
                    <%= link_to icon('file-text-o'), edit_admin_spare_info_path(mf_scope[:info], :return_path => request.fullpath), :class => "btn btn-warning" %>
                    <%= link_to icon('file-text-o'), admin_spare_info_path(mf_scope[:info], :return_path => request.fullpath), :class => "btn btn-danger", method: :delete, data: {confirm: 'Уверены, что хотите удалить?'} %>

                    <%# Замены %>
                    <%= link_to icon('random'), new_admin_spare_replacement_path(spare_replacement: {from_spare_info_attributes: { name: mf_scope[:info].name}}, :return_path => request.fullpath), :class => "btn btn-warning" %>

                    <%# Применимость %>
                    <%= link_to icon('automobile'), new_admin_spare_applicability_path(spare_applicability: {spare_info_attributes: {name: mf_scope[:info].name}}, :return_path => request.fullpath), :class => "btn btn-warning" %>
                  <% else %>
                    <%= link_to icon('file-text-o'), new_admin_spare_info_path(:spare_info => { :catalog_number => catalog_number, :brand_attributes => { :name => manufacturer } }, :return_path => request.fullpath), :class => "btn btn-warning" %>
                  <% end %>
                <% end %>


              </div>

            <% end %>

          <% end %>

        <% end %>

      </div>

    <% end %>

  <% end %>

  <% if @replacements.map{|obj| obj['replacements'].map{|obj2| obj2['catalog_number']}}.flatten.length >= 1 %>
    <% new_or_edit = @resource.try(:persisted?) ? :edit : :new %>
    <h3 class="top-space-lg bottom-space-lg">Вы так же можете попробовать посмотреть <%= link_to "аналоги и замены номера #{@c9}", polymorphic_path([new_or_edit, *jaba3,  :product], :id => @resource, :catalog_number => @c9, :manufacturer => nil, :replacements => '1', :product_id => @resource.try(:product_id), :return_path => params[:return_path]), :class => 'replacement-button' %></h3>
  <% end %>
