<% @resource = Product.new %>
<%= render 'products/form' %>

<%= row do %>

  <div class="col-md-9 col-md-push-3">
    <%= page_header %>

    <%= render 'search' %>
  </div>

  <div class="col-md-3 col-md-pull-9">
    <%= render 'right' %>
  </div>

<% end %>
