<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:catalog_number) %>:</strong></dt>
  <dd><%= @product.catalog_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:manufacturer) %>:</strong></dt>
  <dd><%= @product.manufacturer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity_ordered) %>:</strong></dt>
  <dd><%= @product.quantity_ordered %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity_available) %>:</strong></dt>
  <dd><%= @product.quantity_available %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost_buy) %>:</strong></dt>
  <dd><%= @product.cost_buy %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost_sell) %>:</strong></dt>
  <dd><%= @product.cost_sell %></dd>
  <dt><strong><%= model_class.human_attribute_name(:probability) %>:</strong></dt>
  <dd><%= @product.probability %></dd>
  <dt><strong><%= model_class.human_attribute_name(:min_days) %>:</strong></dt>
  <dd><%= @product.min_days %></dd>
  <dt><strong><%= model_class.human_attribute_name(:max_days) %>:</strong></dt>
  <dd><%= @product.max_days %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= Rails.configuration.products_status[@product.status] %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @product.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes_invisible) %>:</strong></dt>
  <dd><%= @product.notes_invisible, :input_html => {:rows => 3} %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @product.user.to_label %></dd>
  <dt><strong><%= model_class.human_attribute_name(:order) %>:</strong></dt>
  <dd><%= @product.order.to_label %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supplier) %>:</strong></dt>
  <dd><%= @product.supplier.to_label %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_products_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_product_path(@product), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
