<div class="well well-small" style="background: #FFF; margin-bottom: 10px">
  <div class="media" style="margin: 0; position: relative">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/48x48"></img>
    </a>
    <div class="media-body muted">
      <h4 style="margin: 0"> {{auth_token}} </h4>
      <h4 style="margin: 0"> {{name}} </h4>
      <h6 style="margin: 0; line-height: 12px">{{post}} {{place}} {{phone}} </h6>
      <a href="#">
        <h6 style="margin: 0;">
          <i class="icon-user"></i>
          Сменить менеджера
        </h6>
      </a>
      <button class="btn btn-mini btn-info disabled" style="z-index: 100; position: absolute; bottom: 0; right: 0" rel="tooltip" data-placement="left" title="Разрабатывается">
        <i class="icon-phone"></i>
        Позвонить
      </button>
    </div>
  </div>
</div>
