<div data-id="{{id}}" class="well well-small talk-item" style="background: #FFF; margin: 5px 0">
  <div class="talk-head text-info">
    <strong>{{creator}}</strong>:
    <span>{{created_at}}</span>
  </div>
  <div class="talk-body"> {{{ text }}} </div>
  <div class="hide-debug">
    <p>debug</p>
    <p>id: {{id}}</p>
  </div>
</div>
