<%= f.text_input :postcode %>
<%= f.text_input :region %>
<%= f.text_input :city %>
<%= f.text_input :street %>
<%= f.text_input :house %>

<div rel="stand-alone-group">

  <%= f.form_group do %>
    <%= a1 do %>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" rel="button-stand-alone-house">
          <%= f.check_box :stand_alone_house, rel: "checkbox checkbox-stand-alone-house" %> Отдельно стоящее здание
        </label>
      </div>
    <% end %>
  <% end %>

  <div rel="room">
    <%= f.twbs_text_field :room %>
  </div>

</div>

<%= render :partial => 'profileables/forms/shared/inputs', :locals => {:f => f} %>
