<% unless ['deliveries', 'orders/deliveries'].include? @postal_address_type %>
  <%= f.twbs_text_field :postcode, asterisk: true %>
<% else %>
  <%= f.twbs_hidden_field :postcode, asterisk: true %>
<% end %>

<% unless ['deliveries', 'orders/deliveries'].include? @postal_address_type %>
  <%= f.twbs_text_field :region, asterisk: true %>
<% else %>
  <%= f.twbs_hidden_field :region, asterisk: true %>
<% end %>

<% unless ['deliveries', 'orders/deliveries'].include? @postal_address_type %>
  <%= f.twbs_text_field :city, asterisk: true %>
<% else %>
  <%= f.twbs_hidden_field :city, asterisk: true %>
<% end %>

<%= f.twbs_text_field :street, asterisk: true %>
<%= f.twbs_text_field :house, asterisk: true %>

<% unless ['deliveries'].include? @postal_address_type %>
  <div rel="stand-alone-group">
    <%= f.form_group do %>
      <%= f.twbs_check_box :stand_alone_house, rel: "checkbox checkbox-stand-alone-house" %>
    <% end %>
    <div rel="room">
      <%= f.twbs_text_field :room %>
    </div>
  </div>
<% else %>
  <%= f.twbs_hidden_field :stand_alone_house %>
  <%= f.twbs_hidden_field :room %>
<% end %>

<%= f.twbs_hidden_field :somebody_id %>

<% unless ['deliveries'].include? @postal_address_type %>
  <%= render :partial => 'profileables/forms/shared/notes', :locals => {:f => f} %>
<% end %>

<%= f.read_only :creation_reason, value: 'profile' %>

