<%= f.twbs_text_field :postcode, asterisk: true %>
<%= f.twbs_text_field :region, asterisk: true %>
<%= f.twbs_text_field :city, asterisk: true %>
<%= f.twbs_text_field :street, asterisk: true %>
<%= f.twbs_text_field :house, asterisk: true %>

<div rel="stand-alone-group">

  <%= f.form_group do %>
    <%= f.twbs_check_box :stand_alone_house, rel: "checkbox checkbox-stand-alone-house" %>
  <% end %>

  <div rel="room">
    <%= f.twbs_text_field :room %>
  </div>

</div>

<%= f.twbs_hidden_field :somebody_id %>

<%= render :partial => 'profileables/forms/shared/notes', :locals => {:f => f} %>
