<%- model_class = Transaction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:left_account_id) %></th>
      <th><%= model_class.human_attribute_name(:right_account_id) %></th>
      <th><%= model_class.human_attribute_name(:left_real) %></th>
      <th><%= model_class.human_attribute_name(:right_real) %></th>
      <th><%= model_class.human_attribute_name(:left_money) %></th>
      <th><%= model_class.human_attribute_name(:right_money) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.id, admin_transaction_path(transaction) %></td>
        <td><%= transaction.left_account_id %></td>
        <td><%= transaction.right_account_id %></td>
        <td><%= transaction.left_real %></td>
        <td><%= transaction.right_real %></td>
        <td><%= ((transaction.left_money && transaction.left_money > 0) ? "+ " : "" ) + transaction.left_money.to_s %></td>
        <td><%= ((transaction.right_money && transaction.right_money > 0) ? "+ " : "" ) + transaction.right_money.to_s %></td>
        <td><%=l transaction.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_transaction_path(transaction), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_transaction_path(transaction),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_transaction_path,
            :class => 'btn btn-primary' %>
