<%= twbs_form_for @resource, :url => polymorphic_path([:admin, @resource], return_path: params[:return_path]) do |f| %>

  <%= row do %>

    <%= c1 do %>

      <%= f.twbs_select2 :name, rel: 'select2-spare_catalog' %>

      <%= f.twbs_text_area :content, rows: 4 %>

    <% end %>

  <% end %>

  <%= row do %>
    <div class="col-md-12">
      <%= f.twbs_text_area :intro, class: 'ckeditor-extended' %>
      <%= f.twbs_text_area :page, class: 'ckeditor-extended' %>
      <%= f.twbs_submit %>
    </div>
  <% end %>

<% end %>

