<%= twbs_form_for @resource, :url => polymorphic_path([:admin, @resource], return_path: params[:return_path]) do |f| %>

  <%= row do %>

    <%= c1 do %>

      <%= f.twbs_select2 :name, rel: 'select2-spare_catalog' %>

      <%= f.twbs_select :opt, Rails.application.config_for('application/opts')['opts'], include_blank: true %>

      <%= f.simple_fields_for :spare_catalog_tokens do |sct| %>
        <%= render 'spare_catalog_token_fields', :f => sct %>
      <% end %>

      <%= f.form_group do %>
        <%= link_to_add_association 'Добавить токен', f, :spare_catalog_tokens, class: "btn btn-default"  %>
      <% end %>

    <% end %>

  <% end %>

  <%= row do %>
    <div class="col-md-12">
      <%= f.twbs_text_area :intro, class: 'ckeditor-extended' %>
      <%= f.twbs_text_area :page, class: 'ckeditor-extended' %>
      <%= f.twbs_submit %>
    </div>
  <% end %>

<% end %>

