<% title_index %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', [:root] %>
    <%= b.item 'Администрирование', [:admin, :root] %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= title_index %>
  <% end %>

  <%= p.content do %>
    <%= search_form_for @q, url: url_for(action: :index), html: {class: 'form-inline'} do |f| %>
      <%= f.input :name_cont, placeholder: "Название категории", label: false %>
      <%= f.input :spare_catalog_group_name_cont, placeholder: 'Группа категории', label: false %>
      <%= f.input :spare_catalog_tokens_name_cont, placeholder: 'Токен', label: false %>
      <%= f.input :intro_cont, placeholder: 'Вступление', label: false %>
      <%= f.input :page_cont, placeholder: 'Подробное описание', label: false %>
      <%= f.button :submit, 'Поиск' %>
    <% end %>

    <%= paginate @resources %>

    <div class="table-responsive top-space bottom-space">
      <table class="table">
        <thead>
          <tr>
            <th> <%= @resource_class.human_attribute_name :id %> </th>
            <th> <%= @resource_class.human_attribute_name :name %> </th>
            <th> <%= @resource_class.human_attribute_name :spare_catalog_group %> </th>
            <th> <%= @resource_class.human_attribute_name :spare_catalog_tokens %> </th>
            <th> <%= @resource_class.human_attribute_name :opt %> </th>
            <th> <%= @resource_class.human_attribute_name :intro %> </th>
            <th> <%= @resource_class.human_attribute_name :page %> </th>
            <th> <%= @resource_class.human_attribute_name :shows %> </th>
            <th> <%= @resource_class.human_attribute_name :created_at %> </th>
            <th> <%= @resource_class.human_attribute_name :updated_at %> </th>
          </tr>
        </thead>
        <tbody>
          <% @resources.each do |resource| %>
            <tr>
              <td> 
                <%= resource.id %> <br />
                <%= link_to "Просмотр", admin_spare_catalog_path(resource.id) %> <br />
                <%= link_to "Редактирование", edit_admin_spare_catalog_path(resource, return_path: request.fullpath) %> 
                <%= link_to "Удалить", polymorphic_path([:admin, resource], return_path: request.fullpath), method: :delete %>
                <%= link_to("Публичный просмотр", polymorphic_path([:category_brands], category_id: resource)) %> <br />
              </td>
              <td> <%= resource.name %> </td>
              <td>
                <%# nice_tree(resource.spare_catalog_group.path) if resource.spare_catalog_group %>
                <%= resource.spare_catalog_group_id %> <br />
                <%= resource.spare_catalog_group.try(:to_label) %>
              </td>
              <td> 
                <% resource.spare_catalog_tokens.each do |t| %>
                  <div class="well well-sm text-sm"><%= t.name %> : <%= t.weight %></div>
                <% end %>
              </td>
              <td> <%= resource.opt %> </td>
              <td> <%= resource.intro %> </td>
              <td> <%= resource.page %> </td>
              <td> <%= resource.shows %> </td>
              <td> <%= l resource.created_at %> </td>
              <td> <%= l resource.updated_at %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @resources %>

    <%= link_to url_for(action: :new, return_path: request.fullpath), class: 'btn btn-primary', style: "vertical-align: top" do %>
      Новая категория
    <% end %>

    <br />
    <br />


  <% end %>
<% end %>
