<% title_index %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= title_index %>
  <% end %>

  <%= p.content do %>
    <%= search_form_for @q, url: url_for(action: :index), html: {class: 'form-inline'} do |f| %>
      <%= f.input :name_cont, placeholder: "Название категории", label: false %>
      <%= f.input :spare_catalog_tokens_name_cont, placeholder: 'Токен', label: false %>
      <%= f.button :submit, 'Поиск' %>
    <% end %>

    <%= paginate @resources %>

    <div class="table-responsive top-space bottom-space">
      <table class="table">
        <thead>
          <tr>
            <th> <%= @resource_class.human_attribute_name :id %> </th>
            <th> <%= @resource_class.human_attribute_name :spare_catalog_group %> </th>
            <th> <%= @resource_class.human_attribute_name :name %> </th>
            <th> <%= @resource_class.human_attribute_name :created_at %> </th>
            <th> <%= @resource_class.human_attribute_name :updated_at %> </th>
            <th> <%= @resource_class.human_attribute_name :intro %> </th>
            <th> <%= @resource_class.human_attribute_name :page %> </th>
            <th> <%= @resource_class.human_attribute_name :opt %> </th>
            <th> <%= @resource_class.human_attribute_name :shows %> </th>
            <th> <%= @resource_class.human_attribute_name :spare_catalog_group_id %> </th>
            <th> <%= @resource_class.human_attribute_name :page %> </th>
            <th> <%= @resource_class.human_attribute_name :spare_catalog_tokens %> </th>
          </tr>
        </thead>
        <tbody>
          <% @resources.each do |r| %>
            <tr>
              <td> 
                <%= r.id %> <br />
                <%= link_to "Просмотр", admin_spare_catalog_path(r.id) %> <br />
                <%= link_to "Редактирование", edit_admin_spare_catalog_path(r, return_path: request.fullpath) %> 
                <%= link_to("Публичный просмотр", polymorphic_path([:category_brands], category_id: r)) %> <br />
              </td>
              <td>
                <%= nice_tree(r.spare_catalog_group.path) if r.spare_catalog_group %>
              </td>
              <td> 
                <%= r.name %>
              </td>
              <td> <%= l r.created_at %> </td>
              <td> <%= l r.updated_at %> </td>
              <td> <%= r.intro %> </td>
              <td> <%= r.page %> </td>
              <td> <%= r.opt %> </td>
              <td> <%= r.shows %> </td>
              <td> <%= r.spare_catalog_group_id %> </td>
              <td> <%= r.page %> </td>
              <td> 
                <% r.spare_catalog_tokens.each do |t| %>
                  <div class="well well-sm text-sm"><%= t.name %> : <%= t.weight %></div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @resources %>

    <%= link_to url_for(action: :new, return_path: request.fullpath), class: 'btn btn-primary', style: "vertical-align: top" do %>
      Новая категория
    <% end %>


  <% end %>
<% end %>
