<% title_show %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', [:root] %>
    <%= b.item 'Администрирование', [:admin, :root] %>
    <%= b.item 'Категории товаров', [:admin, @resource_class] %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>
    <dl>
      <dt>
        <%= SpareCatalog.human_attribute_name :name %>
      </dt>
      <dd>
        <%= @resource.name %>
      </dd>
    </dl>

    <dl>
      <dt>
        <%= SpareCatalog.human_attribute_name :spare_catalog_group %>
      </dt>
      <dd>
        <%= nice_tree(@resource.spare_catalog_group.path) if @resource.spare_catalog_group %>
      </dd>
    </dl>

    <dl>
      <dt>
        <%= SpareCatalog.human_attribute_name :intro %>
      </dt>
      <dd>
        <%== @resource.intro %>
      </dd>
    </dl>

    <dl>
      <dt>
        <%= SpareCatalog.human_attribute_name :page %>
      </dt>
      <dd>
        <%== @resource.page %>
      </dd>
    </dl>

    <dl>
      <dt>
      <%= SpareCatalog.human_attribute_name :spare_catalog_tokens %>
      </dt>
      <dd>
        <ul class="list-unstyled">
          <% @resource.spare_catalog_tokens.each do |token| %>
            <li>
              <%= token.name %> - <%= token.weight %>
            </li>
          <% end %>
        </ul>
      </dd>
    </dl>

    <br />
    <br />

    <%= link_to url_for(action: :new, return_path: request.fullpath), class: "btn btn-primary" do %>
      <%= icon 'plus' %>
    <% end %>

    <br />
    <br />
    <%= link_to("Публичный просмотр", polymorphic_path([:category_brands], category_id: @resource), target: "_blank", class: 'btn btn-primary') %>
    <br />
    <br />

    <%= render 'smart_show' %>
  <% end %>
<% end %>
