<%= simple_form_for @admin_spare_info, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :catalog_number %>
  <%= f.input :manufacturer %>
  <%= f.input :content, :as => :text, :input_html => {:class => 'ckeditor'} %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_spare_infos_path, :class => 'btn' %>
  </div>
<% end %>
