<%= simple_form_for [:admin, @request], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :user %>
  <div id="car">
    <%= f.association :car %>
    <%= link_to_add_association 'Добавить Автомобиль', f, :car, :partial => "users/car_fields" %>
  </div>
  <%= f.association :request %>
  <%= f.input :catalog_number %>
  <%= f.input :manufacturer %>
  <%= f.input :creation_reason, :collection => [
    ['Выбор клиента', 'client_choose'] ,
    ['Официальный каталог ', 'official'] ,
    ['Официальная замена', 'replacement_official'], 
    ['Не официальная замена', 'replacement_unofficial'], 
    ['Не брендированная замена', 'replacement_non_branded'], 
    ['Качественный аналог', 'analogue_expensive'], 
    ['Не рекомендуем, но как вариант', 'analogue_cheap'],
    ['Деталь потребуется при установке родительской', 'needed_for_parent']] %>
    <%= f.input :check_needed, :collection => [
      ['Требуется', 'check_needed', ],
      ['Не требуется', 'check_dont_needed'], ],
      :label => "Требуется проверка",
      :hint => "Требуется дополнительная проверка совместимости или корректности замены?"
    %>
  <%= f.input :notes %>
  <%= f.input :invisible %>

  <div id="requests">

    <%= f.simple_fields_for :requests do |request| %>
      <%= render 'request_fields', :f => request %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Добавить request', f, :requests, :class => "btn btn-success"   %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_requests_path, :class => 'btn' %>
  </div>
<% end %>
