<h1>Listing emails</h1>

<table>
  <tr>
    <th>From addrs</th>
    <th>Return path</th>
    <th>From</th>
    <th>Subject</th>
    <th>In reply to</th>
    <th>To addrs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.from_addrs %></td>
    <td><%= email.return_path %></td>
    <td><%= email.from %></td>
    <td><%= email.subject %></td>
    <td><%= email.in_reply_to %></td>
    <td><%= email.to_addrs %></td>
    <td><%= link_to 'Show', admin_email_path(email) %></td>
    <td><%= link_to 'Edit', edit_admin_email_path(email) %></td>
    <td><%= link_to 'Destroy', admin_email_path(email), :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email', new_admin_email_path %>
