<p id="notice"><%= notice %></p>

<h1>from_addrs</h1>
<%= @email.from_addrs %>
<h1>return_path</h1>
<%= raw Base64.decode64 ( @email.return_path ) %>
<h1>from</h1>
<%= @email.from %>
<h1>subject</h1>
<%= @email.subject %>
<h1>in_reply_to</h1>
<%= @email.in_reply_to %>
<h1>to_addrs</h1>
<%= @email.to_addrs %>
<h1>has_many :attachments</h1>
<% @email.attachments.each do |attachment| %>
  <%= image_tag attachment.attachment.url %>
<% end %>
<h1>user_id</h1>
<%= @email.user_id %>
<h1>to</h1>
<%= @email.to %>
<h1>cc_addrs</h1>
<%= @email.cc_addrs %>
<h1>bcc_addrs</h1>
<%= @email.bcc_addrs %>
<h1>bcc</h1>
<%= @email.bcc %>
<h1>cc</h1>
<%= @email.cc %>
<h1>resent_bcc</h1>
<%= @email.resent_bcc %>
<h1>resent_cc</h1>
<%= @email.resent_cc %>
<h1>is_multipart</h1>
<%= @email.is_multipart %>
<h1>parts_length</h1>
<%= @email.parts_length %>
<h1>date</h1>
<%= @email.date %>
<h1>message_id</h1>
<%= @email.message_id %>
<h1>name</h1>
<%= @email.name %>
<h1>content_types</h1>
<%= @email.content_types %>
<h1>classes</h1>
<%= @email.classes %>

<br />
<%= link_to 'body', show_body_admin_email_path(@email) %>
<br />
<%= link_to 'text_part', show_text_part_admin_email_path(@email) %>
<br />
<%= link_to 'html_part', show_html_part_admin_email_path(@email) %>
<br />
<%= link_to 'html_part_sanitized', show_html_part_sanitized_admin_email_path(@email) %>
<br />
<br>

<%= link_to 'Edit', edit_admin_email_path(@email) %> |
<%= link_to 'Back', admin_emails_path %>
