<%= simple_form_for(@admin_product_transaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :catalog_number %>
    <%= f.input :manufacturer %>
    <%= f.input :status %>
    <%= f.input :notes %>
    <%= f.input :notes_invisible %>
    <%= f.input :user_id %>
    <%= f.input :order_id %>
    <%= f.input :created_at %>
    <%= f.input :updated_at %>
    <%= f.input :supplier_id %>
    <%= f.input :quantity_ordered %>
    <%= f.input :quantity_available %>
    <%= f.input :probability %>
    <%= f.input :min_days %>
    <%= f.input :max_days %>
    <%= f.input :buy_cost %>
    <%= f.input :sell_cost %>
    <%= f.input :short_name %>
    <%= f.input :long_name %>
    <%= f.input :product_id %>
    <%= f.input :transaction_product_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
