<h1>Listing admin_product_transactions</h1>

<table>
  <tr>
    <th>Catalog number</th>
    <th>Manufacturer</th>
    <th>Status</th>
    <th>Notes</th>
    <th>Notes invisible</th>
    <th>User</th>
    <th>Order</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Supplier</th>
    <th>Quantity ordered</th>
    <th>Quantity available</th>
    <th>Probability</th>
    <th>Min days</th>
    <th>Max days</th>
    <th>Buy cost</th>
    <th>Sell cost</th>
    <th>Short name</th>
    <th>Long name</th>
    <th>Product</th>
    <th>Transaction product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_product_transactions.each do |admin_product_transaction| %>
  <tr>
    <td><%= admin_product_transaction.catalog_number %></td>
    <td><%= admin_product_transaction.manufacturer %></td>
    <td><%= admin_product_transaction.status %></td>
    <td><%= admin_product_transaction.notes %></td>
    <td><%= admin_product_transaction.notes_invisible %></td>
    <td><%= admin_product_transaction.user_id %></td>
    <td><%= admin_product_transaction.order_id %></td>
    <td><%= admin_product_transaction.created_at %></td>
    <td><%= admin_product_transaction.updated_at %></td>
    <td><%= admin_product_transaction.supplier_id %></td>
    <td><%= admin_product_transaction.quantity_ordered %></td>
    <td><%= admin_product_transaction.quantity_available %></td>
    <td><%= admin_product_transaction.probability %></td>
    <td><%= admin_product_transaction.min_days %></td>
    <td><%= admin_product_transaction.max_days %></td>
    <td><%= admin_product_transaction.buy_cost %></td>
    <td><%= admin_product_transaction.sell_cost %></td>
    <td><%= admin_product_transaction.short_name %></td>
    <td><%= admin_product_transaction.long_name %></td>
    <td><%= admin_product_transaction.product_id %></td>
    <td><%= admin_product_transaction.transaction_product_id %></td>
    <td><%= link_to 'Show', admin_product_transaction_path(admin_product_transaction) %></td>
    <td><%= link_to 'Edit', edit_admin_product_transaction_path(admin_product_transaction) %></td>
    <td><%= link_to 'Destroy', admin_product_transaction_path(admin_product_transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product transaction', new_admin_product_transaction_path %>
