<%= somebody_tabs do %>

  <% @meta_title = "Разбитие позиции на партии" %>
  <% @meta_title_lead = "Данная функция полезна в ситуациях, когда к примеру в заказе было M запчастей, а по N (где N < M) пришел отказ поставщика, тогда вы можете ввести необходимое количество N и получить две партии с количеством N и M-N. По обрабатываемому товару будет выставлен отказ, а вновь созданные товары получат изначальный статус обрабатываемого товара. Так же у вновь созданных запчастей родителем будет выставлен отказанный товар." %>
  <%= page_header %>

  <%= twbs_form_for @resource, url: url_for(jaba.merge(:action => :create)) do |f| %>

    <%= f.twbs_hidden_field :product_id %>

    <div class="row">
      <div class="col-md-6">
        <%= f.twbs_text_field :quantity %>
      </div>
    </div>

    <%= f.twbs_submit "Ok" %>

    <%= debug Product.find(@resource.product_id) %>

  <% end %>

<% end %>
