<%= row do %>
  <div class="col-md-6">
    <%= twbs_form_for [:admin, @somebody, @resource] do |f| %>
      <%= f.twbs_text_field :debit, asterisk: true %>
      <%= f.twbs_text_area :comment %>
      <%= f.twbs_submit 'Внести на счет' %>
    <% end %>
  </div>
<% end %>
