<%= page do |p| %>

  <%= p.breadcrumb do %>
    <%= breadcrumb false, exception=true do |b| %>
      <%= b.item('Бренды') %>
    <% end %>
  <% end %>

  <%= p.title do %>
    <% @meta_title = 'Бренды' %>
    <% @meta_title_lead = 'Выберите интересующего вас производителя запчастей' %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>
    <div class="brands clearfix bottom-space-lg">
      <% @brands.each do |brand| %>
        <%= brands_decorator(lambda{|brand| brand_path(brand)}, brand, lambda{|brand| "#{brand.name} <br><small class='text-muted'>(#{brand.count} шт.)</small>".html_safe}) %>
      <% end %>
    </div>
  <% end %>
<% end %>
