<%= page do |p| %>

  <%= p.breadcrumb do %>
    <%= breadcrumb false, exception=true do |b| %>
      <%= b.item('Бренды') %>
    <% end %>
  <% end %>

  <%= p.title do %>
    <% @meta_title = 'Бренды' %>
    <% discourse_head(@meta_title, @meta_title_small) %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>
    <% if @brands.exists? %>
      <%= panel 'primary' do |p| %>
        <%= p.heading do %>
          <%= p.title do %>
            Выберите производителя запчастей
          <% end %>
        <% end %>
        <%= p.body do %>
          <div id="brands-index-brands" class="brands clearfix bottom-space-lg">
            <% @brands.each do |brand| %>
              <%= brands_decorator(lambda{|brand| brand_path(brand)}, brand, lambda{|brand| "#{brand.name} <br><small class='text-muted'>(#{brand.count} шт.)</small>".html_safe}) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<% end %>

<%= discourse_body(@meta_title, @meta_title_small) %>
