<%= page do |p| %>

  <%= p.breadcrumb do %>
    <%= breadcrumb false, exception=true do |b| %>
      <%= b.item('Бренды', brands_path) %>
      <%= b.item(@brand.name) %>
    <% end %>
  <% end %>

  <%= p.title do %>
    <%= image_tag @brand.image_url, class: 'pull-right img-thumbnail', style: 'margin-top: -60px;' %>
    <%= page_header %>
    <%= discourse_head %>
  <% end %>

  <%= p.content do %>
    <% if @spare_catalogs.exists? %>
      <%= panel 'primary', class: 'by-car' do |p| %>
        <%= p.heading do %>
          <%= p.title do %>
            Выберите группу запчастей
          <% end %>
        <% end %>
        <%= p.body do %>

          <ol id="brands-show-catalogs">
            <% @spare_catalogs.select(&:special?).each do |spare_catalog| %>
              <li data-clickable-object> <%= link_to safe_join([content_tag(:strong, spare_catalog.name), hidden(" #{@brand.name}")]), category_path(spare_catalog, "q[brand_id_eq_any][]" => @brand.id), 'data-clickable-href' => '' %> <%= "<small class='text-muted'>(#{spare_catalog.count}&nbsp;шт.)</small>".html_safe %></li>
            <% end %>
          </ol>

          <div class="tree">
            <ul>
              <%= build_full_tree(SpareCatalogGroup.arrange(order: :name), @spare_catalogs.reject(&:special?), -> (spare_catalog) { link_to safe_join([spare_catalog.name, hidden(" #{@brand.name}"), content_tag(:small, " (#{spare_catalog.count} шт.)", class: 'text-muted')]), category_path(spare_catalog, "q[brand_id_eq_any][]" => @brand.id) }) %>
            </ul>
          </div>

        <% end %>
      <% end %>
    <% else %>
      <% @meta_robots = 'noindex' %>
    <% end %>

    <% if false %>
    <% if @current_user.seller? %>
      <%= link_to edit_admin_brand_path(@brand, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
        <%= icon 'edit' %>
        Редактировать
      <% end %>
    <% end %>
    <% end %>

  <% end %>

<% end %>

<%= discourse_body %>
