<%= page do |p| %>

  <%= p.breadcrumb do %>
    <%= breadcrumb false, exception=true do |b| %>
      <%= b.item('Запчасти') %>
    <% end %>
  <% end %>

  <%= p.title do %>
    <% @meta_title = "Запчасти" %>
    <% discourse_head(@meta_title, @meta_title_small) %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>
    <% if @spare_catalogs.exists? %>
      <%= panel 'primary', class: 'by-car' do |p| %>
        <%= p.heading do %>
          <%= p.title do %>
            Выберите группу запчастей
          <% end %>
        <% end %>
        <%= p.body do %>

          <ol id="categories-index-catalogs">
            <% @spare_catalogs.select(&:special?).each do |spare_catalog| %>
              <li data-clickable-object> <%= link_to content_tag(:strong, spare_catalog.name), category_path(spare_catalog), 'data-clickable-href' => '' %> <%= "<small class='text-muted'>(#{spare_catalog.count}&nbsp;шт.)</small>".html_safe %></li>
            <% end %>
          </ol>

          <hr />

          <ol id="categories-index-catalogs">
            <% @spare_catalogs.reject(&:special?).each do |spare_catalog| %>
              <li data-clickable-object> <%= link_to content_tag(:strong, spare_catalog.name), category_path(spare_catalog), 'data-clickable-href' => '' %> <%= "<small class='text-muted'>(#{spare_catalog.count}&nbsp;шт.)</small>".html_safe %></li>
            <% end %>
          </ol>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= discourse_body(@meta_title, @meta_title_small) %>
