<%= somebody_tabs do %>

  <% @meta_title = "Запчасти" %>
  <%= page_header %>

  <% if @spare_infos.exists? %>
    <%= panel 'info', class: 'by-car' do |p| %>
      <%= p.heading do %>
        <%= p.title do %>
          Выберите группу запчастей
        <% end %>
      <% end %>
      <%= p.body do %>
        <ol id="categories">
          <% @spare_infos.each do |spare_info| %>
            <li> <%= link_to spare_info.cached_spare_catalog, category_path(spare_info.to_category_param) %> </li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  <% end %>


<% end %>
