<%= page do |p| %>

  <%= p.breadcrumb do %>
    <%= breadcrumb false, exception=true do |b| %>
      <%= b.item('Запчасти') %>
    <% end %>
  <% end %>

  <%= p.title do %>
    <% discourse_head %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>
    <% if @spare_catalogs.exists? %>
      <%= panel 'primary', class: 'by-car' do |p| %>
        <%= p.heading do %>
          <%= p.title do %>
            Выберите группу запчастей
          <% end %>
        <% end %>
        <%= p.body do %>

          <ol id="categories-index-catalogs">
            <% @spare_catalogs.select(&:special?).each do |spare_catalog| %>
              <li data-clickable-object> <%= link_to content_tag(:strong, spare_catalog.name), category_path(spare_catalog), 'data-clickable-href' => '' %> <%= "<small class='text-muted'>(#{spare_catalog.count}&nbsp;шт.)</small>".html_safe %></li>
            <% end %>
          </ol>

          <div class="tree">
            <ul>
              <%= build_full_tree(SpareCatalogGroup.arrange(order: :name), @spare_catalogs.reject(&:special?),  -> (spare_catalog) { link_to(safe_join([spare_catalog.name, content_tag(:small, " (#{spare_catalog.count} шт.)", class: 'text-muted')]), category_path(spare_catalog)) }) %>
            </ul>
          </div>

        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= discourse_body %>
