<%= somebody_tabs do %>

  <% b = Breadcrumb.new(self) %>

  <ol class="breadcrumb">
    <%= b.item('Запчасти', categories_path) %>
    <%= b.item(@resource.name) %>
  </ol>

  <% @meta_title = @resource.name %>
  <% @meta_title_lead = @resource.intro %>
  <%= page_header %>

  <% if @spare_infos.exists? %>
    <%= panel 'info', class: 'by-car' do |p| %>
      <%= p.heading do %>
        <%= p.title do %>
          Подбор <%= @resource.name %> по автомобилю
        <% end %>
      <% end %>
      <%= p.body do %>
        <ol id="category-brands">
          <% @spare_applicabilities.each do |spare_applicability| %>
            <li data-clickable-object> <%= link_to spare_applicability.cached_brand, category_brand_path(params[:id], spare_applicability.to_brand_param), 'data-clickable-href' => '' %> </li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  <% end %>

  <% if @resource_class %>
    <%= render partial: "#{@resource_class.name.underscore.pluralize}/index" %>
  <% end %>

  <div id="category-page"><%== @resource.page %></div>

  <% if @current_user.seller? %>
    <%= link_to edit_admin_spare_catalog_path(@resource, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
      <%= icon 'edit' %>
      Редактировать
    <% end %>
  <% end %>
<% end %>
