<% @discourse = {} %>
<% @discourse[:category] = @resource.name %>

<%= page do |p| %>

  <%= p.breadcrumb do %>
    <%= breadcrumb false, exception=true do |b| %>
      <%= b.item('Запчасти', categories_path) %>
      <%= b.item("#{@resource.name}") %>
    <% end %>
  <% end %>

  <%= p.title do %>
    <% @meta_title = "#{@resource.name}" %>
    <% @meta_title_lead = "Подбор #{@resource.name} по автомобилю и характеристикам"
 %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>
    <% if @brands.exists? %>
      <%= panel 'info', class: 'by-car' do |p| %>
        <%= p.heading do %>
          <%= p.title do %>
            <a data-toggle="collapse" href="#by-car-collapse">Подбор <%= @resource.name %> по автомобилю </a>
          <% end %>
        <% end %>
        <%= content_tag :div, 'id' => 'by-car-collapse', 'class' => 'panel-collapse collapse' do %>
          <%= p.body do %>
            <ol id="category-brands">
              <% @brands.each do |brand| %>
                <li data-clickable-object> <%= link_to safe_join([hidden("#{@resource.name} на "), content_tag(:strong, brand.name)]), category_brand_path(params[:id], brand), 'data-clickable-href' => '' %> <%= "<small class='text-muted'>(#{brand.count}&nbsp;шт.)</small>".html_safe %></li>
              <% end %>
            </ol>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render 'tmp' %>

    <% if @current_user.seller? %>
      <%= link_to edit_admin_spare_catalog_path(@resource, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
        <%= icon 'edit' %>
        Редактировать
      <% end %>
    <% end %>
  <% end %>
<% end %>
