<%- model_class = Email -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:from_addrs) %>:</strong></dt>
  <dd><%= @email.from_addrs %></dd>
  <dt><strong><%= model_class.human_attribute_name(:return_path) %>:</strong></dt>
  <dd><%= Base64.decode64 @email.return_path %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from) %>:</strong></dt>
  <dd><%= @email.from %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subject) %>:</strong></dt>
  <dd><%= @email.subject %></dd>
  <dt><strong><%= model_class.human_attribute_name(:in_reply_to) %>:</strong></dt>
  <dd><%= @email.in_reply_to %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to_addrs) %>:</strong></dt>
  <dd><%= @email.to_addrs %></dd>
  <dt><strong><%= model_class.human_attribute_name(:html_part) %>:</strong></dt>
  <dd><%= Base64.decode64 @email.html_part %></dd>
  <dt>has_many :attachments</dt>
  <dd>
    <% @email.attachments.each do |attachment| %>
      <%= image_tag attachment.attachment.url %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:text_part) %>:</strong></dt>
  <dd><%= simple_format Base64.decode64 @email.text_part %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @email.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to) %>:</strong></dt>
  <dd><%= @email.to %></dd>
  <dt><strong><%= model_class.human_attribute_name(:body) %>:</strong></dt>
  <dd><%= @email.body %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cc_addrs) %>:</strong></dt>
  <dd><%= @email.cc_addrs %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bcc_addrs) %>:</strong></dt>
  <dd><%= @email.bcc_addrs %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bcc) %>:</strong></dt>
  <dd><%= @email.bcc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cc) %>:</strong></dt>
  <dd><%= @email.cc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:resent_bcc) %>:</strong></dt>
  <dd><%= @email.resent_bcc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:resent_cc) %>:</strong></dt>
  <dd><%= @email.resent_cc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_multipart) %>:</strong></dt>
  <dd><%= @email.is_multipart %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parts_length) %>:</strong></dt>
  <dd><%= @email.parts_length %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @email.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:message_id) %>:</strong></dt>
  <dd><%= @email.message_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @email.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content_types) %>:</strong></dt>
  <dd><%= @email.content_types %></dd>
  <dt><strong><%= model_class.human_attribute_name(:classes) %>:</strong></dt>
  <dd><%= @email.classes %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              emails_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_email_path(@email), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              email_path(@email),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
