<div class="nested-fields top-space">

  <%= f.error_notification %>

  <%= link_to_remove_association '<i class="icon-trash"></i>'.html_safe, f, :class => "btn btn-danger pull-right", :confirm => 'Are you sure?' %>

  <a href="" class="btn btn-info btn-mini pull-left right-space"><i class="icon-arrow-down"></i></a>
  <a href="" class="btn btn-info btn-mini pull-left right-space"><i class="icon-arrow-up"></i></a>
  <a href="" class="btn btn-info btn-mini pull-left right-space"><i class="icon-minus"></i></a>

  <div class="clearfix bottom-space"></div>

  <div class="nested-visualize" style="border-left: 3px dashed #62C462">

    <ul class="nav nav-tabs">
      <li class="active"><a id="tab1_toggle<%= counter %>" href="#tab1<%= counter %>" data-toggle="tab">Идентификатор</a></li>
      <li><a id="tab2_toggle<%= counter %>" href="#tab2<%= counter %>" data-toggle="tab">Характеристики</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab1<%= counter %>">
        <%= f.input :vin %>
        <%= f.input :frame %>
      </div>

      <div class="tab-pane" id="tab2<%= counter %>">
        <%= f.input :god %>
        <%= f.input :marka %>
        <%= f.input :model %>
        <%= f.input :dvigatel %>
        <%= f.input :tip %>
        <%= f.input :moschnost %>
        <%= f.input :privod %>
        <%= f.input :tip_kuzova %>
        <%= f.input :kpp %>
        <%= f.input :kod_kuzova %>
        <%= f.input :kod_dvigatelya %>
        <%= f.input :rinok %>
        <%= f.input :komplektaciya %>
      </div>
    </div>

    <hr />

    <%= f.input :car_number %>
    <%= f.input :created_at, :disabled => true %>
    <%= f.input :updated_at, :disabled => true %>
    <%= f.input :notes, :input_html => {:rows => 3} %>
    <%= f.input :notes_invisible, :input_html => {:rows => 3} %>
    <%= f.association :creator, :disabled => true %>

    <div id="requests_with_auto" class="nested-fields">

      <%= f.simple_fields_for :root_requests_with_car do |request| %>
        <%= render 'request_fields', :f => request, :stack => stack %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'Добавить запрос', f, :root_requests_with_car, :class => "btn btn-success btn-success", :render_options => {:locals => {:stack => stack}}, :partial => 'request_fields' %>
      </div>

    </div>

  </div>

  <hr />

</div>

