<div class="nested-fields top-space">

  <%= f.error_notification %>

  <%= link_to_remove_association '<i class="icon-trash ignoredirty"></i>'.html_safe, f, :class => "btn btn-danger pull-right ignoredirty", :confirm => 'Are you sure?' %>

  <a href="" class="btn btn-info btn-mini pull-left right-space"><i class="icon-arrow-down"></i></a>
  <a href="" class="btn btn-info btn-mini pull-left right-space"><i class="icon-arrow-up"></i></a>
  <a href="" class="btn btn-info btn-mini pull-left right-space"><i class="icon-minus"></i></a>

  <div class="clearfix bottom-space"></div>

  <div class="nested-visualize" style="border-left: 3px dashed #62C462">

    <ul class="nav nav-tabs">
      <li class="active"><a class="ignoredirty" id="tab1_toggle<%= counter %>" href="#tab1<%= counter %>" data-toggle="tab">Идентификатор</a></li>
      <li><a class="ignoredirty" id="tab2_toggle<%= counter %>" href="#tab2<%= counter %>" data-toggle="tab">Характеристики</a></li>
      <li><a class="ignoredirty" id="tab3_toggle<%= counter %>" href="#tab3<%= counter %>" data-toggle="tab">Продажа</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab1<%= counter %>">
        <%= f.input :vin %>
        <%= f.input :frame %>
        <%= f.input :car_number %>
      </div>

      <div class="tab-pane" id="tab2<%= counter %>">

        <%= f.input :brand do %>
          <%= f.hidden_field(:brand, :style => "width: 220px") %>
        <% end %>

        <%= f.input :model do %>
          <%= f.hidden_field(:model, :style => "width: 220px") %>
        <% end %>


        <%= f.input :generation do %>
          <%= f.hidden_field(:generation, :style => "width: 220px") %>
        <% end %>


        <%= f.input :modification do %>
          <%= f.hidden_field(:modification, :style => "width: 220px") %>
        <% end %>

        <%= f.input :god %>
        <%= f.input :period %>
        <%= f.input :dvigatel %>
        <%= f.input :tip %>
        <%= f.input :moschnost %>
        <%= f.input :privod %>
        <%= f.input :tip_kuzova %>
        <%= f.input :kpp %>
        <%= f.input :kod_kuzova %>
        <%= f.input :kod_dvigatelya %>
        <%= f.input :rinok %>
        <%= f.input :komplektaciya %>
        <%= f.input :dverey %>
        <%= f.input :rul %>

      </div>


      <div class="tab-pane" id="tab3<%= counter %>">
        <%= f.input :selling %>
        <%= f.input :cost %>
        <%= f.input :advertisement, :input_html => { :rows => 3 } %>
        <%= f.input :torg %>
      </div>

    </div>

    <hr />

    <%= f.input :created_at, :disabled => true %>
    <%= f.input :updated_at, :disabled => true %>
    <%= f.input :notes, :input_html => {:rows => 3} %>
    <%= f.input :notes_invisible, :input_html => {:rows => 3} %>

  </div>

  <hr />

</div>

