<div class="nested-fields">

  <hr />

  <%= link_to_remove_association '<i class="icon-trash"></i>'.html_safe, f, :class => "btn btn-danger pull-right", :confirm => 'Are you sure?' %>

  <%= f.input :email_address %>
  <%= f.input :confirmed_by_human %>
  <%= f.input :human_confirmation_datetime %>
  <%= f.input :confirmed_by_robot, :disabled => true %>
  <%= f.input :robot_confirmation_datetime, :disabled => true %>
  <%= f.input :created_at, :disabled => true %>
  <%= f.input :updated_at, :disabled => true %>
  <%= f.input :invisible %>

</div>
