<div class="nested-fields top-space">

  <%= f.error_notification %>

  <%= link_to_remove_association '<i class="icon-trash"></i>'.html_safe, f, :class => "btn btn-danger pull-right", :confirm => 'Are you sure?' %>

  <a href="" class="btn btn-info btn-mini pull-left right-space"><i class="icon-arrow-down"></i></a>
  <a href="" class="btn btn-info btn-mini pull-left right-space"><i class="icon-arrow-up"></i></a>
  <a href="" class="btn btn-info btn-mini pull-left right-space"><i class="icon-minus"></i></a>

  <div class="clearfix bottom-space"></div>

  <%= f.input :email_address, :required => true %>
  <%= f.input :confirmed_by_human %>
  <%= f.input :human_confirmation_datetime %>
  <%= f.input :confirmed_by_robot, :disabled => true %>
  <%= f.input :robot_confirmation_datetime, :disabled => true %>
  <%= f.input :created_at, :disabled => true %>
  <%= f.input :updated_at, :disabled => true %>
  <%= f.input :notes, :input_html => {:rows => 3} %>
  <%= f.input :notes_invisible, :input_html => {:rows => 3} %>

  <hr />

</div>
