<%= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f| %>

  <ul class="nav nav-tabs" id="myTab">
    <li><a href="#users-tab">Главная</a></li>
    <li class="active"><a href="#names-tab">Имя</a></li>
    <li><a href="#phones-tab">Телефон</a></li>
    <li><a href="#email_addresses-tab">E-mail</a></li>
    <li><a href="#postal_addresses-tab">Адрес</a></li>
    <li><a href="#cars-tab">Авто</a></li>
    <li><a href="#requests-tab">Запросы</a></li>
    <li><a href="#products_incart-tab">Корзина</a></li>
    <li><a href="#orders-tab">Заказы</a></li>
  </ul>
   
  <div class="tab-content">

    <div class="tab-pane" id="users-tab">
      <div id="users" class="top-space">
        <%= f.association :time_zone, :include_blank => true %>
        <%= f.input :creation_reason, :collection => Rails.configuration.user_creation_reason.map {|k,v| [v,k]}, :disabled => true, :as => :radio_buttons %>
        <%= f.input :created_at, :disabled => true %>
        <%= f.input :updated_at, :disabled => true %>
        <%= f.simple_fields_for :ping do |ping| %>
          <%= ping.input :created_at, :as => :datetime, :disabled => true, :label => 'Пинг', :hint => 'Время последней активности (просмотр страницы пользователем или получение от него письма)', :required => false %>
        <% end %>
        <%= f.input :invisible %>
        <%= f.input :session_id, :disabled => true %>
      </div>
    </div>

    <div class="tab-pane active" id="names-tab">
      <div id="names">
        <%= f.simple_fields_for :names do |name| %>
          <%= render 'name_fields', :f => name %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Добавить имя', f, :names, :class => "btn btn-success"   %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="phones-tab">
      <div id="phones">
        <%= f.simple_fields_for :phones do |phone| %>
          <%= render 'phone_fields', :f => phone %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Добавить телефон', f, :phones, :class => "btn btn-success"   %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="email_addresses-tab">
      <div id="email_addresses">
        <%= f.simple_fields_for :email_addresses do |email_address| %>
          <%= render 'email_address_fields', :f => email_address %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Добавить e-mail', f, :email_addresses, :class => "btn btn-success"  %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="postal_addresses-tab">
      <div id="postal_addresses">
        <%= f.simple_fields_for :postal_addresses do |postal_address| %>
          <%= render 'postal_address_fields', :f => postal_address %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Добавить адрес', f, :postal_addresses, :class => "btn btn-success"  %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="cars-tab">
      <div id="cars">
        <% counter = 0 %>
        <%= f.simple_fields_for :cars do |car| %>
          <%= render 'car_fields', :f => car, :counter => "_#{counter}", :stack => 0 %>
          <% counter += 1 %> 
        <% end %>
        
        <div class="links">
          <%= link_to_add_association 'Добавить авто', f, :cars, :class => "btn btn-success", :render_options => {:locals => {:counter => "", :stack => 0}} %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="requests-tab">
      <div id="requests">
        <!-- # TODO  Check аналогично -->
        <% if f.object.new_record? %>
          <%= f.simple_fields_for :requests do |request| %>
            <%= render 'request_fields', :f => request, :stack => 0 %>
          <% end %>
        <% else %>
          <%= f.simple_fields_for :requests, f.object.requests.where("request_id IS NULL").where("car_id IS NULL") do |request| %>
            <%= render 'request_fields', :f => request, :stack => 0 %>
          <% end %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Добавить запрос', f, :requests, :class => "btn btn-success", :render_options => {:locals => {:stack => 0}} %>
        </div>
      </div>
    </div>


    <div class="tab-pane" id="products_incart-tab">
      <div id="products_incart">
        <!-- TODO Check аналогично -->
        <% if f.object.new_record? %>
          <%= f.simple_fields_for :products do |product| %>
            <%= render 'product_fields', :f => product %>
          <% end %>
        <% else %>
          <%= f.simple_fields_for :products, f.object.products.where(:status => :incart) do |product| %>
            <%= render 'product_fields', :f => product %>
          <% end %>
        <% end %>
        
        <div class="links">
          <%= link_to_add_association 'Добавить товар', f, :products, :wrap_object => Proc.new {|product| product.status = :incart; product }, :class => "btn btn-success", :partial => 'product_fields' %>
        </div>
      </div>
    </div>


    <div class="tab-pane" id="orders-tab">
      <div id="orders">
        <%= f.simple_fields_for :orders do |order| %>
          <%= render 'order_fields', :f => order, :stack => 0 %>
        <% end %>
        
        <div class="links">
          <%= link_to_add_association 'Добавить заказ', f, :orders, :class => "btn btn-success", :render_options => {:locals => {:stack => 0}} %>
        </div>
      </div>
    </div>



  </div>
   
  <script>
    $(function () {
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })
    })
  </script>

  <hr />



  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_users_path, :class => 'btn' %>
  </div>
<% end %>
