<%= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.association :time_zone, :include_blank => true %>
  <%= f.input :creation_reason, :collection => Rails.configuration.user_creation_reason.map {|k,v| [v,k]}, :disabled => true, :as => :radio_buttons %>
  <%= f.input :created_at, :disabled => true %>
  <%= f.input :updated_at, :disabled => true %>
  <%= f.simple_fields_for :ping do |ping| %>
    <%= ping.input :created_at, :as => :datetime, :disabled => true, :label => 'Пинг', :hint => 'Время последней активности (просмотр страницы пользователем или получение от него письма)', :required => false %>
  <% end %>
  <%= f.input :invisible %>
  <%= f.input :session_id, :disabled => true %>


  <h2> Имена </h3>

  <div id="names">
    <%= f.simple_fields_for :names do |name| %>
      <%= render 'name_fields', :f => name %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Добавить имя', f, :names, :class => "btn btn-success"   %>
    </div>
  </div>

  <h2> Телефоны </h3>

  <div id="phones">
    <%= f.simple_fields_for :phones do |phone| %>
      <%= render 'phone_fields', :f => phone %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Добавить телефон', f, :phones, :class => "btn btn-success"   %>
    </div>
  </div>


  <h2>Электронная почта</h3>

  <div id="email_addresses">
    <%= f.simple_fields_for :email_addresses do |email_address| %>
      <%= render 'email_address_fields', :f => email_address %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Добавить E-mail', f, :email_addresses, :class => "btn btn-success"  %>
    </div>
  </div>

  <h2> Адреса доставки</h3>

  <div id="postal_addresses">
    <%= f.simple_fields_for :postal_addresses do |postal_address| %>
      <%= render 'postal_address_fields', :f => postal_address %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Добавить адрес', f, :postal_addresses, :class => "btn btn-success"  %>
    </div>
  </div>

  <h2> Автомобили </h3>

  <div id="cars">
    <% counter = 0 %>
    <%= f.simple_fields_for :cars do |car| %>
      <%= render 'car_fields', :f => car, :counter => "_#{counter}", :stack => 0 %>
      <% counter += 1 %> 
    <% end %>
    
    <div class="links">
      <%= link_to_add_association 'Добавить автомобиль', f, :cars, :class => "btn btn-success", :render_options => {:locals => {:counter => "", :stack => 0}} %>
    </div>
  </div>

  
  <h2> Запросы без автомобиля</h3>

  <div id="requests_without_auto">


    <!-- # TODO  Check аналогично -->
    <% if f.object.new_record? %>
      <%= f.simple_fields_for :requests do |request| %>
        <%= render '/users/request_fields', :f => request, :stack => 0 %>
      <% end %>
    <% else %>
      <%= f.simple_fields_for :requests, f.object.requests.where("request_id IS NULL").where("car_id IS NULL") do |request| %>
        <%= render '/users/request_fields', :f => request, :stack => 0 %>
      <% end %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Запрос без авто', f, :requests, :class => "btn btn-info", :partial => '/users/request_fields', :render_options => {:locals => {:stack => 0}} %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_users_path, :class => 'btn' %>
  </div>
<% end %>
