<div class="nested-fields">

  <hr />

  <%= link_to_remove_association '<i class="icon-trash"></i>'.html_safe, f, :class => "btn btn-danger pull-right", :confirm => 'Are you sure?' %>

  <%= f.input :name %>
  <%= f.input :creation_reason, :collection => [['Автоматически заполнено из e-mail', 'email'] ,['В процессе оформления заказа (получатель)', 'addressee'], ['Представился на сайте', 'self']], :disabled => true, :as => :radio_buttons %>
  <%= f.input :invisible %>
  <%= f.input :created_at, :disabled => true %>
  <%= f.input :updated_at, :disabled => true %>

</div>
