
<%- model_class = User -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize %> 
    <%= link_to t('.new', :default => t("helpers.links.new")),
                edit_admin_user_path('new'),
                :class => 'btn btn-primary' %>
  </h1>
</div>


<!-- 
  <%= simple_form_for(@user_filter, :url => filter_admin_users_path) do |f| %>

    <% @user_filter.attributes.each do |attr, v| %>
      <%= f.input attr, :as => :boolean %>
    <% end %>
    <%= f.submit %>
  <% end %>
-->

<div class='container-fluid'>
   <div class="row-fluid">
      <div class="span6">

        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Имя
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <ul>
                  <li>Имя - текст</li>
                  <li>Причина создания - radiobutton</li>
                  <li>Служебная информация - текст</li>
                  <li>Запись создана - интервал</li>
                  <li>Запись изменена - интервал</li>
                </ul>

              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Автомобиль
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul>
                  <li>VIN</li>
                  vin или frame содержит
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
               E-mail адрес 
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul>
                  <li>адрес содержит</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                Телефон
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                телефон содержит 
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="span6">
         <fieldset class="fieldset">
           <legend>Пресеты</legend>
              form here
          </fieldset>
      </div>

   </div>
</div>

<%= paginate @users %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:time_zone) %></th>
      <th><%= model_class.human_attribute_name(:notes_invisible) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email_address) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:debit) %></th>
      <th><%= model_class.human_attribute_name(:credit) %></th>
      <th><%= model_class.human_attribute_name(:prepayment_percent) %></th>
      <th><%= model_class.human_attribute_name(:ping) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>

      <% @table_fields.each do |k,v| %>
        <% v.each do |c| %>
          <%= raw "<th>#{k}_#{c}</th>" %>
        <% end %>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, admin_user_path(user) %></td>
        <td><%= user.time_zone.to_label if user.time_zone.present? %></td>
        <td><%= user.notes_invisible %></td>
        <td><%= user.names.collect(&:name).join(', ') %></td>
        <td><%= user.email_addresses.collect(&:email_address).join(', ') %></td>
        <td><%= user.phones.collect(&:phone).join(', ') %></td>
        <td><%= user.account.debit %> р.</td>
        <td><%= user.account.credit %> р.</td>
        <td><%= user.prepayment_percent %> %</td>

        <td><%= l user.ping.updated_at, :format => :short %> </td>
        <td>
          <div class="btn-group dropup">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Дейсвтия <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
              <li class="dropdown-submenu pull-left">
                <%= link_to("Заказы", admin_user_orders_path(user)) %>
                <ul class="dropdown-menu">
                  <% Rails.configuration.orders_status.each do |k, v| %>
                    <%= content_tag(:li, link_to(v["title"], admin_user_orders_path(user, :status => k))) %>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown-submenu pull-left">
                <%= link_to("Товары", admin_user_products_path(user)) %>
                <ul class="dropdown-menu">
                  <% Rails.configuration.products_status.each do |k, v| %>
                    <%= content_tag(:li, link_to(v["title"], admin_user_products_path(user, :status => k))) %>
                  <% end %>
                </ul>
              </li>
              <li class="divider"> </li>
              <li class="dropdown-submenu pull-left">
                <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_user_path(user) %>
                <ul class="dropdown-menu">
                  <%= content_tag(:li, link_to("Главная", edit_admin_user_path(user, :tab => :users))) %>
                  <%= content_tag(:li, link_to("Имя", edit_admin_user_path(user, :tab => :names))) %>
                  <%= content_tag(:li, link_to("Телефон", edit_admin_user_path(user, :tab => :phones))) %>
                  <%= content_tag(:li, link_to("E-mail", edit_admin_user_path(user, :tab => :email_addresses))) %>
                  <%= content_tag(:li, link_to("Адрес", edit_admin_user_path(user, :tab => :postal_addresses))) %>
                  <%= content_tag(:li, link_to("Авто", edit_admin_user_path(user, :tab => :cars))) %>
                  <li class="divider"></li>
                  <%= content_tag(:li, link_to("Запросы", edit_admin_user_path(user, :tab => :requests))) %>
                  <%= content_tag(:li, link_to("Корзина", edit_admin_user_path(user, :tab => :products_incart))) %>
                  <%= content_tag(:li, link_to("Заказы", edit_admin_user_path(user, :tab => :orders))) %>
                </ul>
              </li>
              <li> <%= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %> </li>
            </ul>
          </div>
        </td>
        <% @table_fields.each do |k, v| %>
          <% v.each do |c| %>
            <td>
              <%= user.instance_eval "self.#{k}.map{|z| z.#{c}}" %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>

