<!-- 
  <%= simple_form_for(@user_filter, :url => filter_admin_users_path) do |f| %>

    <% @user_filter.attributes.each do |attr, v| %>
      <%= f.input attr, :as => :boolean %>
    <% end %>
    <%= f.submit %>
  <% end %>
-->

<div class='container-fluid'>
   <div class="row-fluid">
      <div class="span6">

        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Имя
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <ul>
                  <li>Имя - текст</li>
                  <li>Причина создания - radiobutton</li>
                  <li>Служебная информация - текст</li>
                  <li>Запись создана - интервал</li>
                  <li>Запись изменена - интервал</li>
                </ul>

              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Автомобиль
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul>
                  <li>VIN</li>
                  vin или frame содержит
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
               E-mail адрес 
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul>
                  <li>адрес содержит</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                Телефон
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                телефон содержит 
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="span6">
         <fieldset class="fieldset">
           <legend>Пресеты</legend>
              form here
          </fieldset>
      </div>

   </div>
</div>

<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:time_zone) %></th>
      <th><%= model_class.human_attribute_name(:invisible) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email_address) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:debit) %></th>
      <th><%= model_class.human_attribute_name(:credit) %></th>
      <th><%= model_class.human_attribute_name(:ping) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>

      <% @table_fields.each do |k,v| %>
        <% v.each do |c| %>
          <%= raw "<th>#{k}_#{c}</th>" %>
        <% end %>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, admin_user_path(user) %></td>
        <td><%= user.time_zone.to_label if user.time_zone.present? %></td>
        <td><%= user.invisible %></td>
        <td><%= user.names.collect(&:name).join(', ') %></td>
        <td><%= user.email_addresses.collect(&:email_address).join(', ') %></td>
        <td><%= user.phones.collect(&:phone).join(', ') %></td>
        <td><%= user.account.debit %></td>
        <td><%= user.account.credit %></td>
        <td><%= l user.ping.updated_at, :format => :short %> </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
        <% @table_fields.each do |k, v| %>
          <% v.each do |c| %>
            <td>
              <%= user.instance_eval "self.#{k}.map{|z| z.#{c}}" %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_user_path,
            :class => 'btn btn-primary' %>
