<% @meta_title = guest_or_user_to_label(@resource) %>

<%= page do |p| %>

  <%= p.breadcrumb do |b| %>
    <%= b.item 'Главная', root_path %>
    <%= b.item 'Администрирование', admin_root_path %>
    <%= b.item 'Пользователи', admin_users_path %>
    <%= b.item @meta_title %>
  <% end %>

  <%= p.title do %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>

    <%= legacy_somebody_tabs do %>

      <ul class="list-unstyled">
        <li><h4><%# link_to 'Сменить пароль', edit_admin_user_password_path(@resource, return_path: request.fullpath) %></h4></li>
        <li><h4><%# link_to 'Настройки', edit_admin_user_path(@resource, return_path: request.fullpath) %></h4></li>
        <li><h4><%# link_to 'История изменения настроек', transactions_admin_user_path(@resource, return_path: request.fullpath) %></h4></li>
      </ul>

      <%= render 'smart_show' %>

    <% end %>
  <% end %>
<% end %>
