<%= container do %>

  <% @meta_title = 'Обрезка изображения' %>
  <%= page_header %>

  <%= row do %>
    <div class="col-xs-12">

      <%= alert 'info', false do %>
        Вы можете изменить размер окна и перегрузить страницу и тогда размер обрезаемого изображения подстроится под размер окна.
      <% end %>

      <%= twbs_form_for @resource, remote: true  do |f| %>
        <%= f.hidden_field :crop_x %>
        <%= f.hidden_field :crop_y %>
        <%= f.hidden_field :crop_w %>
        <%= f.hidden_field :crop_h %>
        <%= f.hidden_field :image_w %>
        <%= f.hidden_field :image_h %>
        <%= f.hidden_field :operation %>

        <%= f.twbs_submit 'Обрезать' %>
      <% end %>

      <%= image_tag @resource.upload.url, :class => 'img-crop img-responsive' %>

    </div>

  <% end %>

<% end %>

<%= javascript_include_tag 'uploads/crop' %>
<%= stylesheet_link_tag 'uploads/crop' %>
