<%= container do %>
  <% @meta_title = "Закачка файлов" %>
  <%= page_header %>

  <div rel="uploads-parent">
    <span class="btn btn-primary fileinput-button">
      <%= icon "plus" %>
      <span>  Выбрать... </span>
      <input class="fileupload" type="file" name="upload[upload]" multiple="">
    </span>
    <a id="insert_files_into_ckeditor" class="btn btn-success" style="display: none"> Вставить </a>

    <div class="uploads clearfix top-space bottom-space"> </div>
  </div>

  <%= alert 'info' do %>
    Вы можете выбрать сразу несколько файлов за раз, а так же можете просто перетащить их курсором с компьютера на кнопку загрузки.
  <% end %>

<% end %>

<div id="ckeditor-name" class="hide"><%= params['CKEditor'] %></div>

<%= javascript_include_tag 'uploads' %>
<%= stylesheet_link_tag 'uploads' %>
