<%= row do %>

  <div class="col-md-8">

    <%= twbs_form_for @resource, url: [:admin, @resource] do |f| %>

      <%= f.error_notification %>

      <%= f.twbs_check_box :active %>
      <%= f.twbs_text_field :z_index, asterisk: true %>

      <%= f.form_group do %>
        <%= input_group do |ig| %>
          <%= twbs_text_field_tag '', '', id: "geocode-address-text", rel: "catch-enter" %>
          <%= ig.btn do %>
            <button id="geocode-address-button" class="btn btn-default" rel="press-enter" type="button"> Найти адрес </button>
          <% end %>
        <% end %>
      <% end %>

      <%= f.form_group do %>
        <%# a1 do %>
          <div id="map"> </div>
          <%= hint do %>
            Обратите внимание, что увеличение (zoom) и позиция на карте так же сохраняются.
          <% end %>
        <%# end %>
      <% end %>

      <%# / TODO  button_swap был удален и заменен на check_boxes_themed (пока не написан :) ) %>
      <%= f.twbs_check_box :realize %>

      <div class="block">

        <%= f.twbs_text_field :name, asterisk: true %>
        <%= f.twbs_text_area :content, class: 'ckeditor-extended' %>

        <div id="variants" class="top-space bottom-space">
          <%= f.fields_for :variants do |variant| %>
            <%= render 'variant_fields', :f => variant %>
          <% end %>
          <%= f.form_group do %>
            <%# a1 do %>
              <%= link_to_add_association 'Добавить вариант доставки', f, :variants, class: "btn btn-success btn-small", :data => {"association-insertion-node" => ".form-group", "association-insertion-traversal" => "closest"}  %>
            <%# end %>
          <% end %>
        </div>

        <%= f.twbs_check_box :display_marker %>

        <% (1..5).each do |n| %>
          <%= f.instance_eval("twbs_text_field :phone#{n}") %>
        <% end %>

        <% (1..3).each do |n| %>
          <%= f.instance_eval("twbs_text_field :email#{n}") %>
        <% end %>

        <%= f.twbs_text_field :address_locality %>
        <%= f.twbs_text_field :postal_code %>
        <%= f.twbs_text_field :street_address %>

        <% (1..3).each do |n| %>
          <%= f.instance_eval("twbs_file_field :image#{n}") %>
        <% end %>

        <%= panel 'default' do |p| %>

          <%= p.heading do %>
            <% p.title do %>
              Стиль области
            <% end %>
          <% end %>

          <%= p.body do %>

            <ul class="nav nav-tabs">

              <% ['active', 'inactive'].each do |style| %>
                <li class="<%=style == 'active' ? 'active' : ''%>">
                  <a href="#<%=style%>" data-toggle="tab"> <%=style%> </a>
                </li>
              <% end %>

            </ul>

            <div class="tab-content top-space">

              <% ['active', 'inactive'].each do |style| %>

                <div id="<%=style%>" class="tab-pane <%=style == 'active' ? 'active' : ''%>">
                  <%= f.twbs_text_field :"#{style}_fill_color", asterisk: true %>
                  <%= f.twbs_text_field :"#{style}_fill_opacity", asterisk: true %>
                  <%= f.twbs_text_field :"#{style}_stroke_color", asterisk: true %>
                  <%= f.twbs_text_field "#{style}_stroke_opacity", asterisk: true %>
                  <%= f.twbs_text_field "#{style}_stroke_weight", asterisk: true %>
                </div>

              <% end %>

            </div>

          <% end %>

        <% end %>

      </div>

      <%= f.hidden_field :vertices %>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lng %>
      <%= f.hidden_field :zoom %>

      <%= f.twbs_submit %>

    <% end %>

  </div>

<% end %>
