<%= simple_form_for(@resource, url:([:admin, @resource])) do |f| %>

  <%= f.error_notification %>

  <%= f.input :partner %>
  <%= f.input :active %>
  <%= f.input :z_index %>


  <div class="form-group">
    <div class="input-group">
      <%= text_field_tag '', '', class: "form-control", placeholder: "Введите искомый адрес", id: "geocode-address-text", :"catch-enter"=>"" %>
      <span class="input-group-btn">
        <button id="geocode-address-button" class="btn btn-default" press-enter type="button"> Найти адрес </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div id="map" style="width: 100%; height: 500px;"> </div>
  </div>

  <%= f.input :realize %>

  <div class="block">

    <%= f.input :name %>
    <%= f.input :metro %>
    <%= f.input :faq_id %>

    <div id="variants" class="top-space bottom-space">
      <%= f.simple_fields_for :variants do |variant| %>
        <%= render 'variant_fields', :f => variant %>
      <% end %>
      <div class="form-group">
        <%= link_to_add_association 'Добавить вариант доставки', f, :variants, class: "btn btn-success btn-small", :data => {"association-insertion-node" => ".form-group", "association-insertion-traversal" => "closest"}  %>
      </div>
    </div>

    <%= f.input :display_marker %>

    <%= f.input :price_url %>

    <%= panel 'default' do |p| %>

      <%= p.heading do %>
        <% p.title do %>
          Стиль области
        <% end %>
      <% end %>

    <% end %>

  </div>

  <%= f.hidden_field :vertices %>

  <%= panel 'default' do |p| %>
    <%= p.body do %>
      <%= f.input :ycountry, as: :string %>
      <%= f.input :ycountry_code, as: :string %>
      <%= f.input :ycity %>
      <%= f.input :ystreet %>
      <%= f.input :yhouse %>
      <%= f.input :ycity_code %>
      <%= f.input :yphone %>
      <%= f.input :ycompany_name %>
      <%= f.input :ycontact_email %>
      <%= f.input :ywork_time %>
      <%= f.input :yogrn %>
    <% end %>
  <% end %>

  <%= f.buttons %>

<% end %>
