<%- model_class = EmailAddress -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:email_address) %></th>
      <th><%= model_class.human_attribute_name(:confirmed_by_human) %></th>
      <th><%= model_class.human_attribute_name(:human_confirmation_datetime) %></th>
      <th><%= model_class.human_attribute_name(:confirmed_by_robot) %></th>
      <th><%= model_class.human_attribute_name(:robot_confirmation_datetime) %></th>
      <th><%= model_class.human_attribute_name(:invisible) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @email_addresses.each do |email_address| %>
      <tr>
        <td><%= link_to email_address.id, admin_email_address_path(email_address) %></td>
        <td><%= email_address.email_address %></td>
        <td><%= email_address.confirmed_by_human %></td>
        <td><%= email_address.human_confirmation_datetime %></td>
        <td><%= email_address.confirmed_by_robot %></td>
        <td><%= email_address.robot_confirmation_datetime %></td>
        <td><%= email_address.invisible %></td>
        <td><%= email_address.user_id %></td>
        <td><%=l email_address.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_email_address_path(email_address), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_email_address_path(email_address),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_email_address_path,
            :class => 'btn btn-primary' %>
