<%= page do |p| %>

  <%= p.breadcrumb do %>
  <% end %>

  <%= p.title do %>
  <% end %>

  <%= p.content do %>
    <ul class="list-unstyled">
      <li><h4><%= link_to 'Движение средств', transactions_admin_supplier_accounts_path(supplier_id: @somebody) %></h4></li>
    </ul>

    <%= render 'smart_show' %>
  <% end %>

<% end %>
