<div class="col-sm-8 bottom-space-lg">
  <%= panel 'primary' do |p| %>
    <%= p.body do %>
      <h5>
        <strong><%= alert_link_to 'Вход на сайт', login_path %></strong><br>уже проходили регистрацию?
      </h5>
      <h5>
        <strong><%= alert_link_to 'Восстановление пароля', password_reset_path %></strong><br>забыли пароль?
      </h5>
      <h5>
        <strong><%= alert_link_to  'Регистрация', register_path %></strong><br>еще не зарегистрированы?
      </h5>
    <% end %>
  <% end %>
</div>
