<% new_or_edit = @resource.is_a?(Product) && @resource.try(:persisted?) ? :edit : :new %>
<%= form_tag main_app.polymorphic_path([new_or_edit, *jaba3, :product], :id => @resource), :class => "search-form navbar-form navbar-left", :method => :get do %>
  <div class="form-group">
    <div class="input-group" id="catalog_number_parent">
      <%= text_field_tag :catalog_number, params[:catalog_number] || @preset_catalog_number, :placeholder => 'Артикул детали', :class => "form-control" %>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <%# history = Stat.find_by_sql "
          SELECT t1.*
          FROM stats t1
          INNER JOIN
            (SELECT
                 title
               , location
               , MAX(created_at) AS max_created_at
             FROM stats
             GROUP BY title, location
            ) AS t2
          ON t1.title = t2.title
          AND t1.location = t2.location
          AND t1.created_at = t2.max_created_at
          WHERE t1.somebody_id = #{current_user.id}
            AND t1.is_search = true
          ORDER BY t1.id desc
          LIMIT 5"
          %>
          <% history = [] %>
          <%# history = @somebody.stats.limit(4).where(is_search: true).order(:id).select(:title, :location).distinct(:title) %>
          <% if history.any? %>
            <% history.each do |stat| %>
              <li><%= link_to truncate(stat.title, length: 40), stat.location %></li>
            <% end %>
            <li><a href="#"><small>Вся история</small></a></li>
          <% else %>
            <li><a href="#">История поиска пуста</a></li>
          <% end %>
        </ul>
        <button class="btn btn-default" style="margin-left: 5px; border-radius: 4px" type="submit"> Найти </button>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /form-group -->
  <%# hidden_field_tag :manufacturer, params[:manufacturer] %>
  <%# hidden_field_tag :replacements, params[:replacements] %>
  <%= hidden_field_tag :product_id, @resource.try(:product_id) %>
  <%= hidden_field_tag :return_path, params[:return_path] || request.fullpath %>
<% end %>
