  <% f = nil %>
  <% twbs_form_for @grid, url: '' do |form| %>
    <% f = form.dup %>
  <% end %>

  <div id="items" style="position: relative">

    <!-- <div> -->

      <div id="items-progress"> </div>

      <% if @items.num_pages == 0 %>
        <%= alert 'warning', false do %> 
          Не найдено ни одной строки соответствующей данному условию.
        <% end %>
      <% elsif @items.num_pages > 1 && @grid.page.to_i > @items.num_pages %>
        <%= alert 'warning', false do  %>
          Вы находитесь на странице, которая больше доступных,
          <%= alert_link_to "хотите перейти на первую страницу?", smart_route({:postfix => [jaba2]}, jaba.merge(:page => 1)) %>
        <% end %>
      <% end %>

      <%#= hidden_field_tag 'grid[per_page]', @grid.per_page %>

      <%= f.hidden_field :sort_column %>
      <%= f.hidden_field :sort_direction %>
      <%= f.hidden_field :page %>

      <div id="grid-modal-columns-holder"></div>
      <div id="grid-modal-filters-holder"></div>

      <div class="table-responsive">

        <table class="table table-hover">

          <thead>
            <tr>
              <% visible_columns.each do |column_name| %>
                <th style="white-space: nowrap">
                  <%= sortable(column_name, truncate(@resource_class.human_attribute_name(column_name), :length => 10, :omission => '.'), data: { toggle: "tooltip" }, title: @resource_class.human_attribute_name(column_name), rel: 'tooltip') %>
                  <% css_class = @grid.instance_variable_get("@filter_enabled_#{column_name}") ? "text-warning" : "" %>
                  <%= link_to url_for(:action => :filters, :column_name => column_name, :primary_key => params[:primary_key]), id: "filter_#{column_name}", :remote => true, :class => css_class do %>
                    <%= icon 'filter' %>
                  <% end %>
                </th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <%# render partial: 'grid_item', collection: @items, as: :item %>
              <%= grid_row item %>
            <% end %>
          </tbody>

        </table>

      </div>

    <!-- </div> -->

  </div>
