<% f = nil %>
<% twbs_form_for @grid, url: '' do |form| %>
  <% f = form.dup %>
<% end %>

<%= modal id: 'columns' do |modal| %>

  <%= modal.header do |header| %>
    <%= header.close %>
    <%= header.title { "Отображаемые столбцы" } %>
  <% end %>

  <%= modal.body do %>
    <%# WTF IS THIS?! HOW TO SPLIT IT IN ONE LINE?!!! TODO %>
    <% grid_size = available_columns.to_a %>
    <% left_grid = available_columns.to_a[ 0, ( grid_size.size / 2.0 ).round ] %>
    <% right_grid = available_columns.to_a - left_grid %>
    <% full_grid = [left_grid, right_grid] %>

    <div class="row">
      <% full_grid.each do |chunks| %>
        <div class="col-xs-6">
          <% chunks.each do |column_name, column_settings| %>
            <%= f.twbs_check_box :"visible_#{column_name}", label: @resource_class.human_attribute_name(column_name) %>
          <% end %>
        </div>
      <% end %>
    </div>

  <% end %>

  <%= modal.footer do |footer| %>
    <input class="btn btn-primary btn-lg" name="columns" type="submit" value="Сохранить" />
    &nbsp;&nbsp;&nbsp;или&nbsp;&nbsp;&nbsp;
    <%= footer.close %>
  <% end %>

<% end %>


