<% f = nil %>
<% twbs_form_for @grid, url: '' do |form| %>
  <% f = form.dup %>
<% end %>

<%# visible_columns.each do |column_name| %>

  <% column_name = params[:column_name] %>

  <%= modal id: "filter_#{column_name}" do |modal| %>

    <%= modal.header do |header| %>
      <%= header.close %>
      <%= header.title { "Фильтр для: #{@resource_class.human_attribute_name(column_name)}" } %>
    <% end %>

    <%= modal.body do %>
      <%- case @grid_class::COLUMNS[column_name][:type] %>
      <%- when :brand %>
        <%# TODO удалить потом %>
        <% raise 'brand тип удален в пользу кешированного значения' %>
      <%- when :catalog_number %>
        <%= f.twbs_text_field :"filter_#{column_name}_like" %>
      <%- when :string %>
        <%= f.twbs_text_field :"filter_#{column_name}_like" %>
      <%- when :single_integer %>
        <%= f.twbs_text_field :"filter_#{column_name}_single_integer" %>
      <%- when :number %>
        <%= f.twbs_text_field :"filter_#{column_name}_from" %>
        <%= f.twbs_text_field :"filter_#{column_name}_to" %>
      <%- when :boolean %>
        <%= f.twbs_collection_radio_buttons :"filter_#{column_name}_boolean", [['1', 'Да'], ['0', 'Нет'], ['', 'Все']], :first, :last, variation: :vertical %>
      <%- when :checkbox %>
        <%= f.twbs_collection_radio_buttons :"filter_#{column_name}_checkbox", [['1', 'Да'], ['0', 'Нет'], ['', 'Все']], :first, :last, variation: :vertical %>
      <%- when :set %>
        <%= f.twbs_collection_select "filter_#{column_name}_set", @grid_class::COLUMNS[column_name][:set], :last, :first, { hint: "Зажмите Ctrl чтобы выбрать несколько одновременно" }, multiple: true %>
      <%- when :belongs_to %>
        <%= f.twbs_collection_select "filter_#{column_name}_belongs_to", @grid_class::COLUMNS[column_name][:belongs_to].all, :id, :to_label, { hint: "Зажмите Ctrl чтобы выбрать несколько одновременно" }, { :multiple => true } %>
      <%- when :date %>
        <div id="sandbox-container">
          <%= f.twbs_text_field "filter_#{column_name}_from" %>
          <%= f.twbs_text_field "filter_#{column_name}_to" %>
        </div>
        <script>
          $('#sandbox-container input').pickadate({
            container: 'body',
            format: 'dd.mm.yy',
            formatSubmit: undefined,
            hiddenPrefix: undefined,
            hiddenPrefix: '',
            hiddenSuffix: '',
          })
        </script>
        <%# f.twbs_date_select "filter_#{column_name}_from", include_blank: true %>
        <%# f.twbs_date_select "filter_#{column_name}_to", include_blank: true %>
      <% end %>
    <% end %>

    <%= modal.footer do |footer| %>
      <%= footer.twbs_submit 'Применить фильтр', name:'filters' %>
    <% end %>

  <% end %>

<%# end %>
