<div class="bottom-space hide-empty"><%= paginate @spare_infos %></div>

<% if params[:page].to_i > 1 %>
  <% @meta_title += ", страница #{params[:page]}" %>
<% end %>

<%= content_for :head do %>
  <%= rel_next_prev_link_tags @spare_infos %>
<% end %>

<%= yield %>

<div class="top-space bottom-space hide-empty"><%= paginate @spare_infos %></div>
