<% if false %>
<div class="top-space bottom-space">
  <%= paginate @spare_infos %>
</div>
<% end %>

<%= content_for :head do %>
  <%= rel_next_prev_link_tags @spare_infos %>
<% end %>

<%= yield %>

<div class="top-space bottom-space">
  <%= paginate @spare_infos %>
</div>
