<%= f.form_group method do %>

  <%= f.control_label(method, label: extra[:label], asterisk: extra[:asterisk]) %>

  <%= input_group do |ig| %>

    <%= ig.btn do %>

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" style="border-bottom-right-radius: 0; border-top-right-radius: 0">
          <%= f.check_box :mobile, rel: 'checkbox checkbox-mobile' %> Мобильный
        </label>
      </div>

    <% end %>

    <%= f.text_field method, class: 'form-control', rel: 'mobile-mask' %>

  <% end %>

  <%= f.error method %>

  <%= f.hint(method, hint: extra[:hint]) %>

<% end %>
