<% css_style = "border-bottom-right-radius: 0; border-top-right-radius: 0" %>

<%= f.form_group method do %>

  <%= f.control_label(extra[:label] || method, asterisk: extra[:asterisk]) %>

  <%= a2 do %>

    <div class="input-group">

      <span class="input-group-btn">

        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default" style="<%= css_style %>">
            <%= f.check_box :mobile, rel: 'checkbox checkbox-mobile' %> Мобильный
          </label>
        </div>

      </span><!-- /input-group-btn -->

      <%= f.text_field method, class: 'form-control', rel: 'mobile-mask' %>

    </div><!-- /input-group -->

    <%= f.error method %>
    <%= f.hint method %>

  <% end %>

<% end %>
