<%= f.form_group method do %>

  <%= f.label method, class: "col-lg-2 col-md-3 col-sm-3 control-label" %>

  <div class="col-lg-6 col-md-7 col-sm-8">
    <%= f.collection_radio_buttons method, collection, value_method, text_method, options, html_options do |ch| %>
      <div class="radio">
        <%= ch.label {ch.radio_button + ch.text} %>
      </div>
    <% end %>
    <%= f.error method %>
  </div>

<% end %>
