<p class="text-center bottom-space">
  <%= link_to "/deliveries", class: 'text-danger' do %>
    <%= icon 'warning fa-3x bottom-space-sm' %>
    <br />
    <strong>Внимание! На сайте ведется реконструкция, заказы временно не принимаются</strong>
  <% end %>
</p>

<br />

<p class="text-center bottom-space">
  <%= link_to "/deliveries" do %>
    <%= icon 'building-o fa-3x bottom-space-sm' %>
    <br />
    <strong>2 пункта выдачи, доставка по Москве и по всей России</strong>
  <% end %>
</p>

<hr />

<p class="text-center bottom-space">
  <%= link_to new_user_payment_path do %>
    <%= icon 'rub fa-3x bottom-space-sm' %>
    <br />
    <strong>Все популярные способы оплаты</strong>
  <% end %>
</p>

<hr />

<%= javascript_tag do %>
  $(document).on('click', '#talk-button-show-2', function(){
    $('#talk-button-show-inside').click();
    return false;
  });
<% end %>

<p class="text-center bottom-space">
  <%= link_to '#', id: 'talk-button-show-2' do %>
    <%= icon 'users fa-3x bottom-space-sm' %>
    <br />
    <strong>Мгновенная служба поддержки</strong>
  <% end %>
</p>

<hr />

<p class="text-center bottom-space">
  <%= link_to '#' do %>
    <%= icon 'gift fa-3x bottom-space-sm' %>
    <br />
    <strong>Спецпредложение для жителей Северного Административного Округа г. Москвы!</strong>
  <% end %>
</p>
