<p class="text-center bottom-space">
  <%= link_to "/deliveries" do %>
    <%= icon 'building-o fa-3x bottom-space-sm' %>
    <br />
    <strong>Магазины в Москве, доставка по городу и всей России</strong>
  <% end %>
</p>

<hr />

<p class="text-center bottom-space">
  <%= link_to new_user_payment_path do %>
    <%= icon 'rub fa-3x bottom-space-sm' %>
    <br />
    <strong>Все популярные способы оплаты</strong>
  <% end %>
</p>

<hr />

<p class="text-center bottom-space">
  <%= link_to '#', class: 'talk-show' do %>
    <%= icon 'users fa-3x bottom-space-sm' %>
    <br />
    <strong>Онлайн служба поддержки</strong>
  <% end %>
</p>
