<% confirm = capture do %>

    <% confirmed_any = [] %>

    <% current_user.profiles.each do |profile| %>

      <% profile.phones.mobile.each do |phone| %>
        <% if !phone.confirmed? && phone.persisted? %>
          <div>
            Пожалуйста, подтвердите номер мобильного телефона
            <%= alert_link_to phone.to_label, view_user_confirm_phone_path(phone, return_path: request.fullpath), class: 'confirm-link confirm-phone' %>
            <!-- чтобы мы были уверены, что вы получаете от нас SMS.  -->
          </div>
        <% elsif phone.confirmed? && phone.persisted? %>
          <% confirmed_any << 'phone' %>
        <% end %>
      <% end %>

      <% profile.emails.each do |email| %>
        <% if !email.confirmed? && email.persisted? %>
          <div>
            Пожалуйста, подтвердите e-mail адрес 
            <%= alert_link_to email.to_label, view_user_confirm_email_path(email, return_path: request.fullpath), class: 'confirm-link confirm-email' %>
            <!-- чтобы мы были уверены, что вы получаете от нас письма. -->
          </div>
        <% elsif email.confirmed? && email.persisted? %>
          <% confirmed_any << 'email' %>
        <% end %>

      <% end %>

    <% end %>

    <% if confirmed_any.any? && current_user.role == 'guest' %>
      Отлично!
      <%= alert_link_to "Придумайте себе пароль", edit_register_path(return_path: request.fullpath, with: confirmed_any.first) %>
      чтобы завершить регистрацию и иметь возможность входить с других компьютеров.
    <% end %>

<% end %>








<% if  @somebody %>

  <% pay = capture do %>

    <%
      #@current_debit = @somebody.account.debit
      #current_credit = @somebody.account.credit

      #after_credit = (current_credit + @somebody.products.where(status:'inorder').inject(0){|sum, item| sum += item.sell_cost * item.quantity_ordered}).round(2)
      #@after_debit = (current_credit * @somebody.prepayment / 100 + @somebody.products.where(status:'inorder').inject(0){|sum, item| sum += item.sell_cost * item.quantity_ordered} * @somebody.prepayment / 100).round(2)

      # TODO Это вакханалия. Переделать с использованием кеширования на уровне заказа(?)
      @amount = (@somebody.products.active.summa) + (@somebody.products.where(status:'inorder')).summa - @somebody.account.debit
      #
      #@after_debit_magic = 
      #  ( (@somebody.products.active.includes(:order => :delivery).where(:deliveries => {:full_prepayment_required => true}).summa) + 
      #  (@somebody.products.active.includes(:order => :delivery).where(:deliveries => {:full_prepayment_required => false}).summa * @somebody.prepayment / 100) +
      #  (Product.includes(:order => :delivery).where(:deliveries => {:full_prepayment_required => true}).where("products.id IN (#{@items.map{|item| item.id}.join(',')})").summa) +
      #  (Product.includes(:order => :delivery).where(:deliveries => {:full_prepayment_required => false}).where("products.id IN (#{@items.map{|item| item.id}.join(',')})").summa * @somebody.prepayment / 100)).round(2)
    %>

    <% if @amount.to_i > 0 && @somebody.orders.where(phantom: false).count > 0%>
      <strong>Внимание!</strong> Для запуска в работу 
      заказанных товаров
      <%# alert_link_to "заказанных товаров", smart_route({:prefix => [:status], :postfix => [:products]}, :status => 'inorder', :user_id => @somebody) %>
      необходимо 
      <% amount = @amount.to_i %>
      <% if public_zone? %>
        <% pay_path = new_user_payment_path(payment: {amount:amount}) %>
      <% else %>
        <% pay_path = polymorphic_path([:new, *jaba3, :cashes], cash:{debit:amount}) %>
      <% end %>
      <%= alert_link_to "внести предоплату в размере #{number_to_currency(amount)}", pay_path %>
    <% end %>

  <% end %>

<% end %>


<% if confirm.present? || pay.present? %>


      <%= alert 'warning', false, class: 'clearfix', id: 'right_hand_alert', style: 'margin-bottom: 0px' do %>

        <div class="table bottom-space-none" style="display: table;">
          <ul class="table-row" style="display: table-row">
            <li class="table-cell" style="display: table-cell; vertical-align: middle"><%= icon 'hand-o-right fa-2x pull-left', id: 'right_hand' %></li>
            <li class="table-cell" style="display: table-cell; vertical-align: middle; width: 100%; padding-left: 10px">

              <% if pay.present? %>
                <div id="pay-block">
                  <%= pay %>
                </div>
              <% end %>

              <% if confirm.present? %>
                <div id="confirm-block">
                  <%= confirm %>
                </div>
              <% end %>

            </li>
          </ul>
        </div>

        <%# render 'confirm' %>
        <%# render 'pay' %>

      <% end %>



<% end %>

