<div class="text-sm text-success bottom-space-lg top-space-lg">
  <% Deliveries::Place.where(display_marker: true, active: true).each do |dp| %>
    <address>
      <strong><span> <%= link_to('Магазин', deliveries_path) %> </span></strong>
      <br />
      <img style="margin-bottom: 3px;" src="http://www.avz.ru/assets/templates/imgs/mos_metro_logo_16.jpg"> <%= dp.metro %>
      <br />
      <span><%= dp.postal_code %></span>
      <% if dp.postal_code.present? %>
        <br />
      <% end %>
      <span><%= dp.street_address %></span>
      <% if dp.street_address.present? %>
        <br />
      <% end %>
      <% (1..5).each do |n| %>
        <% if dp.instance_eval("phone#{n}").present? %>
          <%= icon 'phone-square' %>&nbsp;&nbsp;
          <span><%= dp.instance_eval("phone#{n}") %></span><br />
        <% end %>
      <% end %>
      <% (1..3).each do |n| %>
        <% if dp.instance_eval("email#{n}").present? %>
          <%= icon 'envelope' %>&nbsp;&nbsp;
          <a href="mailto:<%= dp.instance_eval("email#{n}") %>"><span style="color: #DDD"><%= dp.instance_eval("email#{n}") %></span></a><br />
        <% end %>
      <% end %>
    </address>
  <% end %>

  <address class="bottom-space-xs">
    <strong><span><a href="/service">Станция тех. обсл.</a></span></strong>
    <br />
    <img style="margin-bottom: 3px;" src="http://www.avz.ru/assets/templates/imgs/mos_metro_logo_16.jpg"> Аэропорт
    <br />
    <span>ул. Черняховского 19с3</span>
    <br />
    <%= icon 'phone-square' %>&nbsp;&nbsp;
    <span>+7 (495) 517-67-20</span>
  </address>
</div>
