<% if replacements.any?{|key, value| value.any?} %>

  <h3 class="top-space-lg">Замены и аналоги</h3>
  <% replacements.each do |key, value| %>
    <% case key %>
    <% when :new_num_to %>
      <div class="new_num_to">
        <% if value.any? %>
          <h4>Просматриваемый вами номер был заменен производителем на номер:</h4>
          <% value.each do |spare_info| %>
            <%= link_to spare_info.to_label, polymorphic_path([:new, :user, :product], :catalog_number => spare_info.catalog_number) %>
          <% end  %>
        <% end %>
      </div>
    <% when :new_num_from %>
      <div class="new_num_from">
        <% if value.any? %>
          <h4>Просматриваемый вами номер ранее поставлялся производителем под номером:</h4>
          <% value.each do |spare_info| %>
            <%= link_to spare_info.to_label, polymorphic_path([:new, :user, :product], :catalog_number => spare_info.catalog_number) %>
          <% end  %>
        <% end %>
      </div>
    <% when :same_num_to %>
      <div class="same_num_to">
        <% if value.any? %>
          <h4>Просматриваемый вами номер так же маркируется как:</h4>
          <% value.each do |spare_info| %>
            <%= link_to spare_info.to_label, polymorphic_path([:new, :user, :product], :catalog_number => spare_info.catalog_number) %>
          <% end  %>
        <% end %>
      </div>
    <% when :same_num_from %>
      <div class="same_num_from">
        <% if value.any? %>
          <h4>Просматриваемый вами номер так же маркируется как:</h4>
          <% value.each do |spare_info| %>
            <%= link_to spare_info.to_label, polymorphic_path([:new, :user, :product], :catalog_number => spare_info.catalog_number) %>
          <% end  %>
        <% end %>
      </div>
    <% when :repl_num_from %>
      <div class="repl_num_from">
        <% if value.any? %>
          <h4>Просматриваемый вами номер является заменой для следующих номеров:</h4>
          <% value.each do |spare_info| %>
            <%= link_to spare_info.to_label, polymorphic_path([:new, :user, :product], :catalog_number => spare_info.catalog_number) %>
          <% end  %>
        <% end %>
      </div>
    <% when :repl_num_to %>
      <div class="repl_num_to">
        <% if value.any? %>
          <h4>Просматриваемый вами номер можно заменить следующими номерами:</h4>
          <% value.each do |spare_info| %>
            <%= link_to spare_info.to_label, polymorphic_path([:new, :user, :product], :catalog_number => spare_info.catalog_number) %>
          <% end  %>
        <% end %>
      </div>
    <% when :part_num_to %>
      <div class="part_num_to">
        <% if value.any? %>
          <h4>Просматриваемый вами товар входит в состав следующих товаров:</h4>
          <% value.each do |spare_info| %>
            <%= link_to spare_info.to_label, polymorphic_path([:new, :user, :product], :catalog_number => spare_info.catalog_number) %>
          <% end  %>
        <% end %>
      </div>
    <% when :part_num_from %>
      <div class="part_num_from">
        <% if value.any? %>
          <h4>Просматриваемый вами товар содержит следующие товары:</h4>
          <% value.each do |spare_info| %>
            <%= link_to spare_info.to_label, polymorphic_path([:new, :user, :product], :catalog_number => spare_info.catalog_number) %>
          <% end  %>
        <% end %>
      </div>
    <% end %>
  <% end %>

<% end %>
