<div class="image bottom-space-lg top-space">

  <% if info && info.send("image1").present? %>
    <div id="gallery-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <% if info.send("image2").present? %>
        <ol class="carousel-indicators">
          <% (1..8).each do |n| %>
            <% if info.send("image#{n}").present? %>
              <li data-target="#gallery-carousel" data-slide-to="<%= n-1 %>" class="<%= 'active' if n-1 == 0 %>"></li>
            <% end %>
          <% end %>
        </ol>
      <% end %>
      <!-- Wrapper for slides -->
      <div class="carousel-inner gallery" role="listbox">
        <% (1..8).each do |n| %>
          <% if info.send("image#{n}").present? %>
            <div class="item <%= 'active' if n-1 == 0 %>">
              <%= link_to info.send("image#{n}").url do %>
                <%= image_tag info.send("image#{n}").fill_thumb.url, alt: "#{info.to_label}", class: 'text-center' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= image_tag 'no_photo.jpg', alt: "Изображение отстутствует" %>
  <% end %>

</div>
