<div class="image bottom-space-lg">

  <% if false %><%= link_to manufacturer, brand_parts_path(mf_scope[:brand]) %><% end %>


  <div class="brands2" style="position: relative">
    <%= brands_decorator lambda{|brand| brand_path brand}, mf_scope[:brand], lambda{|brand| ''} %>

  <% if mf_scope[:info] && mf_scope[:info].send("image1").present? %>
    <div id="gallery-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <% if mf_scope[:info].send("image2").present? %>
        <ol class="carousel-indicators">
          <% (1..8).each do |n| %>
            <% if mf_scope[:info].send("image#{n}").present? %>
              <li data-target="#gallery-carousel" data-slide-to="<%= n-1 %>" class="<%= 'active' if n-1 == 0 %>"></li>
            <% end %>
          <% end %>
        </ol>
      <% end %>
      <!-- Wrapper for slides -->
      <div class="carousel-inner gallery" role="listbox">
        <% (1..8).each do |n| %>
          <% if mf_scope[:info].send("image#{n}").present? %>
            <div class="item <%= 'active' if n-1 == 0 %>">
              <%= link_to mf_scope[:info].send("image#{n}").url do %>
                <%= image_tag mf_scope[:info].send("image#{n}").fill_thumb.url, alt: "#{mf_scope[:info].to_label}", class: 'text-center' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= image_tag 'no_photo.jpg', alt: "Изображение отстутствует" %>
  <% end %>
  </div>

</div>
