<% if info && (applicabilities = info.spare_applicabilities.includes(:brand, :model, :generation, :modification).order("brands.name", "models.name", "generations.name", "modifications.name")).exists? %>
  <h3 class="top-space-lg">Применимость</h3>
  <div class="table-responsive">
    <table class="table table-striped bottom-space-none">
      <thead>
        <tr>
          <th>Производитель</th>
          <th>Модель</th>
          <th>Поколение</th>
          <th>Модификация</th>
          <% if current_user && current_user.seller? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% applicabilities.each do |spare_applicability| %>
          <tr>
            <td><%= link_to spare_applicability.brand.name, catalogs_brand_path(spare_applicability.brand) if spare_applicability.brand %></td>
            <td><%= link_to spare_applicability.model.name, catalogs_model_path(spare_applicability.model) if spare_applicability.model %></td>
            <td><%= spare_applicability.generation.name if spare_applicability.generation %></td>
            <td><%= spare_applicability.modification.name if spare_applicability.modification %></td>
            <% if current_user && current_user.seller? %>
              <td>
                <%= link_to edit_admin_spare_applicability_path(spare_applicability, return_path: request.fullpath), class: 'btn btn-warning' do %>
                  <%= icon 'edit' %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
