<hr />

<h3> Информация о покупателе </h3>
<ul class="list-unstyled text-muted bottom-space-lg" style="word-wrap: break-word">
  <% if @somebody.ipgeobase_name? %><li>Населенный пункт: <%= @somebody.ipgeobase_name %></li><% end %>
  <% if @somebody.ipgeobase_names_depth_cache? %><li>Регион: <%= @somebody.ipgeobase_names_depth_cache %></li><% end %>
  <% if @somebody.user_agent? %><li>Версия браузера: <%= @somebody.user_agent %></li><% end %>
  <% if @somebody.accept_language? %><li>Язы браузера: <%= @somebody.accept_language %></li><% end %>
  <%# TODO time zone %>
  <% if @somebody.remote_ip? %><li>IP адрес: <%= @somebody.remote_ip %></li><% end %>
  <% if @somebody.location? %><li>Текущее расположение: <a href="<%= @somebody.location %>"><%= @somebody.location %></a></li><% end %>
  <% if @somebody.referrer? %><li>Пришел со страницы: <a href="<%= @somebody.referrer %>"><%= @somebody.referrer %></a></li><% end %>
  <% if @somebody.first_referrer? %><li>Откуда пришел впервые: <a href="<%= @somebody.first_referrer %>"><%= @somebody.first_referrer %></a></li><% end %>
</ul>

