<%= link_to "#", remote: true, class: 'btn btn-primary right-space-sm', style: 'border: #293d49; color: white' do %>
  <%= icon 'comments' %>
  Написать
<% end %>

<div class="clearfix visible-xs bottom-space"></div>


<%= call_button '#', class: 'btn btn-primary right-space-sm', style: 'border: #293d49; color: white' do %>
  <%= icon 'phone' %>
  Позвонить
<% end %>

<div class="clearfix visible-xs bottom-space"></div>

<a href="mailto:info@avtorif.ru" class="btn btn-primary right-space-sm" style="border: #293d49; color: white">
  <%= icon 'envelope' %>
  info@avtorif.ru
</a>

<div class="clearfix visible-xs bottom-space"></div>
