<%= f.form_group method do %>

  <%= f.control_label(extra[:label] || method, asterisk: extra[:asterisk]) %>

  <%= a2 do %>

    <div class="btn-group" data-toggle="buttons">
      <%= f.collection_radio_buttons method, collection, value_method, text_method, options, html_options do |ch| %>
        <%= ch.label(class: 'btn btn-default') do %>
          <%= ch.radio_button(:rel => "radio", :type => 'radio') + ch.text %>
        <% end %>
      <% end %>
    </div>
    <%= f.error method %>
    <%= f.hint method %>

  <% end %>

<% end %>

