<%= page do |p| %>
  <%= p.breadcrumb do %>
  <% end %>

  <%= p.title do %>
    <% @meta_title = "Внутренняя ошибка сервера. Ошибка 500" %>
    <%= page_header %>
  <% end %>

  <%= p.content do %>
    Извините, на сервере произошла непредвиденная ошибка. Сообщите нам если считаете, что эта ошибка не должна была возникнуть или попробуйте перейти на главную страницу и попробовать еще раз.

    <div class="top-space"> <%= debug params %> </div>
    <h3 class="top-space"> <%= @exception.to_s.force_encoding("UTF-8") %> </h4>

  <% end %>

  <%= render 'exception' %>

<% end %>
