<% @item = @resource_class.find(params[:id]) %>
<%= some(@item) %> 
  <ul class="list-unstyled">
    <%= render 'info_custom' %>
    <li> <%= link_to 'Просмотр', url_for(:action => :show, :return_path => params[:return_path]) %> </li>
    <%# if @item.class == Product && admin_zone? %>
    <% begin %>
      <li><%= render 'info_edit' %></li>
    <% rescue %>
    <% end %>
    <%# end %>
    <li><%= render 'info_destroy' %></li>
  </ul>
