<%= somebody_tabs do %>

  <%= page_header %>
  <%# title_edit %>

  <%= render 'searches/search' %>

  <%= row do %>
    <div class="col-md-8">
      <%= render 'form' %>
    </div>
  <% end %>

<% end %>
