<% if @resource.product.present? && !@resource.persisted? %>
  <%= alert 'info' do %>
    Позиция будет отражена как перезаказанная с <%= @resource.product.to_label %>
  <% end %>
<% end %>


<% @preset_catalog_number = @resource.catalog_number %>

<% if @resource.persisted? %>
  <%= alert 'info' do %>
    Редактирование позиции <%= @resource.to_label %>
  <% end %>
<% end %>


<%= row do %>
  <div class="col-lg-12">
    <div class="well">
      <div class="clearfix">
        <%= render 'common_search_form' %>
        <% if admin_zone? %>
          <div class="navbar-form">
            <a data-toggle="modal" href="#modal_form" class="btn btn-warning">Форма</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= twbs_form_for @resource, url: polymorphic_path([*jaba3, @resource], :return_path => params[:return_path], :skip => true, :modal => true), class: 'product' do |f| %>

  <%= render 'modal_form', f: f %>

<% end %>
