<% characteristics = capture do %>
  <%= render 'spare_info_chars', info: mf_scope[:info] %>
  <%= render 'spare_info_hstore', info: mf_scope[:info] %>
  <%= render 'spare_info_files', info: mf_scope[:info] %>
  <%= render 'spare_info_content', info: mf_scope[:info] %>
  <% if mf_scope[:titles].any? %>
    <h3 class="top-space-lg">Названия запчасти у поставщиков</h3>
    <div itemprop="description">
      <p class="break-word"><%= mf_scope[:titles].keys.map{|val| val}.join(', ') %></p>
    <% end %>
  </div>
  <% if mf_scope[:weights].size > 0 %>
    <h3>Сколько весит</h3>
    Масса: <%= raw mf_scope[:weights].keys.map{|val| h("#{val} кг.")}.join(', ') %>
  <% end %>
<% end %>

<% phrases = capture do %>
  <%= render 'spare_info_phrases', phrases: mf_scope[:phrases] %>
<% end %>

<% applicabilities = capture do %>
  <%= render 'spare_info_applicabilities', info: mf_scope[:info] %>
<% end %>

<div class="top-space">

  <!-- Nav tabs -->
  <ul class="nav nav-pills">
    <% if characteristics.present? %>
      <li class="active"><a href="#characteristics-<%= brand_css_id(mf_scope[:brand]) %>" data-toggle="tab">Характеристики</a></li>
    <% end %>
    <% if applicabilities.present? %>
      <li><a href="#applicabilities-<%= brand_css_id(mf_scope[:brand]) %>" data-toggle="tab">Применимость</a></li>
    <% end %>
    <% if phrases.present? %>
      <li><a href="#phrases-<%= brand_css_id(mf_scope[:brand]) %>" data-toggle="tab">Индекс популярности</a></li>
    <% end %>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <% if characteristics.present? %>
      <div class="tab-pane active" id="characteristics-<%= brand_css_id(mf_scope[:brand]) %>">
        <%= characteristics %>
      </div>
    <% end %>
    <% if applicabilities.present? %>
      <div class="tab-pane" id="applicabilities-<%= brand_css_id(mf_scope[:brand]) %>">
        <%= applicabilities %>
      </div>
    <% end %>
    <% if phrases.present? %>
      <div class="tab-pane" id="phrases-<%= brand_css_id(mf_scope[:brand]) %>">
        <%= phrases %>
      </div>
    <% end %>
  </div>
</div>
