<% offer = mf_scope[:offers].first %>

<div class="col-lg-15">

<div class="hidden" itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
  <meta itemprop="priceCurrency" content="RUB" />
  <span itemprop="offerCount"><%= mf_scope[:offers].size %></span>
  <span itemprop="lowPrice"><%= number_to_currency(mf_scope[:min_cost]) %></span>
  <span itemprop="highPrice"><%= number_to_currency(mf_scope[:max_cost]) %></span>
</div>

<%= simple_form_for @resource, url: [:user, @resource], remote: true, html: {id: "form-"+product_css_id(catalog_number, mf_scope[:brand])} do |f| %>

  <div class="bottom-space-lg">

    <% Deliveries::Place.random_list.each_with_index do |delivery_place, index| %>

      <% presence = mf_scope[:warehouses].find{|key, value| key == delivery_place.id}.try(:[], 1) %>
      <% replacements_min_cost = 10000000 %>
      <% replacements = Hash[mf_scope[:replacements].map do |replacement_type, values| %>
        <% res = {} %>
        <% values.each do |spare_info, warehouses| %>
          <% if warehouse = warehouses.find{|warehouse| warehouse.place_id == delivery_place.id} %>
            <% replacements_min_cost = [replacements_min_cost, warehouse.price].min %>
            <% res[spare_info] = [warehouse] %>
          <% end %>
        <% end %>
        <% [replacement_type, res] %>
      <% end] %>
      <% replacements_count = replacements.sum{|replacement_type, replacement| replacement.values.count} %>

      <!-- Replacements -->
      <% if presence.blank? && replacements_count > 0 %>
        <%= modal id: dom_id(delivery_place, :replacements), class: 'fade' do |m| %>
          <%= m.header do |h| %>
            <%= h.close %>
            <%= h.title do %>
              Замены для <%= catalog_number %> (<%= manufacturer %>) в наличии на <%= image_tag 'metro.png', class: 'metro' %> <%= delivery_place.metro %>
            <% end %>
          <% end %>
          <%= m.body do %>
            <%= render 'spare_info_replacements', replacements: replacements %>
          <% end %>
        <% end %>
      <% end %>


      <%= div_for(delivery_place) do %>
        <div class="radio <%= 'disabled' if presence.blank? %>">
          <label>
            <% if presence.present? %>

              <script type="text/javascript">
                window.onload = function() {
                  if (window.yaCounter14980414 != null) {
                    window.yaCounter14980414.reachGoal('nalichie', { shop: '<%= delivery_place.to_label %>' } );
                  }
                }
              </script>

              <input type="radio" id="<%= dom_id(delivery_place, :offer) %>" name="offer" value="<%= serialize_product(
                catalog_number: catalog_number,
                brand_id: mf_scope[:brand].id,
                deliveries_place_id: delivery_place.id,
                quantity_ordered: 1,
                sell_cost: presence.price,
                title: mf_scope[:title],
                titles: mf_scope[:titles].keys,
                buy_cost: presence.price,
                quantity_available: presence.count,
                probability: 100,
                min_days: 0,
                max_days: 0) %>">
              <h4 class="top-space-none bottom-space-none">
                <%= image_tag 'metro.png', class: 'metro' %> <%= delivery_place.metro %>,
                <%= number_to_currency(presence.price, precision: 0) %> в наличии <%= presence.count %> шт.
                <br />
                <small><%= link_to 'контакты', faq_path(delivery_place.faq_id), class: 'dashed', :"window-dialog" => faq_path(delivery_place.faq_id) %></small>
              </h4>
            <% elsif replacements_count > 0 %>
              <input type="radio" name="offer" value="" disabled>
              <h4 class="top-space-none bottom-space-none">
                <%= image_tag 'metro.png', class: 'metro' %>
                <a href="#" class="text-default" data-toggle="modal" data-target="#<%= dom_id(delivery_place, :replacements) %>"><%= delivery_place.metro %>,
                  в наличии <%= I18n.translate :replacements, count: replacements_count %>, от <%= number_to_currency(replacements_min_cost, precision: 0) %></a>
                <br />
                <small><%= link_to 'контакты', faq_path(delivery_place.faq_id), class: 'dashed', :"window-dialog" => faq_path(delivery_place.faq_id) %></small>
              </h4>
            <% else %>
              <input type="radio" name="offer" value="" disabled>
              <h4 class="top-space-none bottom-space-none text-muted">
                <%= image_tag 'metro.png', class: 'metro' %> <%= delivery_place.metro %>,
                нет в наличии
                <br />
                <small><%= link_to 'контакты', faq_path(delivery_place.faq_id), class: 'dashed', :"window-dialog" => faq_path(delivery_place.faq_id) %></small>
              </h4>
            <% end %>
          </label>
        </div>
        <hr />
      <% end %>
    <% end %>

    <div class="deliveries_place" id="deliveries_place">
      <div class="radio <%= 'disabled' if offer.blank? %>">
        <label>
          <input type="radio" id="offer_deliveries_place" name="offer" value="<%= serialize_product(
            catalog_number: catalog_number,
            brand_id: mf_scope[:brand].id,
            deliveries_place_id: nil,
            quantity_ordered: 1,
            sell_cost: offer[:retail_cost],
            title: mf_scope[:title],
            titles: mf_scope[:titles].keys,
            buy_cost: offer[:income_cost],
            quantity_available: offer[:count],
            probability: offer[:probability],
            min_days: offer[:min_days],
            max_days: offer[:max_days]) %>" <%= 'disabled' if offer.blank? %>>
          <h4 class="top-space-none bottom-space-none <%= offer.blank? ? 'text-muted' : '' %>">
            <% if offer.present? %>
              Под заказ,
              <%= number_to_currency(offer[:retail_cost], precision: 0) %>
              доставка
              <%= l(Date.current + offer[:min_days].to_i.days+1, format: :short) %>
              <br />
              <small><%= link_to 'контакты', faq_path(1123), class: 'dashed', :"window-dialog" => faq_path(1123) %></small>&nbsp;
              <small><%= link_to 'стоимость доставки', deliveries_path, class: 'dashed', :"window-dialog" => deliveries_path %></small>
              <% if current_user && current_user.admin? %>
                <p><small class="text-muted"><%= offer[:tech] %> </small></p>
              <% end %>
            <% else %>
              доставка невозможна
            <% end %>
          </h4>
        </label>
      </div>
    </div>

  </div>

  <div style="margin-left: 50px">
    <% if current_user && current_user.products.find_by(catalog_number: catalog_number, brand: mf_scope[:brand], status: 'incart') %>
      <h4 id="<%= "incart-" + product_css_id(catalog_number, mf_scope[:brand]) %>">
        Товар уже находится в корзине, <%= link_to 'перейти в корзину', user_cart_index_path %>
      </h4>
    <% else %>
      <%= f.button :button, id: "submit-#{product_css_id(catalog_number, mf_scope[:brand])}", name: mf_scope[:brand].to_label.parameterize, class: 'btn btn-success' do %>
        <%= icon 'shopping-cart' %>
        Добавить в корзину
      <% end %>
    <% end %>

    <%= link_to "#", class: 'talk-show btn btn-primary' do %>
      <%= icon 'comments' %>
      Задать вопрос
    <% end %>

  </div>

  <br />
  <br />

<% end %>
</div>

<% content_for :discount, flush: true do %>

  <%= row do %>
  <div class="col-md-24">
    <% discount = offer[:retail_cost] - offer[:income_cost] - (offer[:retail_cost] * 0.04) %>

    <%= panel 'info' do |p| %>
      <%= p.body do %>
        <h4 class="top-space-none bottom-space-md">Узнайте как купить за <span class="badge left-space-xs"> <%= number_to_currency(offer[:retail_cost] - discount, precision: 0) %>* </span></h4>
        <span class="fa-stack text-info">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x" style="color: white">1</i>
        </span>

        <span class="left-space-xs">Сделайте немного фотографий, напишите о процессе установки или использования товара и мы вернем вам на телефон или банковску карту <%= number_to_currency( discount / 2, precision: 0) %> <%= link_to 'подробнее...', faq_path(1074), class: 'dashed', :"window-dialog" => faq_path(1074) %></span>

        <br />

        <span class="fa-stack text-info">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x" style="color: white">2</i>
        </span>

        <span class="left-space-xs">
          Лайкните нас в социальных сетях и получите скидку <%= number_to_currency(discount/2/6, precision: 0) %> за каждый лайк (скидка суммируется) <%= link_to 'подробнее...', faq_path(1122), class: 'dashed', :"window-dialog" => faq_path(1122) %>
          <br />
          <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
          <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"></div>
        </span>
      <% end %>
      <%= p.footer style: 'background: #FAFAFA' do %>
        *Акция распространяется только на заказы, оформленные на доставку
      <% end %>
    <% end %>
  </div>
  <% end %>
<% end %>
