<% if @formatted_data.present? %>

<%= row do %>

  <div class="col-lg-24">
  <%= panel 'primary' do |p| %>
    <%= p.heading do %>
      <%= p.title { 'Замены' } %>
    <% end %>

    <div class="table-responsive">
      <table id="result-prices" class="table table-hover">
        <thead class="hidden-xs">
          <tr>
            <th> <a href="#" rel="tooltip" title="Рейтинг производителя">Рейт.</a> </th>
            <th> <a href="#" rel="tooltip" title="Производитель">Произв.</a> </th>
            <th> <a href="#" rel="tooltip" title="Каталожный номер">Кат.&nbsp;ном.</a> </th>
            <th> <a href="#" rel="tooltip" title="Информация">Инфо</a> </th>
            <th> <a href="#" rel="tooltip" title="Название">Название</a> </th>
            <th> <a href="#" rel="tooltip" title="Дней">Дней</a> </th>
            <th> <a href="#" rel="tooltip" title="Цена">Цена</a> </th>
          </tr>
        </thead>
        <tbody>
          <% @formatted_data.each do |catalog_number, cn_scope| %>
            <% cn_scope.each_with_index do |(manufacturer, mf_scope), i| %>
              <tr data-clickable-object>
                <td> <span class="visible-xs"> Рейтинг производителя: </span> <%= brand_rating mf_scope[:brand] %> </td>
                <td> <span class="visible-xs"> Производитель: </span><%= manufacturer %> </td>
                <td> 
                  <span class="visible-xs"> Каталожный номер: </span>
                  <%= link_to catalog_number, new_user_product_path(:catalog_number => catalog_number, :return_path => params[:return_path], :anchor => manufacturer ), :class => 'search-button', :"data-clickable-href" => '' %>
                </td>

                <td>
                  <span class="visible-xs"> Информация: </span>
                  <% # Если есть хотя бы какая-то информация, то показываем, что есть информация %>
                  <% if mf_scope[:info].present? %>
                    <%= icon 'info-circle fa-lg' %>
                  <% end %>
                </td>
                <td> <span class="visible-xs"> Название: </span> <%= mf_scope[:title] %> </td>
                <td> <span class="visible-xs"> Дней: </span> <%= mf_scope[:min_days]%> - <%= mf_scope[:max_days] %> дн. </td>
                <td> <span class="visible-xs"> Цена: </span> <%= mf_scope[:min_cost] %> - <%= mf_scope[:max_cost] %> руб. </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  </div>

<% end %>
<% end %>
