<div class="tab-content">
  <% @formatted_data.each do |catalog_number, cn_scope| %>
    <% cn_scope.each_with_index do |(manufacturer, mf_scope), i| %>
      <div class="tab-pane fade <%= 'in active' if i==0 %>" id="<%= manufacturer.parameterize %>" itemscope itemtype="http://schema.org/Product">
        <%= container do %>
          <%= row do %>
            <div class="col-sm-16 col-md-17 col-lg-18">
              <div class="well clearfix">
                <%= panel 'info' do |p| %>
                  <%= p.body do %>
                    <div class="col-lg-9">
                      <div class="text-center bottom-space-lg">
                        <small style="display: block">Производитель:</small>
                        <h3 class="top-space-none">
                          <b class="text-danger" itemprop="brand"><%= manufacturer %></b>
                          <% if mf_scope[:manufacturer_origs].size > 0 %>
                            <small style="display: block" class="break-word">(<%= manufacturer_origs(mf_scope) %>)</small>
                          <% end %>
                        </h3>
                        <small style="display: block">Каталожный номер:</small>
                        <h3 class="top-space-none">
                          <b class="text-danger"><%= mf_scope[:keyword] %></b>
                          <% if mf_scope[:catalog_number_origs].size > 0 %>
                            <small style="display: block" class="break-word">(<%= catalog_number_origs(mf_scope) %>)</small>
                          <% end %>
                        </h3>
                      </div>
                      <%= render 'spare_info_images', mf_scope: mf_scope %>
                    </div>
                    <%= render 'prices', mf_scope: mf_scope, catalog_number: catalog_number, manufacturer: manufacturer %>
                  <% end %>
                <% end %>

                <%= content_for :discount %>

                <%= panel 'info' do |p| %>
                  <%= p.body do %>
                    <%= render 'info', mf_scope: mf_scope %>
                  <% end %>
                <% end %>

                <%= render 'manage', mf_scope: mf_scope, catalog_number: catalog_number, manufacturer: manufacturer %>
              </div>
            </div>
            <div class="col-sm-8 col-md-7 col-lg-6">
              <% @q = SpareInfo.search(params[:q]) %>
              <% @spare_catalog = mf_scope[:catalog] %>
              <% if @spare_catalog.opt %>
                <% @opt_class = "Opts::#{@spare_catalog.opt.camelize}".constantize %>
              <% end %>
              <%= render 'opts_search_form' %>

              <div class="brands2">
                <%= brands_decorator lambda{|brand| brand_path brand}, mf_scope[:brand], lambda{|brand| ''} %>
              </div>
              <h4> <%= link_to "Продукция компании #{mf_scope[:brand].to_label}", brand_path(mf_scope[:brand]) %> </h4>

              <% if false %>
                <li><a href="#brand-<%= brand_css_id(mf_scope[:brand]) %>" data-toggle="tab">Производитель</a></li> 
                <% if brand.present? %>
                  <div class="tab-pane" id="brand-<%= brand_css_id(mf_scope[:brand]) %>">
                    <%= brand %>
                  </div>
                <% end %>
              <% end %>

              <% content_for :brand_preview do %>
                <%= brand_preview mf_scope[:brand] %>
              <% end %>

              <% if content_for? :brand_preview %>
                <div class="brand-preview text-justify">
                  <%= brand_preview mf_scope[:brand] %>
                </div>
              <% end %>

              <div class="nowrap top-space-sm bottom-space-lg clearfix">
                <%= brand_rating mf_scope[:brand] %>
              </div>

              <hr />

              <h4> <%= link_to "#{mf_scope[:catalog].name}", category_path(mf_scope[:catalog]) %> </h4>

              <% content_for :spare_catalog_intro do %>
                <%= render 'spare_catalog_intro', catalog: mf_scope[:catalog] %>
              <% end %>

              <% if content_for? :spare_catalog_intro %>
                <div class="spare-catalog-intro">
                  <%= content_for :spare_catalog_intro %>
                </div>
              <% end %>

              <%= link_to "##{manufacturer.parameterize}", class: 'hidden' do %>
                <span itemprop='name'><%= "#{mf_scope[:keyword]} (#{manufacturer})" %></span>
              <% end %>

            </div>
          <% end %>
        <% end %>
      </div> 
    <% end %>
  <% end %>
</div>
