<div id="products">

<%# TODO Удалить с переходом на Bootstrap 4 %>
<div class="icheck">

  <%= page do |p| %>

    <br />

    <%= p.title do %>
      <%= page_header %>
    <% end %>

    <%= p.content do %>
      <%= render 'index' %>
    <% end %>

  <% end %>

<% if @c9.present? %>
  <%= discourse_body %>
<% end %>

<br />

<%= page do |p| %>
  <%= p.title :xs do %>
    <h2 class="bottom-space-lg"> Доставка запчастей по России и Москве </h2>
  <% end %>
  <%= p.content :xs do %>
    <%= render 'deliveries/index' %>
  <% end %>
<% end %>

<br />
<br />

<%= page do |p| %>

  <%= p.title :xs do %>
    <h2 class="bottom-space-lg"> Выполненные заказы </h2>
  <% end %>

  <%= p.content :xs do %>
    <div class="discourse-cooked img-responsive-inside">
      <% @our_works.each do |our_work| %>
        <%== our_work['post'] %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render 'partners_offers' %>

</div>

</div>
