<div id="products">

<%# TODO Удалить с переходом на Bootstrap 4 %>
<div class="icheck">

  <%= page do |p| %>

    <br />

    <%= p.title do %>
      <%= page_header %>
    <% end %>

    <%= p.content do %>
      <%= render 'index' %>
    <% end %>

  <% end %>

  <br>
  <%= render 'partners_offers' %>
  <br>

  <% if @c9.present? %>
    <%= discourse_body %>
  <% end %>

</div>

</div>
