<%= somebody_tabs do %>
  <% @meta_title = "#{Rails.configuration.products_status['post_supplier']['action']}" %>
  <%= page_header %>

  <%= twbs_form_for @ic, url: smart_route({:prefix => [:post_supplier_action], :postfix => [:products]}, jaba) do |f| %>

    <div class="row">
      <div class="col-md-6">
        <%= f.twbs_select(:supplier_id, Supplier.all.collect {|p| [ p.to_label, p.id ]}, {:include_blank => true, :hint => 'Выберите поставщика у которого будет заказан товар'}) %>
      </div>
    </div>

    <%= f.twbs_submit "Заказать" %>

    <%= panel 'default' do |p| %>
      <%= p.heading {'Выбранные товары'} %>
      <%= p.body do %>
        <%= render :partial => 'application/grid' %>
      <% end %>
    <% end %>

  <% end %>

<% end %>
