<% title_show %>
<% @meta_title_small =  @resource.to_label %>

<%= page do |p| %>

  <%= p.breadcrumb do %>
    <%= breadcrumb true do |b| %>
      <%= b.item @meta_title + " " + @meta_title_small %></a></li>
    <% end %>
  <% end %>

  <%= p.title do %>
    <%= title_show %>
  <% end %>

  <%= p.content do %>
    <%= render 'smart_show' %>
  <% end %>

<% end %>
