<div class="bottom-space-lg top-space-lg">

  <% model_class = User %>

  <%
      array = [
        {title: 'Конт. лица', icon: 'user', assoc: 'profile'},
        {title: 'Адреса', icon: 'home', assoc: 'postal_address'},
        {title: 'Автомобили', icon: 'truck', assoc: 'car'},
        {title: 'Компании', icon: 'briefcase', assoc: 'company'} ]
  %>

  <% array.each do |item| %>

    <h4 class="profileable-category">
      <%= link_to smart_route({:postfix => [item[:assoc].pluralize]}, :user_id => @somebody.id) do %>
        <div>
          <%= icon item[:icon] %>
          <%= item[:title] %>
        </div>
      <% end %>
      <%= link_to [:new, *jaba3, item[:assoc]], :class => "btn btn-sm btn-primary profileable-category-add" do %>
        <%= icon 'plus' %>
      <% end %>
    </h4>

    <% @somebody.send(item[:assoc].pluralize).select(&:persisted?).each do |partial| %>
      <div class="profileable-item">
        <%= render :partial => "profileables/shows/#{partial.class.name.underscore}", :locals => {partial.class.name.underscore.to_sym => partial} %>
        <%= render :partial => 'profileables/shows/notes', :locals => {resource: partial} %>
        <%= render :partial => 'profileables/item_controls', :locals => {:resource => partial} %>
      </div>
    <% end %>


  <% end %>

  <h4 class="profileable-category">
    <div>
      <%= icon 'money' %>
      Деньги
    </div>
  </h4>

  <%# В РАБОТЕ %>
  <div class="profileable-item bottom-space-none">
    В работе: <%= number_to_currency @somebody.cached_credit, :precision => 0 %>
    <div class="profileable-item-controls">
      <%# namespace = admin_zone? ? [:admin, @somebody] : [:user] %>
      <%= link_to polymorphic_path([:status, *jaba3, :products], :status => 'active') , class: "btn btn-info btn-sm" do %>
        <%= icon 'info-circle' %>
      <% end %>
    </div>
  </div>

  <%# НА СЧЕТУ %>
  <div class="profileable-item bottom-space-none">
    На счету: <%= number_to_currency @somebody.cached_debit, :precision => 0 %>
    <div class="profileable-item-controls">
      <%# namespace = admin_zone? ? [:admin, @somebody] : [:user] %>
      <% if admin_zone? %>
        <%= link_to [:new, *jaba3, :cashes], class: "btn btn-primary btn-sm", remote: true do %>
          <%= icon 'plus' %>
        <% end %>
      <% else %>
        <%= link_to new_user_payment_path, class: "btn btn-primary btn-sm" do %>
          <%= icon 'plus' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="profileable-item bottom-space-none">
    Скидка: <%= @somebody.discount %>%
  </div>

  <div class="profileable-item bottom-space-none">
    Предоплата: <%= @somebody.prepayment %>%
  </div>

  <ul id="auth-buttons" class="list-unstyled list-inline">
    <%# Муть какая-то, если слить в одну строку, то пробела не будет, иначе как - не знаю %>
    <%- @somebody.auths.each do |auth| -%><li><%= render "application/auth/logged_in", auth: auth %></li><%- end -%>
  </ul>
</div>
