<% model_class = User %>

<%
    array = [
      {title: 'Конт. лицо', icon: 'user', assoc: 'profile'},
      {title: 'Адрес', icon: 'home', assoc: 'postal_address'},
      {title: 'Автомобиль', icon: 'truck', assoc: 'car'},
      {title: 'Компания', icon: 'briefcase', assoc: 'company'} ]
%>

<% array.each do |item| %>

  <h4 class="profileable-category">
    <%= link_to smart_route({:postfix => [item[:assoc].pluralize]}, :user_id => @somebody.id) do %>
      <div>
        <%= icon item[:icon] %>
        <%= item[:title] %>
      </div>
    <% end %>
    <%= link_to [:new, *jaba3, item[:assoc]], :class => "btn btn-sm btn-primary profileable-category-add" do %>
      <%= icon 'plus' %>
    <% end %>
  </h4>

  <% @somebody.send(item[:assoc].pluralize).select(&:persisted?).each do |partial| %>
    <div class="profileable-item">
      <%= render :partial => "profileables/shows/#{partial.class.name.underscore}", :locals => {partial.class.name.underscore.to_sym => partial} %>
      <%= render :partial => 'profileables/shows/notes', :locals => {resource: partial} %>
      <%= render :partial => 'profileables/item_controls', :locals => {:resource => partial} %>
    </div>
  <% end %>


<% end %>

<h4 class="profileable-category">
  <div>
    <%= icon 'money' %>
    Деньги
  </div>
</h4>

<%# В РАБОТЕ %>
<div class="profileable-item bottom-space-none">
  В работе: <%= number_to_currency @somebody.cached_credit, :precision => 0 %>
  <div class="profileable-item-controls">
    <%# namespace = admin_zone? ? [:admin, @somebody] : [:user] %>
    <%= link_to polymorphic_path([:status, *jaba3, :products], :status => 'active') , class: "btn btn-info btn-sm" do %>
      <%= icon 'info-circle' %>
    <% end %>
  </div>
</div>

<%# НА СЧЕТУ %>
<div class="profileable-item bottom-space-none">
  На счету: <%= number_to_currency @somebody.cached_debit, :precision => 0 %>
  <div class="profileable-item-controls">
    <%# namespace = admin_zone? ? [:admin, @somebody] : [:user] %>
    <%= link_to [:new, *jaba3, :cashes], class: "btn btn-primary btn-sm" do %>
      <%= icon 'plus' %>
    <% end %>
  </div>
</div>



<%# СОЦ СЕТИ %>
<h4 class="profileable-category">
  <%= link_to '#' do %>
    <div>
      <%= icon 'group' %>
      Соц. сети
    </div>
  <% end %>
</h4>

<ul id="auth-buttons" class="list-unstyled list-inline">
  <%# Муть какая-то, если слить в одну строку, то пробела не будет, иначе как - не знаю %>
  <%- @somebody.auths.each do |auth| -%><li><%= render "application/auth/logged_in", auth: auth %></li><%- end -%>
</ul>

<ul class="list-unstyled text-muted">
  <li class="bottom-space-xs">Скидка: <b><%= @somebody.discount %>%</b></li>
  <li class="bottom-space-xs">Предоплата по товару не в наличии: <b><%= @somebody.prepayment %>%</b></li>
  <li class="bottom-space-xs">Населенный пункт: <b><%= @somebody.ipgeobase_name %></b></li>
  <li class="bottom-space-xs">Регион: <b><%= @somebody.ipgeobase_names_depth_cache %></b></li>
  <li class="bottom-space-xs">Версия браузера: <b><%= @somebody.user_agent %></b></li>
  <li class="bottom-space-xs">Язы браузера: <b><%= @somebody.accept_language %></b></li>
  <li class="bottom-space-xs">Часовой пояс: <b><%= @somebody.cached_russian_time_zone_auto_id %></b></li>
  <li class="bottom-space-xs">IP адрес: <b><%= @somebody.remote_ip %></b></li>
  <li class="bottom-space-xs">Он-лайн: <b><%= @somebody.online %></b></li>
  <li class="bottom-space-xs">Просмотров страниц: <b><%= @somebody.stats_count %></b></li>
  <li class="bottom-space-xs">Текущее расположение: <b><%= truncate @somebody.cached_location, length: 20 %></b></li>
  <li class="bottom-space-xs">Заголовок страницы: <b><%= @somebody.cached_title %></b></li>
  <li class="bottom-space-xs">Пришел со страницы: <b><%= truncate @somebody.cached_referrer, length: 20 %></b></li>
  <li class="bottom-space-xs">Откуда пришел впервые: <b><%= truncate @somebody.first_referrer, length: 20 %></b></li>
</ul>
