<% model_class = User %>

<%
    array = [
      {title: 'Конт. лицо', icon: 'user', assoc: 'profile'},
      {title: 'Адрес', icon: 'home', assoc: 'postal_address'},
      {title: 'Автомобиль', icon: 'truck', assoc: 'car'},
      {title: 'Компания', icon: 'briefcase', assoc: 'company'} ]
%>

<% array.each do |item| %>

  <h4 class="profileable-category">
    <%= link_to smart_route({:postfix => [item[:assoc].pluralize]}, :user_id => @somebody.id) do %>
      <div>
        <%= icon item[:icon] %>
        <%= item[:title] %>
      </div>
    <% end %>
    <%= link_to [:new, (admin_zone? ? :admin : nil), (admin_zone? ? @somebody : :user), item[:assoc]], :class => "btn btn-sm btn-primary profileable-category-add" do %>
      <%= icon 'plus' %>
    <% end %>
  </h4>

  <% @somebody.send(item[:assoc].pluralize).each do |partial| %>
    <div class="profileable-item">
      <%= render :partial => "profileables/shows/#{partial.class.name.underscore}", :locals => {partial.class.name.underscore.to_sym => partial} %>
      <%= render :partial => 'profileables/shows/notes', :locals => {resource: partial} %>
      <%= render :partial => 'profileables/item_controls', :locals => {:resource => partial} %>
    </div>
  <% end %>

<% end %>


<h4 class="profileable-category">
  <div>
    <%= icon 'money' %>
    Деньги
  </div>
</h4>

<%# В РАБОТЕ %>
<div class="profileable-item">
  В работе: <%= number_to_currency @somebody.cached_credit %>
  <div class="profileable-item-controls">
    <% namespace = admin_zone? ? [:admin, @somebody] : [:user] %>
    <%= link_to polymorphic_path([:status, *namespace, :products], :status => 'active') , class: "btn btn-warning btn-sm" do %>
      <%= icon 'edit' %>
    <% end %>
  </div>
</div>

<%# НА СЧЕТУ %>
<div class="profileable-item">
  На счету: <%= number_to_currency @somebody.cached_debit %>
  <div class="profileable-item-controls">
    <% namespace = admin_zone? ? [:admin, @somebody] : [:user] %>
    <%= link_to [:new, *namespace, :cashes], class: "btn btn-warning btn-sm" do %>
      <%= icon 'edit' %>
    <% end %>
  </div>
</div>

<%# СОЦ СЕТИ %>
<h4 class="profileable-category">
  <%= link_to '#' do %>
    <div>
      <%= icon 'group' %>
      Соц. сети
    </div>
  <% end %>
</h4>

<ul id="auth-buttons" class="list-unstyled list-inline">
  <%# Муть какая-то, если слить в одну строку, то пробела не будет, иначе как - не знаю %>
  <%- @somebody.auths.each do |auth| -%><li><%= render "application/auth/logged_in", auth: auth %></li><%- end -%>
</ul>
