<div class="container">

  <%= row do %>

    <%= somebody_tabs do %>

      <% title_show %>

      <%= breadcrumb true do |b| %>
        <%= b.item @meta_title %>
      <% end %>

      <%= title_show %>

      <%= render 'smart_show' %>

    <% end %>

  <% end %>

</div>
