<%= simple_form_for(@resource, :url => polymorphic_path([:user, @resource], return_path: params[:return_path]), html: { class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>

  <%= f.error_notification %>

  <%= f.input :vin_or_frame, collection: [['VIN код', 'vin'], ['FRAME код', 'frame']],
    label_method: :first,
    value_method: :last,
    as: :radio_buttons,
    item_label_class: "radio-inline",
    item_wrapper_tag: false,
    label: '',
    input_html: {
      vin_or_frame:'',
      rel: 'radio' } %>

  <%= f.input :vin, wrapper_html: {vin:''}, required: true %>
  <%= f.input :frame, wrapper_html: {frame:''}, required: true %>

  <%= f.input :brand, as: :select2, input_html: {data: {manufacturer: '1'}}, placeholder: 'Выберите или добавьте нового производителя'  %>
  <%= f.input :model, as: :select2, placeholder: 'Выберите или добавьте новую модель'  %>
  <%= f.input :generation, as: :select2, placeholder: 'Выберите или добавьте новое поколение'  %>
  <%= f.input :modification, as: :select2, placeholder: 'Выберите или добавьте новую модификацию'  %>

  <%= f.input :notes, input_html: {rows: 5} %>

  <div class="col-sm-offset-6 col-sm-18">
    <%= f.buttons 'Сохранить' %>
  </div>

<% end %>
