<%= simple_form_for(@test) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :binary %>
    <%= f.input :boolean %>
    <%= f.input :date %>
    <%= f.input :datetime %>
    <%= f.input :decimal %>
    <%= f.input :float %>
    <%= f.input :integer %>
    <%= f.input :string %>
    <%= f.input :text %>
    <%= f.input :time %>
    <%= f.input :timestamp %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
