<h1>Listing tests</h1>

<table>
  <thead>
    <tr>
      <th>Binary</th>
      <th>Boolean</th>
      <th>Date</th>
      <th>Datetime</th>
      <th>Decimal</th>
      <th>Float</th>
      <th>Integer</th>
      <th>String</th>
      <th>Text</th>
      <th>Time</th>
      <th>Timestamp</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.binary %></td>
        <td><%= test.boolean %></td>
        <td><%= test.date %></td>
        <td><%= test.datetime %></td>
        <td><%= test.decimal %></td>
        <td><%= test.float %></td>
        <td><%= test.integer %></td>
        <td><%= test.string %></td>
        <td><%= test.text %></td>
        <td><%= test.time %></td>
        <td><%= test.timestamp %></td>
        <td><%= link_to 'Show', test %></td>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test', new_test_path %>
