<p id="notice"><%= notice %></p>

<p>
  <strong>Binary:</strong>
  <%= @test.binary %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @test.boolean %>
</p>

<p>
  <strong>Date:</strong>
  <%= @test.date %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @test.datetime %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @test.decimal %>
</p>

<p>
  <strong>Float:</strong>
  <%= @test.float %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @test.integer %>
</p>

<p>
  <strong>String:</strong>
  <%= @test.string %>
</p>

<p>
  <strong>Text:</strong>
  <%= @test.text %>
</p>

<p>
  <strong>Time:</strong>
  <%= @test.time %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @test.timestamp %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
