<% b = Breadcrumb.new(self) %>

<%= b1 do %>

  <ol class="breadcrumb">
    <%= b.item('Каталоги', catalogs_path) %>
    <%= b.item(@brand.name, catalogs_brand_path(@brand)) %>
    <%= b.item(@model.name, catalogs_model_path(@model)) %>
    <%= b.item(@generation.name, catalogs_generation_path(@generation)) %>
    <%= b.item(@modification.name) %>
  </ol>

  <% @meta_title = "#{@brand.name} #{@model.name} #{@generation.name} #{@modification.name}" %>
  <%= page_header %>

  <%= render 'best_parts_list' %>

  <% if @modification.content.present? %>
    <hr />
    <div id="catalogs-modification-content"><%== @modification.content %></div>
  <% end %>

  <% if @current_user.seller? %>
    <%= link_to edit_admin_modification_path(@modification, :return_path => request.fullpath), class: 'btn btn-lg btn-warning top-space-lg bottom-space-lg' do %>
      <%= icon 'edit' %>
      Редактировать
    <% end %>
  <% end %>

<% end %>
