<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">

  <div class="container">

    <div class="navbar-header">

      <a class="navbar-brand" href="/admin">
        <%= image_tag "logo.png", alt: ckpart('name') %>
      </a>

      <button class="navbar-toggle ignoredirty" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">

        <span class="sr-only">Навигация</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

    </div> <!-- /.navbar-header -->

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="divider-vertical invisible"></li>
        <%= dropdown do |dd| %>

          <%= dd.toggle do %>
            <span class="ignoredirty">Торговля</span>
            <%= caret %>
          <% end %>
          <%= dd.menu do %>
            <%= dd.submenu do %>

              <%= render_menu \
                :title => "Заказы", \
                :catch => [], \
                :link => admin_orders_path, \
                :class => 'dropdown dropdown-submenu', \
                :dropdown => _build_dropdowns('order', 'orders', Rails.configuration.orders_status, Rails.configuration.orders_menu, nil)
              %>

              <%= render_menu \
                :title => "Товары", \
                :catch => [], \
                :link => admin_products_path, \
                :class => 'dropdown dropdown-submenu', \
                :dropdown => _build_dropdowns('product', 'products', Rails.configuration.products_status, Rails.configuration.products_menu, nil)
              %>

            <% end %>

            <li> <%= link_to "Деньги", transactions_admin_accounts_path %> </li>

            <%= divider %>

            <li> <%= link_to "Пользователи", admin_users_path %> </li>

            <li> <%= link_to "Поставщики", admin_suppliers_path %> </li>

            <%= divider %>

            <%= dd.submenu do %>
              <%= dd.toggle do %>
                Контактные лица
              <% end %>
              <%= dd.menu do %>
                <li> <%= link_to 'Все', admin_profiles_path %> </li>
                <li> <%= link_to 'Имена', admin_names_path %> </li>
                <li> <%= link_to 'Телефоны', admin_phones_path %> </li>
                <li> <%= link_to 'E-mail адреса', admin_emails_path %> </li>
                <li> <%= link_to 'Паспорта', admin_passports_path %> </li>
              <% end %>
            <% end %>

            <li> <%= link_to 'Почтовые адреса', admin_postal_addresses_path %> </li>
            <li> <%= link_to 'Автомобили', admin_cars_path %> </li>
            <li> <%= link_to 'Компании', admin_companies_path %> </li>

          <% end %>
        <% end %>

        <%= dropdown do |dd| %>
          <%= dd.toggle do %>
            <span class="ignoredirty">Материал</span>
            <%= caret %>
          <% end %>
          <%= dd.menu do %>
            <li> <%= link_to "Производители", admin_brands_path  %> </li>
            <%= divider %>
            <li role="presentation" class="dropdown-header">Автомобили</li>
            <li> <%= link_to "Модели", admin_models_path %> </li>
            <li> <%= link_to "Поколения", admin_generations_path %> </li>
            <li> <%= link_to "Модификации", admin_modifications_path %> </li>
            <%= divider %>
            <li role="presentation" class="dropdown-header">Товары</li>
            <li> <%= link_to "Описания", admin_spare_infos_path %> </li>
            <li> <%= link_to "Применимость", admin_spare_applicabilities_path %> </li>
            <li> <%= link_to "Категории", admin_spare_catalogs_path %> </li>
            <li> <%= link_to "Группы категорий", admin_spare_catalog_groups_path %> </li>
            <% if false %>
            <%= dd.submenu do %>
              <%= dd.toggle do %>
                Категории
              <% end %>
              <%= dd.menu do %>
                <li> <%= link_to 'Аккумуляторы', admin_opts_accumulators_path %> </li>
              <% end %>
            <% end %>
            <% end %>
            <li> <%= link_to "Замены", admin_spare_replacements_path %> </li>
          <% end %>
        <% end %>

        <%= dropdown do |dd| %>
          <%= dd.toggle do %>
            <span class="ignoredirty">Настройки</span>
            <%= caret %>
          <% end %>
          <%= dd.menu do %>
            <li> <%= link_to "Боты", admin_bots_path %> </li>
            <li> <%= link_to "Очередь задач", '/sidekiq' %> </li>
            <li> <%= link_to "Галерея", admin_galleries_path %> </li>
            <%= dd.submenu do %>
              <%= dd.toggle do %>
                Доставка
              <% end %>
              <%= dd.menu do %>
                <li> <%= link_to "Опции заказов", admin_deliveries_options_path  %> </li>
                <li> <%= link_to "Выделенные зоны", admin_deliveries_places_path %> </li>
                <li> <%= link_to "Варианты вычисляемой доставки", '#' %> </li>
                <!--
                /= divider
                /li = link_to "Способы доставки", admin_deliveries_path
                /li = link_to "Транспортные и почтовые компании", admin_mails_path TODO
                -->
              <% end %>
            <% end %>
            <%= dd.submenu do %>
              <%= dd.toggle do %>
                Трэш
              <% end %>
              <%= dd.menu do %>
                <li> <%= link_to "Фронт", "/trash_help/index" %> </li>
                <li> <%= link_to "Звонки", calls_path %> </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <%= dropdown do |dd| %>
          <%= dd.toggle do %>
            <%= icon 'envelope' %>
              <span class="hidden-sm">
                Почта
              </span>
            <%= caret %>
          <% end %>
          <%= dd.menu do %>
            <li class="dropdown-header">
              Логин: info@avtorif.ru<br />Пароль: avtorif-2015
            </li>
            <%= divider %>
            <li>
              <%= link_to 'http://mail.avtorif.ru', target: '_blank' do %>
                Перейти в почту
              <% end %>
            </li>
          <% end %>
        <% end %>


        <%= dropdown do |dd| %>
          <%= dd.toggle do %>
            <%= icon 'user' %>
            <span class="hidden-sm">
              <%= current_user.name %>
            </span>
            <%= caret %>
          <% end %>
          <%= dd.menu do %>
            <li> <%= link_to "Публичная зона", root_path %> </li>
            <%= divider %>
            <li> <%= link_to "Личный кабинет", admin_user_path(current_user) %> </li>
            <li> <%= link_to "Выход", logout_path, :method => :delete %> </li>
          <% end %>
        <% end %>
      </ul>

    </div>

  </div>

</nav>
