<footer class="clearfix text-xs" style="padding-top: 30px; color: #555; background: #111;">

  <div class="container">

    <div style="display: table; width: 100%;" class="bottom-space-lg">
      <div style="display: table-row">
        <% deliveries_count = Deliveries::Place.where(display_marker: true, active: true).count %>
        <% if deliveries_count > 0 %>
          <% width = 100 / deliveries_count %>
          <% Deliveries::Place.where(display_marker: true, active: true).each do |dp| %>
            <div style="display: table-cell; width: <%= width %>%;">

              <address style="margin-bottom: 0">
                <strong style="color: #eee; margin-bottom: 5px; display: inline-block; font-family: 'trebuchet ms','helvetica cy',sans-serif; text-transform: uppercase"><span> <%= link_to(dp.name, deliveries_path, style: "color: white") %> </span></strong>

                <span><%= dp.address_locality %></span>
                <span><%= dp.postal_code %></span>
                <% if dp.postal_code.present? %>
                  <br />
                <% end %>
                <span><%= dp.street_address %></span>
                <% if dp.street_address.present? %>
                  <br />
                <% end %>
                <% (1..5).each do |n| %>
                  <% if dp.instance_eval("phone#{n}").present? %>
                    <%= icon 'phone-square' %>
                    <span><%= dp.instance_eval("phone#{n}") %></span><br />
                  <% end %>
                <% end %>
                <% (1..3).each do |n| %>
                  <% if dp.instance_eval("email#{n}").present? %>
                    <%= icon 'envelope' %>
                    <a href="mailto:<%= dp.instance_eval("email#{n}") %>"><span><%= dp.instance_eval("email#{n}") %></span></a><br />
                  <% end %>
                <% end %>
              </address>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!--
    <div class="clearfix bottom-space">
      <strong>
        <span class="pull-left text-warning right-space-lg">21 мата 2014. Рады сообщить вам, чтобы ма запустили доставку с помощью ПЭК. </span>
        <span class="pull-right"> &copy; Авториф 1997г. </span>
      </strong>
    </div>
    -->

</footer>
