<% end %>

<% if Rails.configuration.common['share_buttons'] %>
  <h4>Поделиться ссылкой на эту страницу.</h4>
  <div style="margin-left: -4px" class="bottom-space-sm">
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
  </div>
<% end %>

<footer class="clearfix text-xs" style="margin-top: 50px; padding-top: 30px; color: #555; background: #111;">
  <div class="container bottom-space">
    <% if Rails.configuration.common['display_counters'] %>
      <%== ckpart('yandex') %>
      <%== ckpart('mail') %>
      <%== ckpart('rambler') %>
      <%== ckpart('google') %>
      <%== ckpart('openstat') %>
      <%== ckpart('liveinternet') %>
    <% end %>
    <span class="pull-right">© 1997–<%= Time.zone.now.year %> Авториф</span>
  </div>
</footer>
