<nav id="nav-first" class="navbar navbar-default navbar-static-top headroom" role="navigation">

  <div class="container">

    <div class="navbar-header">

      <a class="navbar-brand" href="/">
        <div id="crop-navbar-brand">
          <%= image_tag "logo.png", alt: Rails.application.config_for('application/block')['name'] %>
        </div>
      </a>

      <button class="navbar-toggle ignoredirty" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">

        <span class="sr-only">Навигация</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

    </div> <!-- /.navbar-header -->

    <div class="navbar-collapse collapse navbar-responsive-collapse">

      <%= render 'common_search_form' %>

      <ul class="nav navbar-nav navbar-right">

        <%= dropdown id: 'dropdown-phone' do |dd| %>
          <%= dd.toggle id: 'toggle-phone' do %>
            Контакты
          <% end %>
          <%= dd.menu do %>
              <%= render partial: 'navbar_shop', collection:  Deliveries::Place.where(display_marker: true, active: true, partner: false), spacer_template: "navbar_divider" %>
              <li class="divider"></li>
              <li class="dropdown-header">Не можете дозвониться? Оставьте <br />номер телефона и мы вам перезвоним.</li>
              <li>
                <%= link_to "Обратный звонок", '#', class: 'link callback-link' %>
              </li>
              <li class="divider"></li>
              <li class="dropdown-header">Если вам необходимо передать номера<br /> деталей, фотографию, VIN код и тд, <br />то рекомендуем воспользоваться чатом.</li>
              <li>
                <%= link_to "Онлайн консультант", '#', class: 'talk-show link' %>
              </li>
          <% end %>
        <% end %>

        <li class="<%= highlight_active([:controller => '/products', :status => 'incart']) %>">
          <%= link_to smart_route({:prefix => [:status], :postfix => [:products]}, :status => 'incart') do %>
            <%= icon 'shopping-cart' %> 
            <% count = current_user.products.where(:status => 'incart').count %>
            Корзина <span id="products_incart" class="badge"><%= count if count > 0 %></span>
          <% end %>
        </li>

        <%= dropdown class: highlight_active2([/\/login/, /\/register/, /\/password_reset/]) do |dd| %>

          <%= dd.toggle do %>
            <%= icon 'user' %>
            <% if current_user.role != 'guest' %>
              <span class="hidden-sm"><%= current_user.name %></span>
            <% else %>
              Вход
            <% end %>
          <% end %>

          <%= dd.menu do %>
            <% if current_user.role == 'guest' %>
              <li> <%= link_to "Вход на сайт", main_app.login_path %> </li>
              <li> <%= link_to "Регистрация", main_app.register_path %> </li>
              <%= divider %>
              <li> <%= link_to "Забыли пароль?", main_app.password_reset_path %> </li>
            <% else %>
              <% if ["admin", "manager"].include? current_user.role %>
                <li> <%= link_to "Закрытая зона", main_app.admin_path %> </li>
                <%= divider %>
                <%= content_for :menu_items %>
              <% end %>
              <li> <%= link_to "Личный кабинет", main_app.user_path %> </li>
              <li> <%= link_to "Выход", main_app.logout_path, :method => :delete %> </li>
            <% end %>
          <% end %>

        <% end %>

      </ul>

    </div>

  </div> <!-- /.container -->

  <div id="nav-second" class="navbar-inverse">
    <div class="container">
      <div class="collapse navbar-collapse navbar-responsive-collapse">

        <ul id="nav-btns" class="nav navbar-nav">

          <%= content_tag :li, class: highlight_active2(/^\/catalogs/) do %>
            <%= link_to "Каталоги".html_safe, main_app.catalogs_path, id: 'nav-btns-catalogs' %>
          <% end %>

          <%= content_tag :li, class: highlight_active2(/^\/brands/) do %>
            <%= link_to "Производители".html_safe, main_app.brands_path, id: 'nav-btns-brands' %>
          <% end %>

          <%= content_tag :li, class: highlight_active2(/^\/categories/) do %>
            <%= link_to "Категории".html_safe, main_app.categories_path, id: 'nav-btns-parts' %>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <%= content_tag :li, class: highlight_active2(/\/news/) do %>
            <%= link_to "Новости", "/news" %>
          <% end %>

          <%= content_tag :li, class: highlight_active2(/\/user\/payments/) do %>
            <%= link_to "Оплата", main_app.new_user_payment_path %>
          <% end %>

          <%= content_tag :li, class: highlight_active([:controller => "/deliveries"]) do %>
            <%= link_to "Доставка", main_app.deliveries_path %>
          <% end %>

          <%= content_tag :li, class: highlight_active2(/\/faqs/) do %>
            <%= link_to "Информация", main_app.faqs_path %>
          <% end %>

        </ul>


      </div>

    </div> <!-- /.container -->

  </div>

</nav>
