<nav class="navbar navbar-default navbar-static-top headroom" role="navigation" style="margin-bottom: 0">

  <div class="container">

    <div class="navbar-header">

      <a class="navbar-brand" href="/">
        <%= image_tag "logo.png" %>
      </a>

      <button class="navbar-toggle ignoredirty" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">

        <span class="sr-only">Навигация</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

    </div> <!-- /.navbar-header -->

    <div class="navbar-collapse collapse navbar-responsive-collapse">

      <%= render 'common_search_form' %>

      <ul class="nav navbar-nav navbar-right">

        <li class="<%= highlight_active([:controller => '/products', :status => 'incart']) %>">
          <%= link_to smart_route({:prefix => [:status], :postfix => [:products]}, :status => 'incart') do %>
            <%= icon 'shopping-cart' %> 
            <% count = current_user.products.where(:status => 'incart').count %>
            Корзина <span id="products_incart" class="badge"><%= count if count > 0 %></span>
          <% end %>
        </li>

        <%= dropdown class: highlight_active2([/\/login/, /\/register/, /\/password_reset/]) do |dd| %>

          <%= dd.toggle do %>
            <%= icon 'user' %>
            <% if current_user.role != 'guest' %>
              <span class="hidden-sm"><%= current_user.name %></span>
            <% else %>
              Вход
            <% end %>
            <%= caret %>
          <% end %>

          <%= dd.menu do %>
            <% if current_user.role == 'guest' %>
              <li> <%= link_to "Вход на сайт", login_path %> </li>
              <li> <%= link_to "Регистрация", register_path %> </li>
              <%= divider %>
              <li> <%= link_to "Забыли пароль?", password_reset_path %> </li>
            <% else %>
              <% if ["admin", "manager"].include? current_user.role %>
                <li> <%= link_to "Закрытая зона", admin_path %> </li>
                <%= divider %>
              <% end %>
              <li> <%= link_to "Личный кабинет", user_path %> </li>
              <li> <%= link_to "Выход", logout_path, :method => :delete %> </li>
            <% end %>
          <% end %>

        <% end %>

      </ul>

    </div>

  </div> <!-- /.container -->

  <div id="nav-second" class="navbar-inverse">

    <div class="container">

      <div class="collapse navbar-collapse navbar-responsive-collapse">

        <ul class="nav navbar-nav">

          <%= content_tag :li, class: highlight_active2(/\/news/) do %>
            <%= link_to "Новости", "/news" %>
          <% end %>

          <!-- <%= content_tag :li, class: highlight_active2(/\/discount/) do %> -->
          <!--   <%= link_to "Акции и бонусы", "/discount" %> -->
          <!-- <% end %> -->

          <%= content_tag :li, class: highlight_active2(/\/user\/payments/) do %>
            <%= link_to "Оплата", new_user_payment_path %>
          <% end %>

          <%= content_tag :li, class: highlight_active([:controller => "/deliveries"]) do %>
            <%= link_to "Магазины", deliveries_path %>
          <% end %>

          <%= content_tag :li, class: highlight_active2(/\/service/) do %>
            <%= link_to "СТО", '/service' %>
          <% end %>

          <%= content_tag :li, class: highlight_active2(/\/catalogs/) do %>
            <%= link_to "Каталоги", catalogs_path %>
          <% end %>

          <%= content_tag :li, class: highlight_active2(/\/categories/) do %>
            <%= link_to "Товары", categories_path %>
          <% end %>

          <%= content_tag :li, class: highlight_active2(/\/faqs/) do %>
            <%= link_to "Информация", "/faqs" %>
          <% end %>

        </ul>

      </div>

    </div> <!-- /.container -->

  </div>

</nav>
