<%= render :partial => 'layouts/shared/prefix' %>

<%= render :partial => "layouts/admin_navbar" %>

<div id="important">
  <%= render 'important' %>
</div>

<%= yield %>

<%= render "layouts/admin_footer" %>

<%= render :partial => "layouts/shared/suffix" %>
