<%= render :partial => 'layouts/shared/prefix' %>

<%= render '/layouts/user_navbar' %>

<div id="important">
  <%= render 'important' %>
</div>

<%= yield %>

<%= render 'layouts/user_footer' %>

<%= render 'tawk_to' %>

<%= render :partial => "layouts/shared/suffix" %>
