<%= render :partial => "layouts/shared/html_prefix" %>

<%= render :partial => 'layouts/shared/body_prefix' %>

<%= render '/layouts/user_navbar' %>

<div class="container">

  <%= render 'menu' %>

  <%= render 'flash' %>

  <%= yield :form_error %>

  <div id="confirm-block">
    <%= render 'confirm' %>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= render 'talk_button' %>
      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/shared/footer' %>

</div>

<%= render :partial => 'layouts/shared/body_suffix' %>

<%= render :partial => "layouts/shared/html_suffix" %>
