<%= render :partial => 'layouts/shared/prefix' %>

<%= render '/layouts/user_navbar' %>

<div id="important">
  <%= render 'important' %>
</div>

<%= yield %>

<%= render 'layouts/user_footer' %>

<% if current_user.buyer? %>
  <%= render 'talk' %>
<% end %>

<%= render :partial => "layouts/shared/suffix" %>
